/*页眉css*/

 @font-face{
	font-family:'Source Han Sans CN';
	src:url("/amoydx/USER/wujianming/config/Fonts/SourceHanSansCN/SourceHanSansCN-Normal.otf");
}

@font-face{
	font-family:'times';
	src:url("/amoydx/USER/wujianming/config/Fonts/Times/times.ttf");
}


i,a,p,td,{
	font-family: 'Source Han Sans CN';
}

.yemei_png{
	width:300px;
}

.yemei_sampleName{
	font-size:18px;
}

.yemei_sampleNumber{
	font-size:18px;
	padding-left:45px;
}

.yemei_hr {
	border:1px solid #9BB9AE;
}


/*数据质控*/

.control_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.blood_table1{
	font-size:20px;
	line-height:1.4;
	text-align:center;
	margin-top:60px;
	margin-left:200px;
	width:786px;
}

.blood_td1{
	width:20%;
	height:66px;
	background-color:#1F6342;
	color:white;
}

.blood_td2{
	width:40%;
	height:66px;
	background-color:#005938;
	color:white;
}

.blood_td3{
	width:25%;
	height:66px;
	background-color:#3B6E52;
	color:white;
}

.blood_td4{
	width:15%;
	height:66px;
	background-color:#4F7861;
	color:white;
}

.blood_table2{
	width:784px;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
	margin-left:201px;
	border-collapse:collapse;
	border-spacing:0;
}

.blood_td5{
	border: 2px dashed grey;
	width:20%;
	height:90px;
	padding-top:10px;
	padding-bottom: 10px;
}

.blood_td6{
	border:2px dashed grey;
	width:40%;
}

.blood_td7{
	border: 2px dashed grey;
	width:25%;
}

.blood_td8{
	border: 2px dashed grey;
	width:15%;
}

.blood_td9{
	border: 2px dashed grey;
	width:20%;
	height:auto!important;
	/*height:220px;*/
	padding-top:10px;
	padding-bottom: 10px;
}

.blood_div1{
	font-size:20px;
	background-color: #EDF0F5;
	height:370px;
	line-height: 30px;
	text-indent: 3em;
	width:786px;
	margin-left:201px;
	margin-top:80px;
}

.tissue_table1{
	font-size:20px;
	line-height:1.4;
	text-align:center;
	margin-top:60px;
	margin-left:200px;
	width:786px;
}

.tissue_td1{
	width:20%;
	height:66px;
	background-color:#1F6342;
	color:white;
}

.tissue_td2{
	width:40%;
	height:66px;
	background-color:#005938;
	color:white;
}

.tissue_td3{
	width:25%;
	height:66px;
	background-color:#3B6E52;
	color:white;
}

.tissue_td4{
	width:15%;
	height:66px;
	background-color:#4F7861;
	color:white;
}

.tissue_table2{
	width:784px;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
	margin-left:201px;
	border-collapse:collapse;
	border-spacing:0;
}

.tissue_td5{
	border: 2px dashed grey;
	width:20%;
	height:135px;
	padding-top:10px;
	padding-bottom: 10px;
}

.tissue_td6{
	border: 2px dashed grey;
	width:20%;
	height:90px;
	padding-top:10px;
	padding-bottom: 10px;
}

.tissue_td7{
	border: 2px dashed grey;
	width:20%;
	height:auto!important;
/*	height:220px; */
	padding-top:10px;
	padding-bottom: 10px;
}

.tissue_td8{
	border: 2px dashed grey;
	width:40%;
}

.tissue_td9{
	border: 2px dashed grey;
	width:25%;
}

.tissue_td10{
	border: 2px dashed grey;
	width:15%;
}

.tissue_div1{
	font-size:20px;
	background-color: #EDF0F5;
	height:380px;
	line-height: 30px;
	text-indent: 3em;
	width:786px;
	margin-left:201px;
	margin-top:80px;
}

/* 第一页css */
.pg1_div1 {
	position: absolute;
	margin-left: 60px;
}

.pg1_p1 {
	font-weight: bolder;
	font-size: 42px;
	padding-top:260px;
}

.pg1_span1{
	font-size:25px;
	letter-spacing: 0.5px;
	font-weight:normal;
}

.pg1_img1 {
	position: relative;
	margin-left: 900px;
	margin-top:1410px;
	width:140px;
}

/*化疗css*/



.chem_title{
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:40px;
	line-height: 48px;
	margin-top:30px;
}

.chem_gene{
	width:150px;
	border-bottom: 2px grey dashed;
}

.chem_rs{
	width:160px;
	border-bottom: 2px grey dashed;
}

.chem_genetype{
	width:150px;
	border-bottom: 2px grey dashed;
	height:40px;
}

.chem_rank{
	width:140px;
	border-bottom: 2px grey dashed;
	height:40px;
}

.chem_drug{
	width:150px;
	border-bottom: 2px grey dashed;
	height:40px;
}

.chem_grad{
	width:120px;
	border-bottom: 2px grey dashed;
	height:40px;
}



.chem_table1{
	font-size:20px;
	line-height:1.4;
	text-align:center;
}

.chem_tab1td1{
	width:180px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.chem_tab1td2{
	width:150px;
	height:60px;
	background-color:#2E6942;
	color:white;	
}

.chem_tab1td3{
	width:160px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.chem_tab1td4{
	width:150px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.chem_tab1td5{
	width:130px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.chem_tab1td6{
	width:150px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.chem_tab1td7{
	width:120px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.chem_table2{
	margin-top:6px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.chem_tab2td1{
	width:180px;
	height:200px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.chem_tab2td2{
	width:180px;
	height:120px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.chem_tab2td3{
	width:180px;
	height:80px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.chem_tab2td4{
	width:180px;
	height:120px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.chem_tab2td5{
	width:180px;
	height:240px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.chem_tab2td6{
	width:180px;
	height:40px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.chem_tab2td7{
	width:180px;
	height:160px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}



.chem_tab2td8{
	width:180px;
	height:80px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.chem_tab2td9{
	width:180px;
	height:40px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}








/*第二页css*/

.pg2_div1 {
	width:950px;
	margin-left: 50px;
	height: 1420px;
	text-align:justify;
	font-size:24px;
	text-indent: 2em;
}

.pg2_p1 {
	font-size:50px;
	padding-top:80px;
	text-indent:0em;
}

.pg2_p2 {
	text-indent:0em;
}

.pg2_p-1 {
	float:right;
	margin-top:100px;
}

/*第三页*/
.frame_div {
	position: relative;
	width:100%;
	height: 1480px;
}



.pg3_p1 {
	background-color:#EBEDF3;
	font-size:25px;
	border-radius:7px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
}

.pg3_table1 {
	border-style: none;
	border-top: 1px solid #7D7D7B;
	border-bottom: 1px solid #7D7D7B;
	font-size:18px;
	background-color: #EBEDF3;
	line-height:35px;
	width: 1034px;
	max-width: 100%;
	position: absolute;
	bottom: 1200px;
}

.pg3_td1 {
	padding-top:5px; 
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	text-indent: 1em;
}

.pg3_p2 {
	position: absolute;
	bottom: 1100px;
	background-color:#EBEDF3;
	font-size:25px;
	border-radius:7px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:40px;
	width:100%;
}

.pg3_table2{
	position: absolute;
	bottom: 988px;
	line-height: 5px;
	border-style: none;
	border-top: 1px solid #7D7D7B;
	border-bottom: 1px solid #7D7D7B;
	font-size:18px;
	background-color: #EBEDF3;
	line-height:35px;
	width: 1034px;
}

.pg3_td2 {
	padding-top:5px;
	width: 33%; 
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	text-indent: 1em;
}

.pg3_table3{
	font-size:23.5px;
	margin-top:50px;
}

.pg3_td3{
	width:620px;
	height:50px;
	background-color:#EBEDF3;
	letter-spacing: 1.8px;
	text-indent: 1em;
}

.pg3_td4{
	width:610px;
	height:50px;
	background-color:#EBEDF3;
	letter-spacing: 1.8px;
	text-indent: 1em;
}

.pg3_td5{
	background-color:#09492A;
	height:50px;
	text-indent: 1em;
	color:white;
}

.pg3_div1{

	width:auto!important;
	height:600px;
	margin-left:60px;
	margin-top:50px;
	margin-right:60px;
	font-size:17px;
}

.pg3_td6 {
	height:50px;
	text-indent: 1em;
	font-size:17px;
	margin:0;padding:0;
}

.pg3_td7 {
	background-color: #5EB129; 
	height:50px;
	text-indent:1em;
	color:white;
}

.pg3_td8{
	height:100px;
	text-indent: 1em;
	font-size:17px;
	margin:0;padding:0;
}

.pg3_td9{
	background-color:#1E713A;
	height:50px;
	text-indent: 1em;
	color:white;
}

.pg3_td10{
	background-color:#0E73B7;
	height:50px;
	text-indent: 1em;
	color:white;
}

.pg3_table4{
	font-size:23.5px;
	margin-top:30px;
}

.pg3_td11{
	width:150px;
	height:40px;
	background-color:#EBEDF3;
	border-top-left-radius: 7px;
	border-bottom-left-radius:7px;
}

.pg3_td12{
	width:1010px;
	height:40px;
	background-color:#EBEDF3;
	border-top-right-radius: 7px;
	border-bottom-right-radius:7px;
}

.pg3_td13{
	text-indent: 2em;
	font-size:17px;
	padding-top:5px;
	text-align:justify;
	text-justify:inter-ideograph;
	word-break:break-all;
}

.footer1 {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 60px;

}
.footer2 {
	position: fixed;
	left: 0px;
	right:40px;
	bottom: 0px;
	width: 80%;
	height: 50px;

}

.title{
	display:inline;
	padding-left:250px;
	width:auto!important;
}


/* 第四页 */

.pg4_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg4_p1 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
}

.pg4_p1p1{
	margin-top:40px;
	font-size:20px;
	text-indent:1em;
	text-align:justify;
}

.pg4_p1s{
	font-size:20px;
	text-indent:1em;
	text-align:justify;
}


.pg4_p2 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
}

.pg4_table1 {
	font-size:20px;
	line-height:1.4;
	text-align:center;
}

.pg4_td1{
	width:250px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.pg4_td2{
	width:120px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.pg4_td3{
	width:250px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
}

.pg4_td4{
	width:250px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
}

.pg4_td5{
	width:175px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.pg4_table2{
	margin-top:6px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.pg4_td6{
	padding-top:10px;
	padding-bottom:10px;
	width:250px;
	height:30px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.pg4_td7{
	width:120px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.pg4_td8{
	font-size:20px;
	width:250px;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}

.pg4_td9{
	width:250px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}


.pg4_td10{
	width:175px;
	height:50px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}

.pg4_td11{
	width:1055px;
	height:60px;
}

.pg4_table3 {
	font-size:20px;
	line-height:1.4;
	text-align:center;
}

.pg4_t3td1{
	width:150px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.pg4_t3td2{
	width:180px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.pg4_t3td3{
	width:255px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
}

.pg4_t3td4{
	width:240px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
}

.pg4_t3td5{
	width:200px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.pg4_t3td5div{
	width:150px;
	padding-left:20px;
}


.pg4_table4{
	margin-top:6px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.pg4_t4td1{
	width:150px;
	height:50px;
	border-bottom: 2px dashed grey;
}

.pg4_t4td2{
	width:180px;
	height:50px;
	border-bottom: 2px dashed grey;
}

.pg4_t4td3{
	width:255px;
	height:50px;
	border-bottom: 2px grey dashed;
}

.pg4_t4td4{
	width:240px;
	height:50px;
	height:auto!important;
	border-bottom: 2px grey dashed;
}

.pg4_t4td5{
	width:200px;
	height:50px;
	height:auto!important;
	border-bottom: 2px grey dashed;
}



/*第五页*/

.pg5_p1 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:45px;
}

.pg5_table1{
	font-size:20px;
	line-height:1.4;
	text-align:center;
}

.pg5_td1{
	width:350px;
	height:60px;
	background-color:#336248;
	color:white;
}

.pg5_td2{
	width:350px;
	height:60px;
	background-color:#466C56;
	color:white;
	text-align:center;
}

.pg5_td3{
	width:350px;
	height:60px;
	background-color:#567765;
	color:white;
}

.pg5_table2{
	margin-top:6px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
}

.pg5_td4{
	width:350px;
	height:50px;
}

.pg5_td5{
	width:350px;
	height:50px;
	font-size:20px;
	height:auto!important;
}


.pg5_p2 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:45px;
}


.pg5_table3{
	font-size:20px;
	line-height:1.4;
	text-align:center;
}

.pg5_td6{
	width:700px;
	height:60px;
	background-color:#466C56;
	color:white;
	text-align:center;
}


.pg5_td7{
	width:350px;
	height:60px;
	background-color:#658672;
	color:white;
}

.pg5_table4{
	margin-top:6px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
}


.pg5_td8{
	width:700px;
	height:80px;
	font-size:20px;
}


.pg5_td9{
	width:350px;
	height:80px;
	font-size:20px;
}

.pg5_p3{
	margin-top:25px;
	font-size:20px;
	line-height:35px;
}


/* 第六页 */
.pg6_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg6_p1 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
}

.pg6_div2{
	width:20%;
	height:50px;
	line-height: 50px;
	background-color: #EBEDF3;
	font-size:20px;
	text-indent: 1em;
	margin-top:30px;
}


.pg6_div3{
	margin-top:26px;
	margin-left:20px;
	font-size:20px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.pg6_div4{
	border:3px solid #5EB129;
	width:1030px;
	height:530px;
	height:auto!important;
	margin-top:26px;
}

.pg6_td1{
	width:150px;
	font-size:20px;
	height:80px;
	color:white;
	text-align:center;
	background-color:#5EB129;
}

.pg6_td2{
	width:850px;
	font-size:18px;
	border-top:2px dashed grey;
}

.pg6_td3{
	width:150px;
	height:120px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #336248;
}

.pg6_td4{
	width:850px;
	font-size:18px;
	border-top:2px dashed grey;
	padding-top:15px;
	padding-bottom: 15px;
	height:auto!important;
	word-break:break-all;
}

.pg6_td5{
	width:150px;
	height:120px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #567765;
}

.pg6_td6{
	width:850px;
	font-size:18px;
	border-top:2px dashed grey;
	padding-top:15px;
	padding-bottom: 15px;
	height:auto!important;
	word-break:break-all;
}

.pg6_td7{
	width:150px;
	height:80px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #658672
}

.pg6_td8{
	width:850px;
	font-size:18px;
	border-top:2px dashed grey;
	border-bottom:2px dashed grey;
}




.TMB_detect{
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
}

.pg8_p1{
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
}


.pg8_div1{
	border:3px solid #5EB129;
	width:1030px;
	height:auto!important;
	margin-top:80px;
}


.pg8_td1{
	width:150px;
	font-size:20px;
	height:80px;
	color:white;
	text-align:center;
	background-color: #514F4F;
}


.pg8_td2{
	width:850px;
	font-size:20px;
	border-top:2px dashed grey;
}

.pg8_td3{
	width:150px;
	height:100px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #336248;
}

.pg8_td4{
	width:850px;
	font-size:20px;
	border-top:2px dashed grey;
	text-align:justify;
}

.pg8_td5{
	width:150px;
	height:150px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #567765;
	word-break:break-all;
}

.pg8_td6{
	width:850px;
	height:auto!important;
	font-size:20px;
	border-top:2px dashed grey;
	word-break:break-all;
}


.pg8_td7{
	width:150px;
	height:180px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #658672;
}


.pg8_td8{
	padding-top:20px;
	width:850px;
	font-size:20px;
	border-top:2px dashed grey;
	border-bottom:2px dashed grey;
}

.pg8_td8td4{
	width:250px;
	height:auto!important;
	text-align:center;
	border-bottom:2px dashed grey;
	padding:8px 2px;
}

.pg8_td8td5{
	width:350px;
	text-align:center;
	border-bottom:2px dashed grey;
}

.pg8_td8td6{
	width:350px;
	text-align:center;
	border-bottom:2px dashed grey;
}






.pg8_td9{
	width:250px;
	height:60px;
	background-color:#726F6F;
	color:white;
	text-align:center;
}

.pg8_td10{
	width:350px;
	height:60px;
	background-color:#81817F;
	color:white;
	text-align:center;
}

.pg8_td11{
	width:350px;
	height:60px;
	background-color:#949491;
	color:white;
	text-align:center;
}

.pg8_td12{
	width:250px;
	height:auto!important;
	text-align:center;
	border-bottom:2px dashed grey;
	padding:5px 5px;
}

.pg8_td13{
	width:350px;
	text-align:center;
	border-bottom:2px dashed grey;
}

.pg8_td14{
	width:350px;
	text-align:center;
	border-bottom:2px dashed grey;
}

.pg8_td15{
	width:250px;
	height:auto!important;
	text-align:center;
}




.pg9_p1 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
}

.pg9_div1{
	border:3px solid #5EB129;
	width:1030px;
	height:530px;
	height:auto!important;
	margin-top:80px;
}

.pg9_td1{
	width:150px;
	font-size:20px;
	height:80px;
	color:white;
	text-align:center;
	background-color: #5EB129;
}

.pg9_td2{
	width:850px;
	font-size:20px;
	border-top:2px dashed grey;
}


.pg9_td3{
	width:150px;
	height:100px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #336248;
}


.pg9_td4{
	width:850px;
	font-size:20px;
	border-top:2px dashed grey;
	word-break:break-all;
}


.pg9_td5{
	width:150px;
	height:auto!important;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #567765;
}


.pg9_td6{
	width:850px;
	font-size:20px;
	border-top:2px dashed grey;
	word-break:break-all;
}

.pg9_td7{
	width:150px;
	height:80px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #658672;
}

.pg9_td8{
	width:850px;
	font-size:20px;
	border-top:2px dashed grey;
	border-bottom:2px dashed grey;
}






.pg10_p1 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
}

.pg10_p4{
	font-size:20px;
	text-indent:2em;
	margin-top:30px;
}


.pg10_table1 {
	font-size:20px;
	line-height:1.4;
	text-align:center;
	margin-top:80px;
}

.pg10_td1{
	width:9%;
	height:80px;
	background-color:#466C56;
	color:white;
}

.pg10_td2{
	width:35%;
	height:60px;
	background-color:#466C56;
	color:white;
}

.pg10_td3{
	width:30%;
	height:60px;
	background-color:#466C56;
	color:white;
	text-align:center;
}

.pg10_td4{
	width:10%;
	height:60px;
	background-color:#466C56;
	color:white;
	text-align:center;
}

.pg10_td5{
	width:16%;
	height:60px;
	background-color:#466C56;
	color:white;
}

.pg10_table2{
	width:1030px;
	margin-top:6px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
	border:2px solid #5EB129;
}

.pg10_td6{
	width:9%;
	height:100px;
}

.pg10_td7{
	text-align:left;
	width:35%;
	height:50px;
	padding-top:20px;
	padding-bottom: 20px;
	word-break:break-all;
}

.pg10_td8{
	text-align:left;
	font-size:20px;
	width:30%;
	height:50px;
	padding-bottom:30px;
	word-break:break-all;
}

.pg10_td9{
	width:10%;
	height:50px;
	font-size:20px;
	height:auto!important;
}


.pg10_td10{
	width:16%;
	height:50px;
	font-size:20px;
	height:auto!important;
}

.pg10_p2{
	bottom:160px;
	font-size:20px;
	line-height:48px;
	position:absolute;
}

.pg10_td11{
	border-bottom: 2px dashed grey;
	width:140px;
	height:50px;
}

.pg10_td12{
	border-bottom: 2px dashed grey;
	width:420px;
	padding-top:20px;
	padding-bottom: 20px;
}

.pg10_td13{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:125px;
	padding-top:15px;
	padding-bottom: 15px;
}

.pg10_td14{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:110px;
	padding-top:15px;
	padding-bottom: 15px;
}

.pg10_td15{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:110px;
	padding-top:15px;
	padding-bottom: 15px;
}

.pg10_td16{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:200px;
	padding-top:15px;
	padding-bottom: 15px;
}
.pg10_td17{
	border-bottom: 2px dashed grey;
	width:140px;
	height:50px;
}

.pg10_td18{
	border-bottom: 2px dashed grey;
	width:420px;
	padding-top:20px;
	padding-bottom: 20px;
}

.pg10_td19{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:125px;
}

.pg10_td20{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:110px;
}

.pg10_td21{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:110px;
}

.pg10_td22{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:200px;
}

.pg10_p3{
	border-radius: 7px;
	bottom:60px;
	text-indent: 2em;
	height:35px;
	line-height:35px;
	width:1030px;
	background-color: #EBE7E8;
	position:absolute;
}





.pg11_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg11_div2{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #004F31;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}



.pg12_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg12_p1{
	font-size:23.5px;
	background-color: #EBE7E8;
	height:50px;
	line-height: 50px;
	text-indent: 2em;
}

.pg12_table1{
	font-size:23.5px;
	line-height:1.4;
	text-align:center;
	margin-top:20px;
	width:1030px;
}

.pg12_td1{
	width:180px;
	height:70px;
	background-color:#0C4324;
	color:white;
}


.pg12_td2{
	width:180px;
	background-color:#184C2C;
	color:white;
}

.pg12_td3{
	width:230px;
	background-color:#2E5C40;
	color:white;
}

.pg12_td4{
	width:160px;
	background-color:#3F664E;
	color:white;
}

.pg12_td5{
	width:280px;
	background-color:#4F705D;
	color:white;
}

.pg12_td6{
	width:180px;
	background-color:#5E806A;
	color:white;
}

.pg12_td7{
	width:200px;
	background-color:#75907C;
	color:white;
}


.pg12_table2{
	width:1030px;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
}

.pg12_td8{
	border-bottom: 2px dashed grey;
	width:190px;
	height:35px;
}


.pg12_td9{
	border-bottom: 2px dashed grey;
	width:230px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg12_td10{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}


.pg12_td11{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:120px;
}


.pg12_td12{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}


.pg12_td13{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}


.pg12_td14{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:200px;
}

.pg12_td15{
	border-bottom: 2px dashed grey;
	width:180px;
	height:35px;
}

.pg12_td16{
	border-bottom: 2px dashed grey;
	width:200px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg12_td17{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:260px;
}

.pg12_td18{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg12_td19{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg12_td20{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg12_td21{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:200px;
}

.pg12_td22{
	width:210px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg12_td23{
	font-size:20px;
	height:auto!important;
	width:260px;
}

.pg12_td24{
	font-size:20px;
	height:auto!important;
	width:180px;
}

.pg12_td25{
	font-size:20px;
	height:auto!important;
	width:280px;
}

.pg12_td26{
	font-size:20px;
	height:auto!important;
	width:200px;
}

.pg12_td27{
	font-size:20px;
	height:auto!important;
	width:200px;
}

.pg12_p2{
	font-size:23.5px;
	background-color: #EBE7E8;
	height:50px;
	line-height: 50px;
	text-indent: 2em;
	margin-top:40px;
}

.pg12_table3{
	font-size:20px;
	line-height:1.4;
	text-align:center;
	margin-top:20px;
	width:1030px;
}

.pg12_td28{
	width:160px;
	height:70px;
	background-color:#0C4324;
	color:white;
}

.pg12_td29{
	width:160px;
	background-color:#184C2C;
	color:white;
}

.pg12_td30{
	width:160px;
	background-color:#2E5C40;
	color:white;
}

.pg12_td31{
	width:160px;
	background-color:#3F664E;
	color:white;
}

.pg12_td32{
	width:240px;
	background-color:#4F705D;
	color:white;
}

.pg12_td33{
	width:180px;
	background-color:#5E806A;
	color:white;
}

.pg12_td34{
	width:340px;
	background-color:#75907C;
	color:white;
}

.pg12_table4{
	width:1030px;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.pg12_td35{
	border-bottom: 2px dashed grey;
	width:160px;
	height:35px;
}

.pg12_td36{
	border-bottom: 2px dashed grey;
	width:190px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg12_td37{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg12_td38{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}
.pg12_td39{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg12_td40{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg12_td41{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:340px;
}

.pg12_td42{
	border-bottom: 2px dashed grey;
	width:160px;
	height:35px;
}

.pg12_td43{
	border-bottom: 2px dashed grey;
	width:190px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg12_td44{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg12_td45{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg12_td46{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg12_td47{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg12_td48{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:340px;
}

.pg12_td49{
	border-bottom: 2px dashed grey;
	width:160px;
	height:35px;
}

.pg12_td50{
	border-bottom: 2px dashed grey;
	width:190px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg12_td51{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg12_td52{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg12_td53{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg12_td54{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg12_td55{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:340px;
}


.nogene_div1{
	color:white;
	width:40%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.nogene_p1{
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
}

.nogene_table{
	margin-top: 50px;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
}

.nogene_td{
	height:40px;
	width:350px;
	border:2px dashed grey;

}

.pg13_div1{
	color:white;
	width:50%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg13_div2{
	border:2px solid #5EB129;
	width:1030px;
	height:auto!important;
	margin-top:15px;
}

.pg13_div4{
	width:800px;
	margin-left:200px;
	margin-top:30px;
	font-size:20px;
	word-break:break-all;
}

.pg13_td1{
	width:276px;
	height:40px;
	background-color: #EBEDF3;
}
.pg13_td2{
	width:750px;
	height:40px;
	background-color: #EBEDF3;
}

.pg14_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}


.pg14_div2{
	background-color: #EBEDF3;
	text-indent: -5em;
	margin-left:5em;
	height:95px;
	line-height: 35px;
	background-color: #EBEDF3;
	font-size:23.5px;
	margin-top:10px;
}

.pg14_td1{
	text-indent:1em;
	height:55px;
	background-color: #EBEDF3;
	font-size:23.5px;
	width:150px;
	padding-bottom: 38px;
}


.pg14_td2{
	height:55px;
	line-height: 35px;
	background-color: #EBEDF3;
	font-size:23.5px;
}


.pg14_table1{
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.pg14_table1_tr1{
	height:35px;
	width:180px;
	border-top:2px dashed grey;
	border-right:1.5px solid #BABABA;
}

.pg14_table_tr2{
	height:33.5px;
	width:180px;
	border-top:2px dashed grey;
	border-right:1.5px solid #BABABA;
}

/*第十五页*/


.pg15_table1{
	text-align:center;
	border:2px solid #5EB129;
	margin-top:30px;
	border-collapse:collapse;
	border-spacing:0;
}


.pg15_table1_tr1{
	height:33.5px;
	width:180px;
	border-top:2px dashed grey;
	border-right:1.5px solid #BABABA;
}

.pg15_table1_tr2{
	height:36px;
	width:180px;
	border-top:2px dashed grey;
	border-right:1.5px solid #BABABA;
}

.pg15_p1{
	text-indent:4em;
	font-size:23.5px;
	margin-top:60px;
}

.pg15_table2{
	text-align:center;
	border:2px solid #5EB129;
	margin-top:40px;
	border-collapse:collapse;
	border-spacing:0;
}

.pg15_table2_tr1{
	height:36px;
	width:230px;
	border-top:2px dashed grey;
	border-right:1.5px solid #BABABA
}





.pg16_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg16_td1{
	text-indent:1em;
	height:50px;
	background-color: #EBEDF3;
	font-size:23.5px;
	width:210px;
	padding-bottom: 38px;
}

.pg16_td2{
	height:50px;
	line-height: 35px;
	background-color: #EBEDF3;
	font-size:23.5px;
}

.pg16_table1{
	border:2px solid #5EB129;
	margin-top:80px;
	margin-left:210px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}


.pg16_td3{
	text-align:center;
	height:90px;
	width:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA
}


.pg16_td4{
	text-align:center;
	width:730px;
	border-top:2px dashed grey;
}


.pg16_td5{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg16_td6{
	width:230px;
	border-top:2px dashed grey;
}

.pg16_p1{
	margin-left:30px;
	margin-right:50px;
	line-height: 1.5em;
}

.pg16_td7{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg16_td8{
	width:230px;
	border-top:2px dashed grey;
}

.pg16_p2{
	margin-left:30px;
	margin-right:50px;
	line-height: 1.5em;
}

.pg16_td9{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg16_td10{
	width:230px;
	border-top:2px dashed grey;
}

.pg16_p3{
	margin-left:30px;
	margin-right:50px;
	line-height: 1.5em;
}



.pg17_div1{
	color:white;
	width:33%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}


.pg17_table1{
	border:2px solid #5EB129;
	margin-top:30px;
	border-collapse:collapse;
	border-spacing:0;font-size:20px;
}

.pg17_td1{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td2{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg17_td3{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}


.pg17_td4{
	width:230px;
	border-top:2px dashed grey;
}

.pg17_td5{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg17_td6{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td7{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg17_td8{
	text-align:center;
	height:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td9{
	width:230px;
	border-top:2px dashed grey;
}

.pg17_td10{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg17_td11{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td12{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg17_table2{
	border:2px solid #5EB129;
	margin-top:50px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}

.pg17_td13{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td14{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg17_td15{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td16{
	width:230px;
	border-top:2px dashed grey;
}

.pg17_td17{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg17_td18{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td19{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg17_td20{
	text-align:center;
	height:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td21{
	width:230px;
	border-top:2px dashed grey;
}

.pg17_td22{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg17_td23{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg17_td24{
	border-top:2px dashed grey;
	text-align:center;
}

/*第十八页*/

.pg18_table1{
	border:2px solid #5EB129;
	margin-top:30px;
	border-collapse:collapse;
	border-spacing:0;font-size:20px;
}

.pg18_td1{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td2{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg18_td3{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td4{
	width:230px;
	border-top:2px dashed grey;
}

.pg18_td5{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg18_td6{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td7{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg18_td8{
	text-align:center;
	height:140px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td9{
	width:230px;
	border-top:2px dashed grey;
}

.pg18_td10{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg18_td11{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td12{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}


.pg18_table2{
	border:2px solid #5EB129;
	margin-top:40px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}



.pg18_td13{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td14{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg18_td15{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td16{
	width:230px;
	border-top:2px dashed grey;
}


.pg18_td17{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg18_td18{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td19{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg18_td20{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td21{
	width:230px;
	border-top:2px dashed grey;
}

.pg18_td22{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}


.pg18_td23{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}



.pg18_td24{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}


.pg18_table3{
	border:2px solid #5EB129;
	margin-top:40px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}


.pg18_td25{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}



.pg18_td26{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}



.pg18_td27{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td28{
	width:230px;
	border-top:2px dashed grey;
}

.pg18_td29{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg18_td30{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td31{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg18_td32{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td33{
	width:230px;
	border-top:2px dashed grey;
}

.pg18_td34{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg18_td35{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg18_td36{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

/*第十九页*/

.pg19_table1{
	border:2px solid #5EB129;
	margin-top:30px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}

.pg19_td1{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td2{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg19_td3{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td4{
	width:230px;
	border-top:2px dashed grey;
}

.pg19_td5{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg19_td6{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td7{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg19_td8{
	text-align:center;
	height:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}


.pg19_td9{
	width:230px;
	border-top:2px dashed grey;
}

.pg19_td10{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg19_td11{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td12{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg19_table2{
	border:2px solid #5EB129;
	margin-top:80px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}

.pg19_td13{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td14{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg19_td15{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td16{
	width:230px;
	border-top:2px dashed grey;
}

.pg19_td17{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}

.pg19_td18{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td19{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg19_td20{
	text-align:center;
	height:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td21{
	width:230px;
	border-top:2px dashed grey;
}

.pg19_td22{
	margin-left:30px;
	margin-right:50px;
	word-break:break-all;
}


.pg19_td23{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg19_td24{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}



.wenxian_div1{
	color:white;width:33%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
	margin-bottom:30px;
}

.wenxian_div2{
	font-size:22px;
	font-family:calibri;
	line-height:35px;
	word-break:break-all;
}


/*第二十一页*/

.pg21_div1{
	color:white;width:33%;
	height:50px;
	line-height: 50px;
	background-color: #1E7741;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:20px;
	margin-bottom:30px;
}


.pg21_div2{
	font-size:22px;
	font-family:calibri;
	line-height:35px;
	word-break:break-all;
}


.druged_table1 {
	margin-top: 20px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
}

.druged_td1{
	width:175px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.druged_td2{
	width:150px;
	height:60px;
	background-color:#2E6942;
	color:white;
}

.druged_td3{
	width:260px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
}

.druged_td4{
	width:290px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
}

.druged_td5{
	width:135px;
	height:60px;
	background-color:#2E6942;
	color:white;
}


.druged_table2{
	margin-top:6px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.druged_td6{
	width:175px;
	height:30px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
	border-right:1.5px solid #BABABA;
}

.druged_td7{
	width:150px;
	height:30px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
	border-right:1.5px solid #BABABA;
}

.druged_td8{
	font-size:20px;
	width:260px;
	height:30px;
	border-bottom: 2px grey dashed;
	word-break:break-all;
	border-right:1.5px solid #BABABA;
}

.druged_td9{
	width:290px;
	height:30px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
	border-right:1.5px solid #BABABA;
}


.druged_td10{
	width:135px;
	height:30px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
	border-right:1.5px solid #BABABA;
}


.egfr_div1{
	color:white;
	width:35%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:20px;
	text-indent: 1em;
	margin-top:25px;
}

.egfr_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.egfr_p245{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.egr_img{
	width:700px;
	margin-left:150px;
}

.egfr_p3{
	font-size:20px;
	margin-left:350px;
}



/*ALK*/
.alk_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.alk_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.ak_img{
	width:600px;
	margin-left:200px;
}

.alk_p4{
	font-size:20px;
	margin-left:350px;
	word-break:break-all;
}



/*ROS1*/
.ros_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ros_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.ro_img{
	width:600px;
	margin-left:200px;
}

.ros_p4{
	font-size:20px;
	margin-left:350px;
}




/*RET*/

.ret_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ret_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.rt_img{
	width:700px;
	margin-left:200px;
}

.ret_p4{
	font-size:20px;
	margin-left:350px;
}



/*KRAS*/

.kras_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.kras_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.krs_img{
	width:800px;
	margin-left:100px;
}

.kras_p4{
	font-size:20px;
	margin-left:400px;
}



/*BRAF*/
.braf_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.braf_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.brf_img{
	width:800px;
	margin-left:100px;
}

.braf_p4{
	font-size:20px;
	margin-left:350px;
}





/*MET*/
.met_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.met_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.me_img{
	width:700px;
	margin-left:150px;
}

.met_p4{
	font-size:20px;
	margin-left:300px;
}


/*HER2*/
.her_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.her_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;

}


.HE_img{
	width:1000px;
	margin-left:20px;
}

.her_p4{
	font-size:20px;
	margin-left:350px;

}


/*NRAS*/
.nras_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.nras_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.nrs_img{
	width:1000px;
}

.nras_p4{
	font-size:20px;
	margin-left:350px;
}



/*PIK3CA*/
.pik3ca_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.pik3ca_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}


.pik_img{
	width:600px;
	margin-left:200px;
}

.pik3ca_p4{
	font-size:20px;
	margin-left:350px;
}


/*KIT*/

.kit_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.kit_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.kit_img{
	width:600px;
	margin:40px 200px 10px 200px;
}

.kit_p3{
	font-size: 22px;
	margin: 10px 200px 40px 400px;
}

/*PDGFRA*/

.pdgfra_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.pdgfra_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.pdgfra_img{
	width:600px;
	margin:30px 200px;
}


/*IDH1*/

.idh1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.idh1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;

}

.idh1_img{
	margin:60px 50px;
}


/*IDH2*/

.idh2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.idh2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*AKT1*/

.akt1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.akt1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.akt1_img{
	width:400px;
	margin:60px 320px;
}



/*DDR2*/

.ddr2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ddr2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.ddr2_img{
	width:1000px;
	margin:40px auto;
}

.ddr2_p3{
	margin-left: 400px;
	font-size:22px;
}


/*FGFR1*/

.fgfr1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.fgfr1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*FGFR2*/

.fgfr2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.fgfr2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.fgfr2_img{
	margin:50px 120px;
	width:800px;
}

/*FGFR3*/

.fgfr3_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.fgfr3_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.fgfr3_img{
	margin:15px 230px;
}

.fgfr3_p3{
	margin-left: 400px;
	font-size:22px;
}


/*MEK1*/

.mek1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.mek1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.mek1_img{
	margin:15px 180px;
}

.mek1_p3{
	margin-left:400px;
	margin-bottom:50px;
	font-size: 22px;
}

/*NTRK1*/

.ntrk1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ntrk1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.ntrk1_img{
	margin:15px 270px;
}

.ntrk1_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}

/*PTEN*/

.pten_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.pten_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.pten_img{
	margin:12px 200px;
}

.pten_p3{
	font-size:22px;
	margin-left: 330px;
	margin-bottom: 50px;
}
/*RICTOR*/

.rictor_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.rictor_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.rictor_img{
	margin:15px 300px;
}

.rictor_p3{
	font-size:22px;
	margin-left: 370px;
	margin-bottom: 50px;
}


/*SMAD4*/

.smad4_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.smad4_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*ESR1*/

.esr1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.esr1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.esr1_img{
	margin:15px 20px;
}

.esr1_p3{
	font-size:22px;
	margin-left: 370px;
	margin-bottom: 50px;
}



/*gene*/

.ctnnb1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ctnnb1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


.ctnnb1_img{
	width:600px;
	margin:15px 220px;
}


/*GNA11*/

.gna11_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.gna11_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


.gna11_img{
	width:400px;
	margin:30px 280px;
}




/*GNAQ*/

.gnaq_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.gnaq_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*SMO*/

.smo_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.smo_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.smo_img{
	margin:15px 280px;
}

.smo_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}

/*TSC1*/

.tsc1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.tsc1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.tsc1_img{
	margin:15px 20px;
}

.tsc1_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}

/*TSC2*/

.tsc2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.tsc2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*PTCH1*/

.ptch1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ptch1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*NOTCH1*/

.notch1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.notch1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.notch1_img{
	width:500px;
	margin:30px 270px;
}

.notch1_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}

/*HRAS*/

.hras_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.hras_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*BIRC3*/

.birc3_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.birc3_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*JAK2*/

.jak2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.jak2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.jak2_img{
	width:500px;
	margin:30px 270px;
}

.jak2_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}


/*CRLF2*/

.crlf2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.crlf2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*ETV6*/

.etv6_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.etv6_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.etv6_img{
	width:600px;
	margin:30px 230px;
}

.etv6_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}



/*EZH2*/

.ezh2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ezh2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.ezh2_img{
	margin:30px 130px;
}

.ezh2_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}



/*TET2*/

.tet2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.tet2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}





/*RUNX1*/

.runx1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.runx1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}





/*MEN1*/

.men1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.men1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*BRCA1*/

.brca1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.brca1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.brca1_img{
	margin-top:30px;
	margin-left:60px;

}

.brca1_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}



/*BRCA2*/

.brca2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.brca2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.brca2_img{
	margin-top:30px;
	margin-left:60px;
}

.brca2_p3{
	font-size:22px;
	margin-left: 400px;
	margin-bottom: 50px;
}

/*TP53*/

.tp53_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.tp53_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.tp53_img{
	width:600px;
	margin:0px 200px;
}

.tp53_p3{
	font-size:22px;
	margin-left: 350px;
}


/*AR*/

.ar_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ar_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*CD274*/

.cd274_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.cd274_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*APC*/

.apc_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.apc_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*NF1*/

.nf1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.nf1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*RB1*/

.rb1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.rb1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*ARID1A*/

.arid1a_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.arid1a_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}


/*MSH6*/

.msh6_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.msh6_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*MRE11A*/

.mre11a_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.mre11a_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*FBXW7*/

.fbxw7_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.fbxw7_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*DNMT3A*/

.dnmt3a_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.dnmt3a_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*MSH2*/

.msh2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.msh2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*U2AF1*/

.u2af1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.u2af1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*CDKN2A*/

.cdkn2a_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.cdkn2a_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}




/*GNAS*/

.gnas_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.gnas_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*STK11*/

.stk11_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.stk11_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*POLE*/

.pole_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.pole_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}



/*ATM*/

.atm_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.atm_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 35px;
	word-break:break-all;
}

.atm_img{
	margin-left: 100px;
}

.atm_p3{
	margin-left: 350px;
	font-size: 22px;
}

/*RASA1*/

.rasa1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.rasa1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.kdr_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.kdr_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.nf2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.nf2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

/*XRCC1 by liuweifen 20190227*/

.xrcc1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.xrcc1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.abcb1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.abcb1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.bap1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.bap1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.jak1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.jak1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.rad50_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.rad50_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.flt3_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.flt3_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.mapk1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.mapk1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.kmt2d_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.kmt2d_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.myc_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.myc_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.ccnd1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.ccnd1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.cdk4_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.cdk4_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.kdm6a_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.kdm6a_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.vhl_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.vhl_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.stag2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.stag2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.map2k2_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.map2k2_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.fgf19_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.fgf19_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.pbrm1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.pbrm1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}

.map2k1_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:25px;
	margin-bottom: 25px;
}

.map2k1_p2{
	font-size:22px;
	text-indent: 2em;
	line-height: 45px;
	word-break:break-all;
}
