            <div class="pg12_div1">样本质量评级</div>
            <p class="pg12_p1">1、按照下表中所列质控方法对各样本类型进行质控，对样本质量是否合格进行分级：</p>
            <p style="text-indent:4em;font-size:23.5px;">A：片段分布正常，DNA完整性高，且病理质控结果显示肿瘤细胞含量≥20%</p>
            <p style="text-indent:4em;font-size:23.5px;">B：片段分布正常，有轻微降解，或病理质控结果显示＜20%</p>
            <p style="text-indent:4em;font-size:23.5px;">C：片段分布正常，有轻微降解或大片段污染，或无病理质控</p>
            <p style="text-indent:4em;font-size:23.5px;">D：有严重降解或大片段污染且无病理质控，无法展开后续检测</p>
            <table class="pg12_table1">
                <tbody> 
                    <tr> 
                        <td class="pg12_td1">样本类型</td> 
                        <td style="width:1px;"></td>
                        <td class="pg12_td2">质控方式1</td> 
                        <td style="width:1px;"></td>
                        <td class="pg12_td3">质控内容1</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td4">参考标准1</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td5">质控方式2</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td6">质控内容2</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td7">参考标准2</td>
                    </tr>
                </tbody>
            </table>

            <table class="pg12_table2">
                <tbody>
                    <tr>
                        <td class="pg12_td8">石蜡切片</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td9">病理质控</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td10">肿瘤细胞含量</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td11">≥20%</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td12">琼脂糖电泳/2100</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td13">片段分布</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td14">片段≥500bp</td>
                    </tr>
                    <tr>
                        <td class="pg12_td15">组织标本</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td16">病理质控</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td17">肿瘤细胞含量</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td18">≥20%</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td19">琼脂糖电泳/2100</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td20">片段分布</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td21">片段≥500bp</td>
                    </tr>
                    <tr>
                        <td style="width:200px;height:35px;">胸水标本</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td22">病理质控</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td23">肿瘤细胞含量</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td24">≥20%</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td25">琼脂糖电泳/2100</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td26">片段分布</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td27">片段≥500bp</td>
                    </tr>
                </tbody>
            </table>

            <p class="pg12_p2">2、按照下表中所列质控方法对各样本的DNA含量进行质控，确定是否可满足实验需求：</p>
            <p style="text-indent:4em;font-size:23.5px;">I：样本量充足，可正常开展实验检测并可重复检测一次以上</p>
            <p style="text-indent:4em;font-size:23.5px;">II：样本量足够，可正常开展实验检测，可满足部分验证性实验</p>
            <p style="text-indent:4em;font-size:23.5px;">III：样本量较少，勉强可进行实验，无法进行后续验证性实验</p>
            <p style="text-indent:4em;font-size:23.5px;">IV：样本量过少，无法开展实验</p>
            <table class="pg12_table3">
                <tbody> 
                    <tr> 
                        <td class="pg12_td28">样本类型</td> 
                        <td style="width:1px;"></td>
                        <td class="pg12_td29">质控方式1</td> 
                        <td style="width:1px;"></td>
                        <td class="pg12_td30">质控内容1</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td31">参考标准1</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td32">质控方式2</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td33">质控内容2</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td34">参考标准2</td>
                    </tr>
                </tbody>
            </table>

            <table class="pg12_table4">
                <tbody>
                    <tr>
                        <td class="pg12_td35">石蜡切片</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td36">Qubit</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td37">DNA含量</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td38">≥150ng</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td39">紫外分光光度法</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td40">DNA纯度</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td41">1.8＜OD260/280＜2.0</td>
                    </tr>
                    <tr>
                        <td class="pg12_td42">组织标本</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td43">Qubit</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td44">DNA含量</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td45">≥150ng</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td46">紫外分光光度法</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td47">DNA纯度</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td48">1.8＜OD260/280＜2.0</td>
                    </tr>
                    <tr>
                        <td class="pg12_td49">胸水标本</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td50">Qubit</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td51">DNA含量</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td52">≥150ng</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td53">紫外分光光度法</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td54">DNA纯度</td>
                        <td style="width:1px;"></td>
                        <td class="pg12_td55">1.8＜OD260/280＜2.0</td>
                    </tr>


                </tbody>
            </table>