            <table class="pg15_table1">
                <tbody>
                    <tr> 
                        <td class="pg15_table1_tr1">LRP1B</td>
                        <td class="pg15_table1_tr1">LYN</td>
                        <td class="pg15_table1_tr1">LZTR1</td>
                        <td class="pg15_table1_tr1">MAGI2</td>
                        <td class="pg15_table1_tr1">MAP2K1</td>
                        <td class="pg15_table1_tr1">MAP2K2</td>
                        <td class="pg15_table1_tr1">MAP2K4</td>
                        <td class="pg15_table1_tr1">MAP3K1</td>
                        <td class="pg15_table1_tr1">MAP3K13</td>
                        <td class="pg15_table1_tr1">MAP3K14</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr1">MAPK1</td>
                        <td class="pg15_table1_tr1">MAPK3</td>
                        <td class="pg15_table1_tr1">MAPK4</td>
                        <td class="pg15_table1_tr1">MAX</td>
                        <td class="pg15_table1_tr1">MCL1</td>
                        <td class="pg15_table1_tr1">MDC1</td>
                        <td class="pg15_table1_tr1">MDM2</td>
                        <td class="pg15_table1_tr1">MDM4</td>
                        <td class="pg15_table1_tr1">MED12</td>
                        <td class="pg15_table1_tr1">MEF2B</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr1">MEN1</td>
                        <td class="pg15_table1_tr1">MET</td>
                        <td class="pg15_table1_tr1">MGA</td>
                        <td class="pg15_table1_tr1">MITF</td>
                        <td class="pg15_table1_tr1">MLH1</td>
                        <td class="pg15_table1_tr1">MLH3</td>
                        <td class="pg15_table1_tr1">MPL</td>
                        <td class="pg15_table1_tr1">MRE11A</td>
                        <td class="pg15_table1_tr1">MSH2</td>
                        <td class="pg15_table1_tr1">MSH3</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr1">MSH6</td>
                        <td class="pg15_table1_tr1">MST1R</td>
                        <td class="pg15_table1_tr1">MTOR</td>
                        <td class="pg15_table1_tr1">MUTYH</td>
                        <td class="pg15_table1_tr1">MYB</td>
                        <td class="pg15_table1_tr1">MYC</td>
                        <td class="pg15_table1_tr1">MYCL</td>
                        <td class="pg15_table1_tr1">MYCN</td>
                        <td class="pg15_table1_tr1">MYD88</td>
                        <td class="pg15_table1_tr1">NBN</td>
                    </tr> 
                    <tr> 
                        <td class="pg15_table1_tr2">NCOA3</td>
                        <td class="pg15_table1_tr2">NCOR1</td>
                        <td class="pg15_table1_tr2">NF1</td>
                        <td class="pg15_table1_tr2">NF2</td>
                        <td class="pg15_table1_tr2">NFE2L2</td>
                        <td class="pg15_table1_tr2">NFKBIA</td>
                        <td class="pg15_table1_tr2">NKX2-1</td>
                        <td class="pg15_table1_tr2">NOTCH1</td>
                        <td class="pg15_table1_tr2">NOTCH2</td>
                        <td class="pg15_table1_tr2">NOTCH3</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">NOTCH4</td>
                        <td class="pg15_table1_tr2">NPM1</td>
                        <td class="pg15_table1_tr2">NRAS</td>
                        <td class="pg15_table1_tr2">NSD1</td>
                        <td class="pg15_table1_tr2">NUP93</td>
                        <td class="pg15_table1_tr2">OXSR1</td>
                        <td class="pg15_table1_tr2">PAK1</td>
                        <td class="pg15_table1_tr2">PAK3</td>
                        <td class="pg15_table1_tr2">PAK7</td>
                        <td class="pg15_table1_tr2">PALB2</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">PAPPA2</td>
                        <td class="pg15_table1_tr2">PARK2</td>
                        <td class="pg15_table1_tr2">PARP1</td>
                        <td class="pg15_table1_tr2">PAX5</td>
                        <td class="pg15_table1_tr2">PBRM1</td>
                        <td class="pg15_table1_tr2">PDCD1</td>
                        <td class="pg15_table1_tr2">PDCD1LG2</td>
                        <td class="pg15_table1_tr2">PDK1</td>
                        <td class="pg15_table1_tr2">PDPK1</td>
                        <td class="pg15_table1_tr2">PGR</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">PHF6</td>
                        <td class="pg15_table1_tr2">PIK3C2B</td>
                        <td class="pg15_table1_tr2">PIK3C2G</td>
                        <td class="pg15_table1_tr2">PIK3C3</td>
                        <td class="pg15_table1_tr2">PIK3CA</td>
                        <td class="pg15_table1_tr2">PIK3CB</td>
                        <td class="pg15_table1_tr2">PIK3CD</td>
                        <td class="pg15_table1_tr2">PIK3CG</td>
                        <td class="pg15_table1_tr2">PIK3R1</td>
                        <td class="pg15_table1_tr2">PIK3R2</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">PIM1</td>
                        <td class="pg15_table1_tr2">PLCG2</td>
                        <td class="pg15_table1_tr2">PLK2</td>
                        <td class="pg15_table1_tr2">PMS1</td>
                        <td class="pg15_table1_tr2">PMS2</td>
                        <td class="pg15_table1_tr2">PNRC1</td>
                        <td class="pg15_table1_tr2">POLD1</td>
                        <td class="pg15_table1_tr2">POLE</td>
                        <td class="pg15_table1_tr2">POLE4</td>
                        <td class="pg15_table1_tr2">PPARG</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">PPP2R1A</td>
                        <td class="pg15_table1_tr2">PRDM1</td>
                        <td class="pg15_table1_tr2">PREX2</td>
                        <td class="pg15_table1_tr2">PRKAA1</td>
                        <td class="pg15_table1_tr2">PRKAR1A</td>
                        <td class="pg15_table1_tr2">PRKCI</td>
                        <td class="pg15_table1_tr2">PRKDC</td>
                        <td class="pg15_table1_tr2">PRSS8</td>
                        <td class="pg15_table1_tr2">PTCH1</td>
                        <td class="pg15_table1_tr2">PTEN</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">PTPN11</td>
                        <td class="pg15_table1_tr2">PTPRD</td>
                        <td class="pg15_table1_tr2">PXDNL</td>
                        <td class="pg15_table1_tr2">QKI</td>
                        <td class="pg15_table1_tr2">RAC1</td>
                        <td class="pg15_table1_tr2">RAD21</td>
                        <td class="pg15_table1_tr2">RAD50</td>
                        <td class="pg15_table1_tr2">RAD51</td>
                        <td class="pg15_table1_tr2">RAD51B</td>
                        <td class="pg15_table1_tr2">RAD51C</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">RAD51D</td>
                        <td class="pg15_table1_tr2">RAD52</td>
                        <td class="pg15_table1_tr2">RAD54L</td>
                        <td class="pg15_table1_tr2">RANBP2</td>
                        <td class="pg15_table1_tr2">RASA1</td>
                        <td class="pg15_table1_tr2">RB1</td>
                        <td class="pg15_table1_tr2">RBM10</td>
                        <td class="pg15_table1_tr2">RECQL4</td>
                        <td class="pg15_table1_tr2">REL</td>
                        <td class="pg15_table1_tr2">RHEB</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">RHOA</td>
                        <td class="pg15_table1_tr2">RICTOR</td>
                        <td class="pg15_table1_tr2">RIPK4</td>
                        <td class="pg15_table1_tr2">RIT1</td>
                        <td class="pg15_table1_tr2">RNF43</td>
                        <td class="pg15_table1_tr2">RPS6KB1</td>
                        <td class="pg15_table1_tr2">RPS6KB2</td>
                        <td class="pg15_table1_tr2">RPTOR</td>
                        <td class="pg15_table1_tr2">RUNX1</td>
                        <td class="pg15_table1_tr2">RUNX1T1</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">SCN8A</td>
                        <td class="pg15_table1_tr2">SDHA</td>
                        <td class="pg15_table1_tr2">SDHAF2</td>
                        <td class="pg15_table1_tr2">SDHB</td>
                        <td class="pg15_table1_tr2">SDHC</td>
                        <td class="pg15_table1_tr2">SDHD</td>
                        <td class="pg15_table1_tr2">SETBP1</td>
                        <td class="pg15_table1_tr2">SETD2</td>
                        <td class="pg15_table1_tr2">SF3B1</td>
                        <td class="pg15_table1_tr2">SIK1</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">SKP2</td>
                        <td class="pg15_table1_tr2">SLIT2</td>
                        <td class="pg15_table1_tr2">SMAD2</td>
                        <td class="pg15_table1_tr2">SMAD3</td>
                        <td class="pg15_table1_tr2">SMAD4</td>
                        <td class="pg15_table1_tr2">SMARCA4</td>
                        <td class="pg15_table1_tr2">SMARCB1</td>
                        <td class="pg15_table1_tr2">SMARCD1</td>
                        <td class="pg15_table1_tr2">SMO</td>
                        <td class="pg15_table1_tr2">SNCAIP</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">SOCS1</td>
                        <td class="pg15_table1_tr2">SOX10</td>
                        <td class="pg15_table1_tr2">SOX17</td>
                        <td class="pg15_table1_tr2">SOX2</td>
                        <td class="pg15_table1_tr2">SOX9</td>
                        <td class="pg15_table1_tr2">SPEN</td>
                        <td class="pg15_table1_tr2">SPOP</td>
                        <td class="pg15_table1_tr2">SPTA1</td>
                        <td class="pg15_table1_tr2">SRC</td>
                        <td class="pg15_table1_tr2">SRSF2</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">STAG2</td>
                        <td class="pg15_table1_tr2">STAT3</td>
                        <td class="pg15_table1_tr2">STAT4</td>
                        <td class="pg15_table1_tr2">STK11</td>
                        <td class="pg15_table1_tr2">SUFU</td>
                        <td class="pg15_table1_tr2">SYK</td>
                        <td class="pg15_table1_tr2">TAF1</td>
                        <td class="pg15_table1_tr2">TAOK1</td>
                        <td class="pg15_table1_tr2">TBX3</td>
                        <td class="pg15_table1_tr2">TCF7L1</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">TERC</td>
                        <td class="pg15_table1_tr2">TERT*</td>
                        <td class="pg15_table1_tr2">TET1</td>
                        <td class="pg15_table1_tr2">TET2</td>
                        <td class="pg15_table1_tr2">TGFBR2</td>
                        <td class="pg15_table1_tr2">TIGIT</td>
                        <td class="pg15_table1_tr2">TMEM127</td>
                        <td class="pg15_table1_tr2">TNFAIP3</td>
                        <td class="pg15_table1_tr2">TNFRSF14</td>
                        <td class="pg15_table1_tr2">TNFRSF18</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2">TNFRSF9</td>
                        <td class="pg15_table1_tr2">TOP1</td>
                        <td class="pg15_table1_tr2">TOP2A</td>
                        <td class="pg15_table1_tr2">TP53</td>
                        <td class="pg15_table1_tr2">TRAF7</td>
                        <td class="pg15_table1_tr2">TRRAP</td>
                        <td class="pg15_table1_tr2">TSC1</td>
                        <td class="pg15_table1_tr2">TSC2</td>
                        <td class="pg15_table1_tr2">TSHR</td>
                        <td class="pg15_table1_tr2">U2AF1</td>
                    </tr>
                    <tr> 
                        <td class="pg15_table1_tr2">VEGFA</td>
                        <td class="pg15_table1_tr2">VHL</td>
                        <td class="pg15_table1_tr2">WISP3</td>
                        <td class="pg15_table1_tr2">WT1</td>
                        <td class="pg15_table1_tr2">XPC</td>
                        <td class="pg15_table1_tr2">XPO1</td>
                        <td class="pg15_table1_tr2">XRCC1</td>
                        <td class="pg15_table1_tr2">YES1</td>
                        <td class="pg15_table1_tr2">ZBTB2</td>
                        <td class="pg15_table1_tr2">ZNF217</td>
                    </tr>
                    <tr> 
                        <td class="pg15_table1_tr2">ZNF703</td>
                        <td class="pg15_table1_tr2">ZRSR2</td>
                        <td class="pg15_table1_tr2"></td>
                        <td class="pg15_table1_tr2"></td>
                        <td class="pg15_table1_tr2"></td>
                        <td class="pg15_table1_tr2"></td>
                        <td class="pg15_table1_tr2"></td>
                        <td class="pg15_table1_tr2"></td>
                        <td class="pg15_table1_tr2"></td>
                        <td class="pg15_table1_tr2"></td>
                    </tr>

                </tbody>
            </table>
            <p style="text-indent:4em;font-size:23.5px;margin-top:60px;">同时检测点突变、插入缺失及融合突变的基因列表</p>
            <table class="pg15_table2">
                <tbody> 
                    <tr> 
                        <td class="pg15_table2_tr1">BRAF</td>
                        <td class="pg15_table2_tr1">JAK2</td>
                        <td class="pg15_table2_tr1">RAF1</td>
                        <td class="pg15_table2_tr1">TMPRSS2</td>
                        <td class="pg15_table2_tr1">ETV5</td>
                    </tr>                 
                    <tr> 
                        <td class="pg15_table2_tr1">PDGFRA</td>
                        <td class="pg15_table2_tr1">ALK</td>
                        <td class="pg15_table2_tr1">PDGFRB</td>
                        <td class="pg15_table2_tr1">ETV6</td>
                        <td class="pg15_table2_tr1">SUZ12</td>
                    </tr>
                    <tr> 
                        <td class="pg15_table2_tr1">FGFR2</td>
                        <td class="pg15_table2_tr1">FGFR1</td>
                        <td class="pg15_table2_tr1">ERG</td>
                        <td class="pg15_table2_tr1">BCR</td>
                        <td class="pg15_table2_tr1">FOXO1</td>
                    </tr>
                    <tr> 
                        <td class="pg15_table2_tr1">FGFR3</td>
                        <td class="pg15_table2_tr1">ROS1</td>
                        <td class="pg15_table2_tr1">NTRK2</td>
                        <td class="pg15_table2_tr1">BRD4</td>
                        <td class="pg15_table2_tr1">PAX8</td>
                    </tr>
                    <tr> 
                        <td class="pg15_table2_tr1">RET</td>
                        <td class="pg15_table2_tr1">NTRK1</td>
                        <td class="pg15_table2_tr1">RARA</td>
                        <td class="pg15_table2_tr1">TCF7L2**</td>
                        <td class="pg15_table2_tr1">PRKACA**</td>
                    </tr>
                </tbody>
            </table>

            <p style="margin-top:80px;font-size:18px;font-family:微软雅黑;line-height:48px;">
                注:*，同时检测启动子区域的基因;**，同时检测UTR区域的基因。
            </p>