           <div class="pg14_div1">附录4 检测基因列表</div>
            <table style="margin-top:16px;">
                <tr>
                    <td class="pg14_td1">检测范围：</td>
                    <td class="pg14_td2">本次项目共涉及435个实体瘤靶向用药或预后相关基因的全外显子和部分内含子的突变检测，主要包括以下内容:</td>
                </tr>
            </table>
            <p style="text-indent:4em;font-size:23.5px;margin-top:30px;">1) 435个基因的6878个外显子区域的测序;</p>
            <p style="text-indent:4em;font-size:23.5px;">2) 25个融合基因的59个内含子测序;</p>
            <p style="text-indent:4em;font-size:23.5px;">3) 2个基因的UTR区域以及1个基因的启动子区域测序;</p>
            <p style="text-indent:4em;font-size:23.5px;">4) 检测突变类型包括点突变，插入缺失突变，融合突变;</p>
            <p style="text-indent:4em;font-size:23.5px;margin-top:50px;">用于检测点突变与插入缺失突变的基因列表</p>

            <table class="pg14_table1">
                <tbody> 
                    <tr> 
                        <td class="pg14_table1_tr1">ABCB1</td>
                        <td class="pg14_table1_tr1">ABL1</td>
                        <td class="pg14_table1_tr1">ABL2</td>
                        <td class="pg14_table1_tr1">ACVR1B</td>
                        <td class="pg14_table1_tr1">AKT1</td>
                        <td class="pg14_table1_tr1">AKT2</td>
                        <td class="pg14_table1_tr1">AKT3</td>
                        <td class="pg14_table1_tr1">ALOX12B</td>
                        <td class="pg14_table1_tr1">AMER1</td>
                        <td class="pg14_table1_tr1">APC</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">AR</td>
                        <td class="pg14_table_tr2">ARAF</td>
                        <td class="pg14_table_tr2">ARFRP1</td>
                        <td class="pg14_table_tr2">ARID1A</td>
                        <td class="pg14_table_tr2">ARID1B</td>
                        <td class="pg14_table_tr2">ARID2</td>
                        <td class="pg14_table_tr2">ARID5B</td>
                        <td class="pg14_table_tr2">ASXL1</td>
                        <td class="pg14_table_tr2">ATM</td>
                        <td class="pg14_table_tr2">ATR</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">ATRX</td>
                        <td class="pg14_table_tr2">AURKA</td>
                        <td class="pg14_table_tr2">AURKB</td>
                        <td class="pg14_table_tr2">AXIN1</td>
                        <td class="pg14_table_tr2">AXIN2</td>
                        <td class="pg14_table_tr2">AXL</td>
                        <td class="pg14_table_tr2">B2M</td>
                        <td class="pg14_table_tr2">BAP1</td>
                        <td class="pg14_table_tr2">BARD1</td>
                        <td class="pg14_table_tr2">BCL2</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">BCL2L1</td>
                        <td class="pg14_table_tr2">BCL2L11</td>
                        <td class="pg14_table_tr2">BCL2L2</td>
                        <td class="pg14_table_tr2">BCL6</td>
                        <td class="pg14_table_tr2">BCOR</td>
                        <td class="pg14_table_tr2">BCORL1</td>
                        <td class="pg14_table_tr2">BIRC3</td>
                        <td class="pg14_table_tr2">BLM</td>
                        <td class="pg14_table_tr2">BMPR1A</td>
                        <td class="pg14_table_tr2">BRCA1</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">BRCA2</td>
                        <td class="pg14_table_tr2">BRD3</td>
                        <td class="pg14_table_tr2">BRIP1</td>
                        <td class="pg14_table_tr2">BTG1</td>
                        <td class="pg14_table_tr2">BTK</td>
                        <td class="pg14_table_tr2">C11orf30</td>
                        <td class="pg14_table_tr2">CALR</td>
                        <td class="pg14_table_tr2">CARD11</td>
                        <td class="pg14_table_tr2">CASP8</td>
                        <td class="pg14_table_tr2">CBFB</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">CBL</td>
                        <td class="pg14_table_tr2">CCND1</td>
                        <td class="pg14_table_tr2">CCND2</td>
                        <td class="pg14_table_tr2">CCND3</td>
                        <td class="pg14_table_tr2">CCNE1</td>
                        <td class="pg14_table_tr2">CD274</td>
                        <td class="pg14_table_tr2">CD79A</td>
                        <td class="pg14_table_tr2">CD79B</td>
                        <td class="pg14_table_tr2">CD80</td>
                        <td class="pg14_table_tr2">CD86</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">CDC73</td>
                        <td class="pg14_table_tr2">CDH1</td>
                        <td class="pg14_table_tr2">CDK12</td>
                        <td class="pg14_table_tr2">CDK4</td>
                        <td class="pg14_table_tr2">CDK6</td>
                        <td class="pg14_table_tr2">CDK8</td>
                        <td class="pg14_table_tr2">CDKN1A</td>
                        <td class="pg14_table_tr2">CDKN1B</td>
                        <td class="pg14_table_tr2">CDKN2A</td>
                        <td class="pg14_table_tr2">CDKN2B</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">CDKN2C</td>
                        <td class="pg14_table_tr2">CEBPA</td>
                        <td class="pg14_table_tr2">CHD2</td>
                        <td class="pg14_table_tr2">CHD4</td>
                        <td class="pg14_table_tr2">CHEK1</td>
                        <td class="pg14_table_tr2">CHEK2</td>
                        <td class="pg14_table_tr2">CIC</td>
                        <td class="pg14_table_tr2">CREBBP</td>
                        <td class="pg14_table_tr2">CRKL</td>
                        <td class="pg14_table_tr2">CRLF2</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">CSF1R</td>
                        <td class="pg14_table_tr2">CSF3R</td>
                        <td class="pg14_table_tr2">CTCF</td>
                        <td class="pg14_table_tr2">CTLA4</td>
                        <td class="pg14_table_tr2">CTNNA1</td>
                        <td class="pg14_table_tr2">CTNNB1</td>
                        <td class="pg14_table_tr2">CUL3</td>
                        <td class="pg14_table_tr2">CYLD</td>
                        <td class="pg14_table_tr2">CYP2D6</td>
                        <td class="pg14_table_tr2">DAXX</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">DCUN1D1</td>
                        <td class="pg14_table_tr2">DDR1</td>
                        <td class="pg14_table_tr2">DDR2</td>
                        <td class="pg14_table_tr2">DICER1</td>
                        <td class="pg14_table_tr2">DIS3</td>
                        <td class="pg14_table_tr2">DNMT1</td>
                        <td class="pg14_table_tr2">DNMT3A</td>
                        <td class="pg14_table_tr2">DOT1L</td>
                        <td class="pg14_table_tr2">EGFR</td>
                        <td class="pg14_table_tr2">EIF4A2</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">EP300</td>
                        <td class="pg14_table_tr2">EPCAM</td>
                        <td class="pg14_table_tr2">EPHA3</td>
                        <td class="pg14_table_tr2">EPHA5</td>
                        <td class="pg14_table_tr2">EPHA6</td>
                        <td class="pg14_table_tr2">EPHA7</td>
                        <td class="pg14_table_tr2">EPHB1</td>
                        <td class="pg14_table_tr2">ERBB2</td>
                        <td class="pg14_table_tr2">ERBB3</td>
                        <td class="pg14_table_tr2">ERBB4</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">ERCC1</td>
                        <td class="pg14_table_tr2">ERCC2</td>
                        <td class="pg14_table_tr2">ERCC3</td>
                        <td class="pg14_table_tr2">ERRFI1</td>
                        <td class="pg14_table_tr2">ESR1</td>
                        <td class="pg14_table_tr2">ETV1</td>
                        <td class="pg14_table_tr2">ETV4</td>
                        <td class="pg14_table_tr2">EZH2</td>
                        <td class="pg14_table_tr2">FAM175A</td>
                        <td class="pg14_table_tr2">FAM46C</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">FANCA</td>
                        <td class="pg14_table_tr2">FANCC</td>
                        <td class="pg14_table_tr2">FANCD2</td>
                        <td class="pg14_table_tr2">FANCE</td>
                        <td class="pg14_table_tr2">FANCF</td>
                        <td class="pg14_table_tr2">FANCG</td>
                        <td class="pg14_table_tr2">FANCI</td>
                        <td class="pg14_table_tr2">FANCL</td>
                        <td class="pg14_table_tr2">FAS</td>
                        <td class="pg14_table_tr2">FAT1</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">FBXW7</td>
                        <td class="pg14_table_tr2">FCGR2B</td>
                        <td class="pg14_table_tr2">FGF10</td>
                        <td class="pg14_table_tr2">FGF14</td>
                        <td class="pg14_table_tr2">FGF19</td>
                        <td class="pg14_table_tr2">FGF23</td>
                        <td class="pg14_table_tr2">FGF3</td>
                        <td class="pg14_table_tr2">FGF4</td>
                        <td class="pg14_table_tr2">FGF6</td>
                        <td class="pg14_table_tr2">FGF7</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">FGFR4</td>
                        <td class="pg14_table_tr2">FH</td>
                        <td class="pg14_table_tr2">FLCN</td>
                        <td class="pg14_table_tr2">FLT1</td>
                        <td class="pg14_table_tr2">FLT3</td>
                        <td class="pg14_table_tr2">FLT4</td>
                        <td class="pg14_table_tr2">FOXA1</td>
                        <td class="pg14_table_tr2">FOXL2</td>
                        <td class="pg14_table_tr2">FOXP1</td>
                        <td class="pg14_table_tr2">FRS2</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">FUBP1</td>
                        <td class="pg14_table_tr2">FYN</td>
                        <td class="pg14_table_tr2">GABRA6</td>
                        <td class="pg14_table_tr2">GATA1</td>
                        <td class="pg14_table_tr2">GATA2</td>
                        <td class="pg14_table_tr2">GATA3</td>
                        <td class="pg14_table_tr2">GATA4</td>
                        <td class="pg14_table_tr2">GATA6</td>
                        <td class="pg14_table_tr2">GLI1</td>
                        <td class="pg14_table_tr2">GNA11</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">GNA13</td>
                        <td class="pg14_table_tr2">GNAQ</td>
                        <td class="pg14_table_tr2">GNAS</td>
                        <td class="pg14_table_tr2">GREM1</td>
                        <td class="pg14_table_tr2">GRIN2A</td>
                        <td class="pg14_table_tr2">GRM3</td>
                        <td class="pg14_table_tr2">GSK3B</td>
                        <td class="pg14_table_tr2">GSTP1</td>
                        <td class="pg14_table_tr2">H3F3A</td>
                        <td class="pg14_table_tr2">H3F3C</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">HAVCR2</td>
                        <td class="pg14_table_tr2">HGF</td>
                        <td class="pg14_table_tr2">HIST1H1C</td>
                        <td class="pg14_table_tr2">HIST1H2BD</td>
                        <td class="pg14_table_tr2">HIST1H3B</td>
                        <td class="pg14_table_tr2">HLA</td>
                        <td class="pg14_table_tr2">HNF1A</td>
                        <td class="pg14_table_tr2">HRAS</td>
                        <td class="pg14_table_tr2">HSD3B1</td>
                        <td class="pg14_table_tr2">HSP90AA1</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">ICOS</td>
                        <td class="pg14_table_tr2">ICOSLG</td>
                        <td class="pg14_table_tr2">IDH1</td>
                        <td class="pg14_table_tr2">IDH2</td>
                        <td class="pg14_table_tr2">IGF1</td>
                        <td class="pg14_table_tr2">IGF1R</td>
                        <td class="pg14_table_tr2">IGF2</td>
                        <td class="pg14_table_tr2">IKBKE</td>
                        <td class="pg14_table_tr2">IKZF1</td>
                        <td class="pg14_table_tr2">IL7R</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">INHBA</td>
                        <td class="pg14_table_tr2">INPP4A</td>
                        <td class="pg14_table_tr2">INPP4B</td>
                        <td class="pg14_table_tr2">INSR</td>
                        <td class="pg14_table_tr2">IP6K1</td>
                        <td class="pg14_table_tr2">IRF2</td>
                        <td class="pg14_table_tr2">IRF4</td>
                        <td class="pg14_table_tr2">IRS2</td>
                        <td class="pg14_table_tr2">JAK1</td>
                        <td class="pg14_table_tr2">JAK3</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">JUN</td>
                        <td class="pg14_table_tr2">KDM5A</td>
                        <td class="pg14_table_tr2">KDM5C</td>
                        <td class="pg14_table_tr2">KDM6A</td>
                        <td class="pg14_table_tr2">KDR</td>
                        <td class="pg14_table_tr2">KEAP1</td>
                        <td class="pg14_table_tr2">KEL</td>
                        <td class="pg14_table_tr2">KIT</td>
                        <td class="pg14_table_tr2">KLF4</td>
                        <td class="pg14_table_tr2">KLHL6</td>
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2">KMT2A</td>
                        <td class="pg14_table_tr2">KMT2B</td>
                        <td class="pg14_table_tr2">KMT2C</td>
                        <td class="pg14_table_tr2">KMT2D</td>
                        <td class="pg14_table_tr2">KRAS</td>
                        <td class="pg14_table_tr2">LAG3</td>
                        <td class="pg14_table_tr2">LATS1</td>
                        <td class="pg14_table_tr2">LATS2</td>
                        <td class="pg14_table_tr2">LCK</td>
                        <td class="pg14_table_tr2">LMO1</td>
                    </tr>                                               
                </tbody>
            </table>