        <div class="pg1_div1">
            <p class="pg1_p1">厦门艾德医学检验所<br>
                <span class="pg1_span1">AMOYDX MEDICAL INSTITUTE</span>
            </p>               
            <p style="font-size: 40px;">448基因(TMB)检测报告</p>
        </div>
        <img class="pg1_img1" src="genepic/Amoy.png">
        <hr> 
        <span>厦门艾德医学检验所 400-966-8802 www.amoydxmed.com</span>