            <p class="pg3_p1">送检信息</p>
            <table class="pg3_table1">
                <thead>
                    <tr>
                        <td colspan="4" class="pg3_td1">送检医院： replace </td>  <!--Inspection_hospital-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-indent: 1em;width: 33%;">姓&emsp;&emsp;名： replace</td>   <!--patient_name-->
                        <td style="width: 33%;">性&emsp;&emsp;别： replace</td>  <!--sex-->
                        <td style="width: 34%;">年&emsp;&emsp;龄： replace</td> <!--age-->                          
                    </tr>
                    <tr>
                        <td style="text-indent: 1em;">住&nbsp; 院&nbsp; 号：  </td> <!--admission_number--><!--默认留空-->
                        <td style="padding-bottom: 5px;">病理编号： replace</td> <!--pathological_number-->
                        <td>病理诊断： replace</td>  <!--pathologic_diagnosis-->
                    </tr>
                </tbody>
            </table>