            <p class="pg3_p2">样本信息</p>
            <table class="pg3_table2">
                <thead>
                    <tr>
                        <td class="pg3_td2">样本编号： replace</td>    <!--sample_number-->
                        <td style="width:33%">样本类型1： replace</td>  <!--sample_type1-->
                        <td style="width:34%">样本数量1： replace</td>   <!--sample_quantity1-->                         
                    </tr>
                </thead>
                <tbody>
                    <tr>                    
                        <td style="text-indent: 1em;">样本类型2： replace</td>  <!--sample_type2-->
                        <td>样本数量2： replace</td>    <!--sample_quantity2-->
                        <td>*样本质量： replace</td>    <!--sample_quality-->
                    </tr>
                    <tr>
                        <td style="text-indent: 1em;padding-bottom: 5px;">病理质控： replace</td>       <!--control_result-->
                        <td>接收日期： replace</td>   <!--accept_date-->
                        <td>报告日期： replace</td>   <!--report_date-->
                    </tr>
                </tbody>
            </table>
            <p style="margin-top:360px;text-indent: 1em;font-size:16px;">*样本质量：根据样本质控结果对样本质量给出综合打分，具体质控方式及打分方式见附录</p> 
