            <table class="pg3_table3">
                <tr>
                    <td class="pg3_td3">目录</td>
                    <td style="width:4px;"></td>
                    <td class="pg3_td4">检测结果汇总</td>
                </tr>
                <tr style="height:12px;"></tr>
                <tr>
                    <td class="pg3_td5">基本信息及检测结果</td>
                    <td></td>
                    <td rowspan="8" style="border:2px solid #59B023;">
                        <div class="pg3_div1">
                            <p>replace</p>   <!--page3_detect_result-->
                            <p>replace</p>  <!--detect_CNV-->
                            <p>肿瘤突变负荷(TMB)水平： replace Muts/Mb</p> <!--page3_tmb_num-->
                            <p>肿瘤微卫星不稳定性(MSI)检测结果: replace </p>  <!--page3_MSI-->
                            <p>PD-L1表达检测结果：replace </p> <!--page3_pdl1-->
                            <p>本次在送检样本中共检测出 replace1 个体细胞突变，基于当前数据库记录，这些突变均没有相关药物报道</p>  <!--detect_num_noCNV-->
                            <p>本次在送检样本中共检测出 replace1 个体细胞突变， replace_cnv_num 个拷贝数变异，其中有靶向药物报道的突变有 replace_gene 基因扩增，其余突变均无相关药物报道</p>  <!--detect_num_CNV-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pg3_td6">&bull; 送检信息 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&bull; 检测结果汇总</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="pg3_td7">检测结果解析及临床提示</td>
                    <td></td>
                    <td scope="row"></td>
                </tr>
                <tr>
                    <td class="pg3_td8">
                        <p>&bull; 检测结果 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&bull; 临床试验信息</p>
                        <p>&bull; 检测结果解析及用药信息</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="pg3_td9">质量控制</td>
                    <td></td>
                    <td scope="row"></td>
                </tr>
                <tr>
                    <td class="pg3_td6">
                        <p>&bull; 全程多节点质控 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&bull; 数据质控结果</p>
                        <p>&bull; 样本质量评级</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="pg3_td10">附录</td>
                    <td></td>
                    <td scope="row"></td>
                </tr>
                <tr>
                    <td class="pg3_td8">
                        <p>&bull; 意义不明确突变位点列表&emsp;&emsp;&emsp;&emsp;&bull; 药物证据等级</p>
                        <p>&bull; 肿瘤突变负荷(TMB)检测意义 &emsp;&emsp;&bull; 慈善援助药物信息</p>
                        <p>&bull; 检测基因列表&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&bull; 已上市的靶向药物汇总</p>                         
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <table class="pg3_table4">
                <tr>
                    <td class="pg3_td11">&nbsp;&nbsp;&nbsp;检测方法</td>
                    <td style="width:2px;"></td>
                    <td class="pg3_td12"></td>
                </tr>
                <tr>
                    <td colspan="3" class="pg3_td13">样本核酸提取后进行文库构建和探针捕获，采用新一代高通量测序技术(NGS)，对实体瘤药物相关突变进行检测。测序平台为illumina，分析软件为厦门艾德自主研发的癌症基因突变信息分析系统。
                    </td>
                </tr>
            </table> 
