            <p class="pg5_p1">1、样本肿瘤突变负荷分析</p>
            <table class="pg5_table1">
                <tbody>
                    <tr> 
                        <td class="pg5_td1">肿瘤突变负荷(Muts/Mb)</td> 
                        <td style="width:1px;"></td>
                        <td class="pg5_td2">评估结果</td>
                        <td style="width:1px;"></td>
                        <td class="pg5_td3">相关靶向药物</td>
                    </tr>                 
                    <tr>
                        <td style="heigth:2px;"></td>
                    </tr>
                </tbody>
            </table>