            <p class="pg5_p2">2、样本微卫星不稳定性分析</p>
            <table class="pg5_table3">
                <tbody>
                    <tr> 
                        <td class="pg5_td6">微卫星不稳定性</td>
                        <td style="width:1px;"></td>
                        <td class="pg5_td7">相关靶向药物</td>
                    </tr>                 
                    <tr>
                        <td style="height:2px;"></td>
                    </tr>
                </tbody>
            </table>