
            <p class="pg5_p3">
                注：1、NA表示并未找到相关报道<br>
                &emsp;&emsp;2、**括号中的字母和数字代表证据可靠等级，具体可参考附录;<br>
				&emsp;&emsp;3、突变检测结果中仅列出药物相关的突变位点，其他位点详见附录1;<br>
                &emsp;&emsp;4、肿瘤突变负荷(Tumor mutation burden, TMB)定义为靶向测序编码区每百万碱基(Mb)的体细胞突变数目，包括点突变和插入缺失。
            </p>
