            <table class="pg5_table4">
                <tbody>
                    <tr>
                        <td class="pg5_td8">replace</td>    <!--MSI_result-->
                        <td></td>
                        <td class="pg5_td9">replace</td> <!--MSI_drug-->
                    </tr>
                </tbody>
            </table>

