
            <table class="pg4_table1">
                <tbody>
                    <tr> 
                        <td class="pg4_td1">基因突变</td> 
                        <td style="width:1px;"></td>
                        <td class="pg4_td2">突变比例/<br>变异倍数</td> 
                        <td style="width:1px;"></td>
                        <td class="pg4_td3"><div style="width:150px;padding-left:50px;">FDA/NCCN药物提示敏感**</div></td>
                        <td style="width:1px;"></td>
                        <td class="pg4_td4"><div style="width:130px;padding-left:50px;">临床实验药物提示敏感</div></td>
                        <td style="width:1px;"></td>
                        <td class="pg4_td5">提示耐药</td>
                    </tr>                 
                    <tr>
                        <td style="heigth:2px;"></td>
                    </tr>
                </tbody>
            </table>

            <table class="pg4_table2">
                <tbody>
