                    <tr>
                        <td class="pg4_td6">replace</td> <!--SNP_result-->
                        <td></td>
                        <td class="pg4_td7">replace</td> <!--SNP_freq-->
                        <td></td>
                        <td class="pg4_td8">replace</td>    <!--SNP_sensitive-->
                        <td></td>
                        <td class="pg4_td9">replace</td>    <!--clinical_sensitive-->
                        <td></td>
                        <td class="pg4_td10">replace</td>    <!--resistance-->
                    </tr>
