            <table class="pg5_table2">
                <tbody>
                    <tr>
                        <td class="pg5_td4">replace</td>   <!--TMB_num-->
                        <td></td>
                        <td class="pg5_td5">replace</td> <!--TMB_result-->
                        <td></td>
                        <td class="pg5_td5">replace</td> <!--TMB_drug-->
                    </tr>
                </tbody>
            </table>
