            <!--添加化疗信息-->
            <p class="chem_title">3、化疗检测结果</p>
            <table class="chem_table1">
                <tbody>
                    <tr>
                        <td class="chem_tab1td1">名称</td>
                        <td class="chem_tab1td2">检测基因</td> 
                        <td class="chem_tab1td3">位点</td>
                        <td class="chem_tab1td4">基因型</td>
                        <td class="chem_tab1td5">毒性风险</td>
                        <td class="chem_tab1td6">药物疗效</td>
                        <td class="chem_tab1td7">证据水平</td>
                    </tr>                 
                </tbody>
            </table>
            <table class="chem_table2">
                <tbody>
                    <!--5-FU-->
                    <tr><td rowspan = "5" class="chem_tab2td1">5-FU</td><td class="chem_gene"><i>DPYD</i></td><td class="chem_rs">rs3918290</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr>  <!--5-FU_rs3918290--><!--pass_gene-->
                    <tr><td class="chem_gene"><i><i>GSTP1</i></i></td><td class="chem_rs">rs1695</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr>    <!--5-FU_rs1695--><!--pass_gene--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>TYMS</i></td><td class="chem_rs">rs151264360</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr>    <!--5-FU_rs151264360--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>TP53</i></td><td class="chem_rs">rs1042522</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr>  <!--5-FU_rs1042522--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>UMPS</i></td><td class="chem_rs">rs1801019</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr>  <!--5-FU_rs1801019--><!--pass_gene-->
                    <!--卡培他滨--><!--pass_gene-->
                    <tr><td rowspan = "3" class="chem_tab2td2">卡培他滨</td><td class="chem_gene"><i>DPYD</i></td><td class="chem_rs">rs3918290</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr>  <!--卡培他滨_rs3918290--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>CDA</i></td><td class="chem_rs">rs2072671</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--卡培他滨_rs2072671--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>TYMS</i></td><td class="chem_rs">rs151264360</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--卡培他滨_rs151264360--><!--pass_gene-->
                    <!--多柔比星--><!--pass_gene-->
                    <tr><td rowspan = "2" class="chem_tab2td3">多柔比星</td><td class="chem_gene"><i>SLC28A3</i></td><td class="chem_rs">rs885004</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--多柔比星_rs885004--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>SLC28A3</i></td><td class="chem_rs">rs7853758</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--多柔比星_rs7853758--><!--pass_gene-->
                    <!--表柔比星--><!--pass_gene-->
                    <tr><td rowspan = "3" class="chem_tab2td4">表柔比星</td><td class="chem_gene"><i>GSTP1</i></td><td class="chem_rs">rs1695</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--表柔比星_rs1695--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>SLC28A3</i></td><td class="chem_rs">rs885004</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--表柔比星_rs885004--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>SLC28A3</i></td><td class="chem_rs">rs7853758</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--表柔比星_rs7853758--><!--pass_gene-->
                    <!--顺铂--><!--pass_gene-->
                    <tr><td rowspan = "6" class="chem_tab2td5">顺铂</td><td class="chem_gene"><i>XPC</i></td><td class="chem_rs">rs2228001</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--顺铂_rs2228001--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>TP53</i></td><td class="chem_rs">rs1042522</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--顺铂_rs1042522--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>GSTP1</i></td><td class="chem_rs">rs1695</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--顺铂_rs1695--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>ERCC1</i></td><td class="chem_rs">rs11615</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--顺铂_rs11615--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>XRCC1</i></td><td class="chem_rs">rs25487</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--顺铂_rs25487--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>XRCC1</i></td><td class="chem_rs">rs1799782</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--顺铂_rs1799782--><!--pass_gene-->
                    <!--依托泊苷--><!--pass_gene-->
                    <tr><td class="chem_tab2td6">依托泊苷</td><td class="chem_gene"><i>DYNC2H1</i></td><td class="chem_rs">rs716274</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--依托泊苷_rs716274--><!--pass_gene-->
                    <!--奥沙利铂--><!--pass_gene-->
                    <tr><td rowspan = "4" class="chem_tab2td7">奥沙利铂</td><td class="chem_gene"><i>GSTP1</i></td><td class="chem_rs">rs1695</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--奥沙利铂_rs1695--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>ERCC1</i></td><td class="chem_rs">rs11615</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--奥沙利铂_rs11615--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>XRCC1</i></td><td class="chem_rs">rs25487</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--奥沙利铂_rs25487--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>XRCC1</i></td><td class="chem_rs">rs1799782</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--奥沙利铂_rs1799782--><!--pass_gene-->
                    <!--卡铂--><!--pass_gene-->
                    <tr><td rowspan = "4" class="chem_tab2td7">卡铂</td><td class="chem_gene"><i>MTHFR</i></td><td class="chem_rs">rs1801133</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--卡铂_rs1801133--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>ERCC1</i></td><td class="chem_rs">rs11615</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--卡铂_rs11615--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>XRCC1</i></td><td class="chem_rs">rs25487</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--卡铂_rs25487--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>XRCC1</i></td><td class="chem_rs">rs1799782</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--卡铂_rs1799782--><!--pass_gene-->
                </tbody>
            </table>
