            <!--添加化疗第二页-->
            <table class="chem_table2">
                <tbody>
                    <!--环磷酰胺-->
                    <tr><td rowspan = "4" class="chem_tab2td7">环磷酰胺</td><td class="chem_gene"><i>MTHFR</i></td><td class="chem_rs">rs1801133</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--环磷酰胺_rs1801133--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>GSTP1</i></td><td class="chem_rs">rs1695</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--环磷酰胺_rs1695--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>TP53</i></td><td class="chem_rs">rs1042522</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--环磷酰胺_rs1042522--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>SOD2</i></td><td class="chem_rs">rs4880</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--环磷酰胺_rs4880--><!--pass_gene-->
                    <!--甲氨蝶呤--><!--pass_gene-->
                    <tr><td rowspan = "4" class="chem_tab2td7">甲氨蝶呤</td><td class="chem_gene"><i>MDR1</i></td><td class="chem_rs">rs1045642</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--甲氨蝶呤_rs1045642--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>SLCO1B1</i></td><td class="chem_rs">rs11045879</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--甲氨蝶呤_rs11045879--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>MTHFR</i></td><td class="chem_rs">rs1801133</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--甲氨蝶呤_rs1801133--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>MTRR</i></td><td class="chem_rs">rs1801394</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--甲氨蝶呤_rs1801394--><!--pass_gene-->
                    <!--吉西他滨--><!--pass_gene-->
                    <tr><td rowspan = "2" class="chem_tab2td8">吉西他滨</td><td class="chem_gene"><i>CDA</i></td><td class="chem_rs">rs2072671</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--吉西他滨_rs2072671--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>CDA</i></td><td class="chem_rs">rs60369023</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--吉西他滨_rs60369023--><!--pass_gene-->
                    <!--紫杉醇--><!--pass_gene-->
                    <tr><td class="chem_tab2td9">紫杉醇</td><td class="chem_gene"><i>TP53</i></td><td class="chem_rs">rs1042522</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--紫杉醇_rs1042522--><!--pass_gene-->
                    <!--伊立替康--><!--pass_gene-->
                    <tr><td rowspan = "5" class="chem_tab2td1">伊立替康</td><td class="chem_gene"><i>UGT1A1</i></td><td class="chem_rs">rs8175347</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--伊立替康_rs8175347--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>UGT1A1</i></td><td class="chem_rs">rs4148323</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--伊立替康_rs4148323--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>UGT1A1</i></td><td class="chem_rs">rs10929302</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--伊立替康_rs10929302--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>SEMA3C</i></td><td class="chem_rs">rs7779029</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--伊立替康_rs7779029--><!--pass_gene-->
                    <tr><td class="chem_gene"><i>C8orf34</i></td><td class="chem_rs">rs1517114</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--伊立替康_rs1517114--><!--pass_gene-->
                    <!--亚叶酸钙/四氢叶酸--><!--pass_gene-->
                    <tr><td class="chem_tab2td9">亚叶酸钙/四氢叶酸</td><td class="chem_gene"><i>UMPS</i></td><td class="chem_rs">rs1801019</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--亚叶酸钙/四氢叶酸_rs1801019--><!--pass_gene-->
                    <!--他莫昔芬--><!--pass_gene-->
                    <tr><td class="chem_tab2td9">他莫昔芬</td><td class="chem_gene"><i>CYP19A1</i></td><td class="chem_rs">rs4646</td><td class="chem_genetype">replace1</td><td class="chem_rank">replace2</td><td class="chem_drug">replace3</td><td class="chem_grad">replace4</td></tr><!--他莫昔芬_rs4646--><!--pass_gene-->
                    
                </tbody>
            </table>
            <p style="margin-top:25px;font-size:20px;line-height:35px;">
                注：1、化疗药物证据水平划分依据参考PharmGKB数据库，共分为1A/1B/2A/2B/3/4这6个等级：<br>
                &emsp;&emsp;&emsp;&emsp;1A：由临床药物基因组学实施联盟(CPIC)或遗传药理学指南认可，或者应用于其他主要卫生系统；<br>
                &emsp;&emsp;&emsp;&emsp;1B：注释基于多项有统计显著性的研究；<br>
                &emsp;&emsp;&emsp;&emsp;2A：注释基于多项重复研究，并且该基因为明确的药物代谢基因；<br>
                &emsp;&emsp;&emsp;&emsp;2B：注释基于多项重复研究，但其中一些研究没有统计学意义或影响较小；<br>
                &emsp;&emsp;&emsp;&emsp;3：注释仅基于一项有显著性差异的研究，或多项研究但缺乏明显药效关联；<br>
                &emsp;&emsp;&emsp;&emsp;4：注释仅基于病例报告，非权威性研究或体外分子功能研究；<br>
                &emsp;&emsp;2、如同一个药物不同SNP位点对药物疗效或毒性预测的结论有争议时，以证据水平级别高的为准。
            </p>
