             <p class="pg9_p1">微卫星不稳定性检测结果解析及临床意义 </p>
            <div class="pg9_div1">
                <table style="margin:20px 20px;"> 
                    <tr>
                        <td class="pg9_td1">MSI结果</td>
                        <td style="width:25px;"></td>
                        <td class="pg9_td2">MSI-H</td>
                    </tr>
                    <tr>
                        <td class="pg9_td3">MSI定义</td>
                        <td style="width:25px;"></td>
                        <td class="pg9_td4">微卫星(MS)是广泛存在于人类基因组中具有高度多态性的短串联重复序列，微卫星不稳定性(MSI)是指由于DNA复制错误引起的微卫星长度发生改变的现象。</td>
                    </tr>
                    <tr>
                        <td class="pg9_td5">临床意义</td>
                        <td style="width:25px;"></td>
                        <td class="pg9_td6"><p>高水平的微卫星不稳定性(MSI-H)常见于结直肠癌(CRC)，据文献报道，大约15%的结直肠癌表现出MSI-H，包括遗传性非息肉病性结直肠癌(HNPCC)或Lynch综合症(3%)和散发性MSI-H 结直肠癌(12%)。Lynch综合征是由错配修复基因(MLH1，MSH2，MSH6和PMS2)中的种系突变引起的常染色体显性遗传病，而散发性MSI-H 结直肠癌通常由MLH1基因启动子的甲基化引起。
                        目前FDA已经批准纳武单抗(Nivolumab)、派姆单抗(Pembrolizumab)和伊匹单抗(Ipilimumab)等用于微卫星不稳定性较高的实体瘤的用药治疗。在一项临床2期试验中，74名患有dMMR/MSI-H的转移性结直肠癌患者接受纳武单抗治疗，中位随访时间为12个月，其中23名患者达到了评估的客观反应，51名患者的疾病控制持续12周甚至更长。在另一项临床研究中表明，5-氟尿嘧啶(5-FU)的辅助化疗对II期和III期MSI阴性CRC患者有益处，但对MSI-H状态患者无效。另有临床试验也表明，具有MSI-H的肿瘤细胞对5-FU耐药，但对伊立替康(irinotecan)和丝裂霉素C(mitomycin C)敏感。</p></td>
                    </tr>
                    <tr>
                        <td class="pg8_td7">获益药物</td>
                        <td style="width:25px;"></td>
                        <td class="pg8_td8">
                            <table>
                                <tbody>
                                    <tr> 
                                        <td class="pg8_td9">药物名称</td> 
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td10">CFDA/FDA批准于本癌种</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td11">CFDA/FDA批准于其他癌种</td>
                                    </tr>
                                    <tr>
                                        <td class="pg8_td12">Pembrolizumab</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                    <tr>
                                        <td class="pg8_td12">Ipilimumab</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                    <tr>
                                        <td class="pg8_td12">nivolumab</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                    <tr>
                                        <td class="pg8_td12">irinotecan</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">---</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                     <tr>
                                        <td style="width:350px;text-align:center;border-bottom:2px dashed grey;">mitomycin C</td>
                                        <td style="width:1px;"></td>
                                        <td style="width:350px;text-align:center;border-bottom:2px dashed grey;">---</td>
                                        <td style="width:1px;"></td>
                                        <td style="width:350px;text-align:center;border-bottom:2px dashed grey;">---</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
