            <div class="pg6_div4">
                <table style="margin:40px 20px;"> 
                    <tr>
                        <td class="pg6_td1">基因变异</td>
                        <td style="width:25px;"></td>
                        <td class="pg6_td2">replace</td>    <!--gene_var-->
                    </tr>
                    <tr>
                        <td class="pg6_td3">变异介绍</td>
                        <td style="width:25px;"></td>
                        <td class="pg6_td4">replace</td>  <!--var_description-->
                    </tr>
                    <tr>
                        <td class="pg6_td5">治疗策略</td>
                        <td style="width:25px;"></td>
                        <td class="pg6_td6">replace</td> <!--treat_strategy-->
                    </tr>
                    <tr>
                        <td class="pg8_td7">获益药物</td>
                        <td style="width:25px;"></td>
                        <td class="pg8_td8">
                            <table>
                                <tbody>
                                    <tr> 
                                        <td class="pg8_td9">药物名称</td> 
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td10">CFDA/FDA批准于本癌种</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td11">CFDA/FDA批准于其他癌种</td>
                                    </tr>
                                    <tr><td class="pg8_td8td4">drug_replace</td>    <td style="width:1px;"></td><td class="pg8_td8td5">this_replace</td><td style="width:1px;"></td><td class="pg8_td8td6">other_replace</td></tr>      <!--drug_cancer-->
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>