            <p class="TMB_detect">肿瘤突变负荷检测结果解析及临床意义</p>
            <div class="pg8_div1">
                <table style="margin:20px 20px;"> 
                    <tr>
                        <td class="pg8_td1">TMB结果</td>
                        <td style="width:25px;"></td>
                        <td class="pg8_td2">肿瘤突变负荷较高( replace Muts/Mb)</td>   <!--TMB_num-->
                    </tr>
                    <tr>
                        <td class="pg8_td3">TMB定义</td>
                        <td style="width:25px;"></td>
                        <td class="pg8_td4">肿瘤突变负荷(Tumor mutation burden，TMB)为每个癌症病人基因组中每百万碱基(Mb)的非同义突变或所有体细胞突变数目。</td>
                    </tr>
                    <tr>
                        <td class="pg8_td5">临床意义</td>
                        <td style="width:25px;"></td>
                        <td class="pg8_td6"><p>已有的临床研究证明，TMB水平较高的实体瘤患者可能对于免疫治疗药物，包括PD-L1或PD-1抑制剂的治疗表现敏感。目前这类药物获得FDA批准的有伊匹单抗（ipilimumab），派姆单抗（pembrolizumab），atezolizumab和nivolumab等。最新NCCN指南中推荐Nivolumab+Ipilimumab双药联合免疫治疗和Nivolumab单药免疫治疗用于高肿瘤突变负荷(TMB>=10)的肺癌患者。在一项针对非小细胞肺癌的研究中，研究者对两组接受过派姆单抗治疗的非小细胞肺癌患者进行全外显子测序并进行肿瘤突变负荷分析，结果显示相比于低TMB水平的患者，高TMB水平的患者具有更高的客观缓解率（ORR 63% vs 0%，p=0.03）以及更长的无病进展生存期（14.5 vs 3.7 months，p=0.01）。在一项3期临床试验研究中显示，高TMB水平的患者中，Nivolumab联合Ipilimumab对比化疗具有显著的优势。其它的一些临床实验也显示，TMB水平较高的肿瘤患者可能从ipilimumab或nivolumab的治疗中获益。</p></td>
                    </tr>
                    <tr>
                        <td class="pg8_td7">获益药物</td>
                        <td style="width:25px;"></td>
                        <td class="pg8_td8">
                            <table>
                                <tbody>
                                    <tr> 
                                        <td class="pg8_td9">药物名称</td> 
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td10">CFDA/FDA批准于本癌种</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td11">CFDA/FDA批准于其他癌种</td>
                                    </tr>
                                    <tr>
                                        <td class="pg8_td12">Pembrolizumab</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                     <tr>
                                        <td class="pg8_td12">Ipilimumab</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                    <tr>
                                        <td class="pg8_td12">Atezolizumab</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                    <tr>
                                        <td class="pg8_td12">Nivolumab</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td13">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td class="pg8_td14">---</td>
                                    </tr>
                                    <tr>
                                        <td style="width:350px;text-align:center;border-bottom:2px dashed grey;">Nivolumab<br>+Ipilimumab</td>
                                        <td style="width:1px;"></td>
                                        <td style="width:350px;text-align:center;border-bottom:2px dashed grey;">&#10003</td>
                                        <td style="width:1px;"></td>
                                        <td style="width:350px;text-align:center;border-bottom:2px dashed grey;">---</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>