            <table class="pg10_table2">
                <tbody>
                    <tr>
                        <td colspan="9" class="pg10_td6">暂未找到相关临床试验</td>
                    </tr>
                </tbody>
            </table>
