            <table class="pg10_table1">
                <tbody>
                    <tr> 
                        <td class="pg10_td1">基因</td> 
                        <td style="width:1px;"></td>
                        <td class="pg10_td2">临床试验名称</td> 
                        <td style="width:1px;"></td>
                        <td class="pg10_td3">相关药物</td>
                        <td style="width:1px;"></td>
                        <td class="pg10_td4">阶段</td>
                        <td style="width:1px;"></td>
                        <td class="pg10_td5">NCI编号</td>
                    </tr>                 
                    <tr>
                        <td style="heigth:2px;"></td>
                    </tr>
                </tbody>
            </table>