            <table class="pg10_table2">
                <tbody>
                    <tr>
                        <td class="pg10_td6">replace</td>  <!--clinical_info_gene-->
                        <td style="width:1px;"></td>
                        <td class="pg10_td7"><div style="width:95%;margin-left:20px;margin-right:20px;">replace</div></td>  <!--clinical_info_name-->
                        <td style="width:1px;"></td>
                        <td class="pg10_td8"><div style="width:290px;margin-left:30px;">replace</div></td>   <!--clinical_info_drug-->
                        <td style="width:1px;"></td>
                        <td class="pg10_td9">replace</td>   <!--clinical_info_step-->
                        <td style="width:1px;"></td>
                        <td class="pg10_td10">replace</td>  <!--clinical_info_NCI-->
                    </tr>
                </tbody>
            </table>