            <p class="pg5_p3">
                注：1、NA表示并未找到相关报道<br>
                &emsp;&emsp;2、**括号中的字母和数字代表证据可靠等级，具体可参考附录;<br>
                &emsp;&emsp;3、肿瘤突变负荷(Tumor mutation burden, TMB)定义为靶向测序编码区每百万碱基(Mb)的体细胞突变数目，包括点突变和插入缺失;<br>
				&emsp;&emsp;4、如果检测样本的肿瘤细胞含量低于20%，可能会影响检测结果的准确性;<br>
                &emsp;&emsp;5、本实验检测结果的解释仅基于目前临床实验的进展及研究水平，具体以临床医生意见为准。<br>
            </p>
            <p class="pg10_p3">
                <span >检测人：</span>
                <span style="padding-left:60px;"></span>
                <span style="padding-left:160px;">复核人：</span>
                <span style="padding-left:60px;"></span>
                <span style="padding-left:160px;">审批人：</span>
                <span style="padding-left:60px;"></span>
                <br>
                <span style="font-size:15px;">

                    注:本报告仅针对本次送检标本，该检测为肿瘤患者个体化治疗提供依据，仅供临床参考
                </span>
            </p>