			<!--数据质控结果-->
			<div class="control_div1">数据质控结果</div>
			<table class="blood_table1">
				<tbody>
					<tr>
                        <td class="blood_td1">replace</td>  <!--sample_id-->
						<td class="blood_td2">质控内容</td>
                        <td class="blood_td3">质控结果</td>
                        <td class="blood_td4">是否合格</td>
					</tr>
				</tbody>
			</table>
			<table class="blood_table2">
				<tbody>
					<tr>
						<td rowspan="2" class="blood_td5">样品质控</td>
						<td class="blood_td6" style="height:48px;">样品DNA浓度</td>	
						<td class="blood_td7">&ge;0.1ng/uL</td>
                        <td class="blood_td8">&#10003</td>
					</tr>
                    <tr>
                        <td class="blood_td6" style="height:48px;">样品DNA片段分布</td>  
                        <td class="blood_td7">140-170bp</td>
                        <td class="blood_td8">&#10003</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="blood_td5">文库质控</td>
                        <td class="blood_td6" style="height:48px;">文库DNA浓度</td>  
                        <td class="blood_td7">&ge;30ng/uL</td>
                        <td class="blood_td8">&#10003</td>
                    </tr>
                    <tr>
                        <td class="blood_td6" style="height:48px;">文库DNA片段分布</td>  
                        <td class="blood_td7">300-600bp</td>
                        <td class="blood_td8">&#10003</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="blood_td9">数据质控</td>
                        <td class="blood_td6" style="height:45px;">Q20</td>  
                        <td class="blood_td7">replace</td> <!--Q20_data-->
                        <td class="blood_td8">&#10003</td>
                    </tr>
                    <tr>
                        <td class="blood_td6" style="height:45px;">比对率</td>  
                        <td class="blood_td7">replace</td> <!--bidui_data-->
                        <td class="blood_td8">&#10003</td>
                    </tr>
                    <tr>
                        <td class="blood_td6" style="height:45px;">覆盖度</td>  
                        <td class="blood_td7">replace</td> <!--fugai_data-->
                        <td class="blood_td8">&#10003</td>
                    </tr>
                    <tr>
                        <td class="blood_td6" style="height:45px;">均一性</td>  
                        <td class="blood_td7">replace</td> <!--junyi_data-->
                        <td class="blood_td8">&#10003</td>
                    </tr>
                    <tr>
                        <td class="blood_td6" style="height:45px;">平均深度</td>  
                        <td class="blood_td7">replace</td> <!--shendu_data-->
                        <td class="blood_td8">&#10003</td>
                    </tr>
				</tbody>
			</table>


			<div class="blood_div1">
                <p style="padding-top:50px;">注：</p>
				<p>Q20: &emsp;&emsp;&emsp;测序的准确率高于99%的碱基的比例</p>
				<p>比对率:&emsp; &emsp;可以比对至参考序列上的reads的比例</p>
				<p>覆盖度:&emsp;&emsp; 检测到的区域占目标区域的比例</p>
				<p>均一性:&emsp; &emsp;各目标区域的测序深度超过平均深度20%的比例</p>
				<p>平均深度: &emsp;目标区域每个碱基被覆盖到的次数的平均值</p>
			</div>
