		<div class="frame_div">
			<img class="yemei_png" src="genepic/logo-1.jpg" />	
			<div class="title">
				<span class="yemei_sampleName">&emsp;&emsp; 姓名：replace</span>	<!--title_name-->
				<span class="yemei_sampleNumber">&emsp;&emsp;样本编号：replace</span>		<!--title_sample_number-->
				
			</div>
			<hr class="yemei_hr"/>