			<!--数据质控结果-->
			<div class="control_div1">数据质控结果</div>
			<table class="control_table1">
				<tbody>
					<tr>
						<td rowspan="3" class="control_td1">质控项目</td>
						<td colspan="2" class="control_td2">replace</td>	<!--sample_id-->
					</tr>
					<tr>
						<td class="control_td3">统计结果</td>
						<td class="control_td4">数据质控</td>
					</tr>
				</tbody>
			</table>
			<table class="control_table2">
				<tbody>
					<tr>
						<td class="control_td5">Q20</td>
						<td class="control_td6">replace</td>	<!--Q20_data-->
						<td class="control_td7">合格</td>
					</tr>
					<tr>
						<td class="control_td8">比对率</td>
						<td class="control_td9">replace</td>	<!--bidui_data-->
						<td class="control_td9">合格</td>
					</tr>
					<tr>
						<td class="control_td8">覆盖度</td>
						<td class="control_td9">replace</td>	<!--fugai_data-->
						<td class="control_td9">合格</td>
					</tr>
					<tr>
						<td class="control_td8">均一性</td>
						<td class="control_td9">replace</td>	<!--junyi_data-->
						<td class="control_td9">合格</td>
					<tr>
						<td class="control_td10">平均深度</td>
						<td>replace</td>	<!--shendu_data-->
						<td>合格</td>
					</tr>
				</tbody>
			</table>
			<div class="control_div2">
				<p style="padding-top:50px;">Q20: &emsp;&emsp;&emsp;测序的准确率高于99%的碱基的比例</p>
				<p>比对率:&emsp; &emsp;可以比对至参考序列上的reads的比例</p>
				<p>覆盖度:&emsp;&emsp; 检测到的区域占目标区域的比例</p>
				<p>均一性:&emsp; &emsp;各目标区域的测序深度超过平均深度20%的比例</p>
				<p>平均深度: &emsp;目标区域每个碱基被覆盖到的次数的平均值</p>
			</div>