			<p class="rad50_p1">RAD52基因</p>
			<p class="rad50_p2">RAD52是参与RAD51介导的DNA重组和修复的重组酶蛋白（PMID:27649245），RAD52与RAD51结合，通过配对同源单链和双链DNA（PMID:27649245）促进同源重组（HR）期间的链交换。在家族性乳腺癌和卵巢癌中发现了罕见的胚系RAD52突变（PMID:12883740;PMID:10463575;PMID:23188672），然而人类癌症中的RAD52体细胞突变很少发生。</p>
			<p class='rad50_p2'>RAD52的致病变异或疑似致病变异可能导致同源重组缺陷，目前针对RAD52突变尚未有靶向药物获批，临床实验研究结果显示，同源重组缺陷亚组的卵巢癌患者能够更好的从鲁卡帕尼治疗中获益（PMID:28916367）。</p>
