			<p class="alk_p1">ALK基因</p>
			<p class="alk_p2">ALK基因（间变性淋巴瘤激酶）编码一种受体酪氨酸激酶，属于胰岛素受体家族成员，在大脑和神经系统的发育中起着重要的作用。ALK融合、突变或扩增在多种肿瘤中都有发生，包括间变性大淋巴细胞瘤、成神经细胞瘤、结直肠癌以及肺癌等[PMID:8122112;PMID:18593892;PMID:19737969]，是一种强力的肿瘤驱动基因。</p>
			<p class="alk_p2">目前已经被报道的ALK融合搭档基因超过20种，包括EML4-ALK、KIF5B-ALK、TFG-ALK等。在非小细胞肺癌中，有约3%~7%的病例存在ALK融合突变[PMID:22311682]，其中EML4-ALK的融合突变最为常见，其融合构型超过20种，又以EML4:Exon13-ALK:Exon20最为常见，约占突变总数的50%[PMID:22989574]。大部分的融合断点均发生在ALK基因的20号外显子或20号外显子的上游，也有少数发生在19号外显子上，这使得融合后的ALK蛋白保留了完整的激酶区域，这是ALK发挥致癌活性的关键部位。</p>
			<img class="ak_img" src="genepic/ak.png">
			<p class="alk_p4">NSCLC中几种常见的ALK融合突变构型[PMID:22989574]</p>
			<p class="alk_p2">克唑替尼是第一个被FDA批准用于ALK融合阳性的NSCLC治疗的靶向药物[PMID:22954507]，另外，靶向药物艾乐替尼、色瑞替尼等也在临床实验中对ALK融合阳性的患者表现出良好的治疗效果，被FDA批准用于已经对克唑替尼表现不耐受的NSCLC患者[PMID:24670165;PMID:26598747]。在NCCN指南中明确建议对ALK融合情况进行检测以指导NSCLC患者的用药选择[PMID:26957612]。 </p>	
			<p class="alk_p2">目前ALK基因上已经出现了多种针对克唑替尼的获得性耐药突变，包括C1156Y，F1174L等[PMID:21030459;PMID:20979473]，这些突变主要集中在ALK基因的22~25号外显子。针对这些耐药性突变的靶向药物LDK378目前在处于研发当中，并且在临床II期实验中表现出了良好的治疗效果。 </p>	