			<p class="msh2_p1">MSH2基因</p>
            <p class="msh2_p2">MSH2为肿瘤抑制因子， MSH2与其他MutS蛋白MSH6和MSH3形成异二聚体，分别形成MutS-α和MutS-β错配修复（MMR）复合物[PMID:7973733;PMID:8252616]。两种复合物都参与识别错配的碱基对，形成DNA-MutS复合物。MSH和其他MMR基因常见于遗传性非息肉病结肠癌（HNPCC），也称为Lynch综合征[PMID:1648437;PMID:428275]。MSH2突变占所有HNPCC病例的约40％[PMID:11852992]并且与MSI高表型相关[PMID:9823339;PMID:9354436]。MSH2突变也已在多种其他癌症类型和综合征中被报道，包括结直肠癌、子宫内膜癌以及皮脂腺肿瘤[PMID:19078925;PMID:16826164]。</p>
            <p class="msh2_p2">目前针对MSH2突变尚未有靶向药物被批准；在一项病例报告中[PMID:26674132]，一名患有复发性尿路上皮癌的45岁日本血统妇女，通过测序鉴定了患者携带MSH2（A913fs * 2，E226 *，E580 *）和MSH6（R361H）突变并且该患者为高肿瘤突变负荷，在第一阶段试验中接受抗PD-L1抑制剂MEDI4736和MEDI0680治疗，在治疗后2个月内完全缓解，持续11个月。</p>  