			<p class="cdk4_p1">CDK4基因</p>
            <p class="cdk4_p2">CDK4，细胞周期蛋白依赖性激酶4，是G1-S细胞周期转换的关键调节因子，可抑制细胞衰老和凋亡（PMID: 24089445），也是黑色素瘤中T细胞识别的肿瘤抗原（PMID: 29403496） 。CDK4失调促进多种癌症类型中的肿瘤发生（PMID: 24795392），并且扩增突变在脂肪肉瘤中较为常见（PMID: 23569315）。</p>
            <p class="cdk4_p2">目前针对CDK4扩增暂没有明确的靶向药物被批准。在一项临床II期试验中（PMID: 27124835），携带CDK4扩增的脂肪肉瘤患者在28天周期内口服Palbociclib进行治疗，每日125mg，持续21天，其12周无进展生存率为57.2%，中位PFS为17.9周。</p>            
