			<p class="mre11a_p1">MRE11A基因</p>
            <p class="mre11a_p2">MRE11A基因编码参与同源重组，端粒长度维持和DNA双链断裂修复的核蛋白。该蛋白具有3'至5'外切核酸酶活性和内切核酸酶活性，与RAD50同源物形成复合物具有增加的单链DNA核酸内切酶和3'至5'核酸外切酶活性；与DNA连接酶结合，该蛋白质在DNA片段末端附近使用短同源物促进体外非互补末端的连接。MRE11A是家族性乳腺癌和卵巢癌的易感基因，并且MRE11A的无义突变、沉默突变和移码突变在结直肠癌、胃癌和淋巴癌等中被观察到[PMID:19383352;PMID:24549055;PMID:24894818;PMID:11196167;PMID:11850399;PMID:23755103;PMID:16959974]。</p>
            <p class="mre11a_p2">目前针对MRE11A突变并没有相应的靶向药物获批上市，在一项临床研究中[PMID:26510020]，一名携带MRE11A，ATM，MLH3和NBN移码缺失的转移性前列腺癌患者，在治疗16周后显示出对PARP抑制剂奥拉帕尼的临床反应。</p>   