			<p class="tp53_p1">TP53基因</p>
            <p class="tp53_p2">TP53基因编码的p53蛋白属于肿瘤抑制蛋白，它参与多种基因表达的调节以及胞内生物学进程，包括细胞周期阻滞，DNA修复，细胞凋亡等。作为最为重要的抑癌基因之一，TP53突变在多数肿瘤中均有发生且极为常见，例如在文献报道显示，肺癌中TP53的突变比例约为43-80%[PMID:25079552;PMID:21331359;PMID:23011884]。单在肺腺癌中约为45%[PMID:24169260;PMID:23922113]，在结直肠癌中的发生概率约为52%~55%[PMID:2926561]，在乳腺癌中约20%[PMID:10471047]，等等，另外，TP53基因的生殖系突变失活可导致李-佛美尼综合症（Li-Fraumeni syndrome，LFS），该病患者或家族成员大多在年轻时便患上各种癌症如肉瘤，骨癌等。</p>
            <p class="tp53_p2">TP53突变报道较多，分布也较广，很多突变可导致p53蛋白失活（如移码突变，无义突变等），主要发生在p53蛋白的DNA结合域、四聚化结构域和C端调节区域[PMID:12826609;PMID:18410249]；另外有一些突变为功能获得性(gain of function, GOF)突变，可对肿瘤的发生和发展起到推动作用[PMID:8099841]，回顾性病例研究也证实，相对于失活性突变，生殖系GOF突变的携带者往往会更早地患上相关肿瘤[PMID:23172776;PMID:18511570]，目前报道比较多的GOF突变有R172H、R248Q、R273H、R248W等等[PMID:24651012]。</p>
            <img class="tp53_img" src="genepic/tp53.png">
            <p class="tp53_p3">目前针对p53突变的一些潜在治疗策略</p>
            <p class="tp53_p2">目前针对TP53突变并未有获批的药物，在近期的一项临床实验中发现，携带TP53或KRAS突变的肺癌患者相比阴性患者应用免疫治疗(Pembrolizumab)后拥有更长的无病进展生存期[PMID:24336076]（PFS，14.5 vs 14.7 vs 3.5月，P=0.012），另外，细胞周期检查点抑制剂AZD1775在TP53突变阳性的卵巢癌表现出良好的效果，例如一项临床II期实验（NCT01357161）显示，在携带TP53基因变异的对铂类药物敏感的卵巢癌患者中，与化疗药物卡铂和紫杉醇单用对比，AZD1775与卡铂和紫杉醇联合治疗增加了无进展生存期。另外一些药物，如HSP90抑制剂17AAG[PMID:24336076]，APR-246（NCT02098343）等，也在临床实验或体外实验中表现出对于TP53突变存在一定效果。</p>  
