			<p class="rad50_p1">RAD50基因</p>
			<p class="rad50_p2">RAD50是MRE11/RAD50/NBS1复合物（MRN复合物）的一个组成部分，参与同源重组修复[PMID:2659437;PMID:15309560]。目前已在子宫内膜癌、肠癌和胃癌中观察到RAD50基因的错义突变、无义突变和移码突变等。</p>
			<p class='rad50_p2'>目前针对RAD50突变尚未有靶向药物获批，但已有文献报道MRN复合物的缺乏使乳腺癌细胞对PARP-1抑制剂（KU 58948）敏感[PMID:22983061]；另有研究表明，同源重组相关基因启动子的甲基化、体细胞突变以及参与同源重组修复蛋白基因的突变（如ATM、ATR、PALB2、FANC、RAD50等）也会引起同源重组缺陷，并且同样对PARPi敏感。</p>
