            <div class="pg17_div1">附录4 慈善援助药物信息</div>
            <table class="pg17_table1">
                <tbody> 
                    <tr> 
                        <td class="pg17_td1">药物名称</td>
                        <td class="pg17_td2">贝伐珠单抗(安维汀)</td>
                    </tr>                 
                    <tr> 
                        <td class="pg17_td3">FDA批准适应症</td>
                        <td class="pg17_td4">
                        <p class="pg17_td5">FDA已批准Vegf单克隆抗体贝伐珠单抗(Bevacizumab)用于转移性结直肠癌、胶质母细胞瘤、非小细胞肺癌、肾细胞癌、宫颈癌、复发性卵巢上皮癌、输卵管或原发腹膜癌的治疗。</p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg17_td6">赞助公司</td>
                        <td class="pg17_td7">上海罗氏制药有限公司</td>
                    </tr>
                    <tr> 
                        <td class="pg17_td8">医学标准</td>
                        <td class="pg17_td9">
                            <p class="pg17_td10">1.患者本人必须知情，经医疗机构组织学或细胞学证实为晚期、转移性或复发性非鳞状细胞非小细胞肺癌。<br />
                            2.在接受安维汀治疗前必须有可评价病灶。<br />
                            3.患者连续使用安维汀治疗，总的治疗剂量不低于30mg/kg，经临床评估能够继续从安维汀治疗中获益且未发生疾病进展。<br>
                            4.患者在自费治疗以及援助期间，至少每3个月需提供1次包含可评估病灶部位的Ct报告;且经医务志愿者评估并签字确认，认为疾病未进展且无不可耐受毒副反应，需继续使用安维汀治疗。
                            </p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg17_td11">官网链接</td>
                        <td class="pg17_td12">www.4000518880.com</td>
                    </tr>
                </tbody>
            </table>

            <table class="pg17_table2">
                <tbody> 
                    <tr> 
                        <td class="pg17_td13">药物名称</td>
                        <td class="pg17_td14">吉非替尼(易瑞沙)</td>
                    </tr>                 
                    <tr> 
                        <td class="pg17_td15">FDA批准适应症</td>
                        <td class="pg17_td16">
                        <p class="pg17_td17">FDA已批准吉非替尼(Gefitinib)用于携带EGFR19号外显子缺失或者21号外显子Leu858Arg突变的转移性非小细胞肺癌患者的一线治疗。</p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg17_td18">赞助公司</td>
                        <td class="pg17_td19">英国阿斯利康公司</td>
                    </tr>
                    <tr> 
                        <td class="pg17_td20">医学标准</td>
                        <td class="pg17_td21">
                            <p class="pg17_td22">1.经病理学或细胞学证实的符合易瑞沙适应症的原发性IIIB或者IV期的非小细胞肺癌。<br />
                            2.易瑞沙治疗之前必须经影像学检查，确认存在病灶。<br />
                            3.一线适应症患者，EGFR基因检测结果必须为阳性的(组织标本或血液标本均可接受);二线适应症患者服用易瑞沙前必须接受过至少一次抗肿瘤的化学治疗。<br>
                            4.准备申请本项目的患者，服用易瑞沙期间不得再进行其他抗肿瘤的化学治疗，且没有其他与易瑞沙治疗相抵触的临床状况。<br />
                            5.有足够的临床证据证实患者能够从易瑞沙治疗中获益且无严重不良反应。(获益是指肿瘤病灶按照RECIST评价标准没有进展;无严重不良反应是指未发生因易瑞沙治疗引起的不可逆转或者耐受的伤害)。<br />
                            6.患者体力状态KPS>60分，能够亲自前往发药点领取援助药物。
                            </p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg17_td23">官网链接</td>
                        <td class="pg17_td24">http://www.iressaccf.org.cn/</td>
                    </tr>
                </tbody>
            </table>