			<p class="dnmt3a_p1">DNMT3A基因</p>
            <p class="dnmt3a_p2">DNMT3A是一种抑癌基因和DNA甲基转移酶，介导DNA甲基化并在基因表达修饰及造血分化中起作用[PMID:28286768;PMID:25693834]，该基因定位于染色体2p23，在成人组织中普遍表达，并且在某些肿瘤中具有高表达，有研究表明[PMID:11222358]，DNMT家族在急性髓系白血病（AML）中具有较高的表达水平，并且认为DNMT表达的上调会引发超甲基化最终导致白血病的发生。DNMT3A突变在AML中很常见，并且在骨髓增生异常综合征中复发[PMID:28286768;PMID:28003281]。</p>
            <p class="dnmt3a_p2">目前针对DNMT3A突变在尚未有靶向药物被批准，在一项针对急性髓系白血病的临床研究中[PMID:22081665]，Idarubicin可增加携带DNMT3A R882突变的新生AML患者的总生存期和无病生存期。</p> 