            <p class="pdgfra_p1">PDGFRA基因</p>
            <p class="pdgfra_p2">PDGFRA全称为血小板衍生生长因子受体α(platelet-derived growth factor receptor alpha)，定位于人类 4q12，，属于Ⅲ型酪氨酸激酶家族，它可以与血小板生长因子（PDGF）相结合，从而激活下游多种与细胞增殖与存活相关的信号通路，如PI3K-AKT-mTOR信号通路，RAS-RAF-MEK-ERK信号通路等。在胃肠道间质瘤（gastrointestinal stromal tumors，GIST）中有较大表达概率，因此常作为GIST诊断中的参考指标。</p>
            <img class="pdgfra_img" src="genepic/pdgfra.png">
            <p class="pdgfra_p2">PDGFRA突变在GIST和皮纤维肉瘤等肿瘤中均有发生，是一种重要的原癌基因。在GIST中，PDGFRA的突变约占5%，其中发生在第18号外显子的概率为5%左右，该外显子负责编码蛋白激酶区域，在NCCN指南中认为，该位置的突变可能导致GIST患者对伊马替尼用药敏感。</p>
            <p class="pdgfra_p2">在PDGFRA的第18号外显子中有一个特殊的位点，D842V，该突变是一个强力的耐药位点，可导致患者对伊马替尼和舒尼替尼耐药。</p>