			<p class="braf_p1">BRAF基因</p>
			<p class="braf_p2">BRAF基因是属于RAF基因家族，作为RAF-MEK-ERK信号转导通路中的重要成员，在肿瘤细胞增值、分化和凋亡等方面发挥重要作用。BRAF基因突变导致RAF激酶的活性增加并激活下游的ERK/MAPK通路，使有丝分裂原分裂能力增强，同时抑制促凋亡因子BIM，引起细胞异常增值分化。</p>
			<p class="braf_p2">BRAF基因突变在多种肿瘤中均有报道，包括黑色素瘤[PMID:19537845]、肺癌、结直肠癌[PMID:23833300]等，是一种常见的原癌基因。该基因在NSCLC中突变的发生频率为1–4%[PMID:22554099]，其中以V600E最为常见，约占突变总数的55%[PMID:22743296]。其它的一些突变如L597V，Y472C，G469A等则相对较为罕见，大部分的突变主要发生在BRAF的蛋白激酶结构域。</p>
			<img class="brf_img" src="genepic/brf.png">
			<p class="braf_p4">BRAFV600E突变及其信号转导通路[PMID:23524406]</p>
			<p class="braf_p2">BRAFV600E是肿瘤中最主要的BRAF突变，体外实验显示该突变型BRAF蛋白具有更高的蛋白激酶活性，多项临床研究证明，BRAF抑制剂维罗非尼和达拉非尼对于该类肺癌患者具有良好的效果[PMID:22281684;PMID:18093943]，因此NCCN非小细胞肺癌指南中也将这两种靶向药物作为BRAFV600E阳性NSCLC患者的推荐用药[PMID:26957612]目前，FDA已经批准达拉非尼联合曲美替尼(traMETinib)用于BRAFV600E突变阳性晚期非小细胞肺癌的治疗。</p>
			<p class="braf_p2">BRAF突变同样存在于8-15%结直肠癌病例中[PMID:23833300]，并且主要也以V600E突变为主。尽管维罗非尼等要药物在BRAFV600E阳性的黑色素瘤和肺癌中表现良好，但是对于结直肠癌其效果却不明显，这可能跟EGFR基因在结直肠癌中活性较高有关[PMID:21248300]。在临床前研究中，BRAFV600E阳性的肿瘤被认为可能对BRAF抑制剂和EGFR抑制剂联合用药表现敏感。</p>		