			<p class="msh6_p1">MSH6基因</p>
            <p class="msh6_p2">MSH6，mutS同源物6，一种肿瘤抑制因子，常与Msh2结合形成MutS-α复合物参与修复单核苷酸错配。研究表明，MSH6基因和其他错配修复（MMR）基因与遗传性非息肉病结肠癌（HNPCC）有关，也称为Lynch综合征[PMID:428275;PMID:1648437]。其种系突变占遗传性DNA错配修复基因突变引起的Lynch综合征结直肠癌的10％-20％，占所有结肠癌的0.4%[PMID:20028993]。另外，MSH6突变也已在多种其他癌症类型和综合征中被报道，包括子宫内膜癌和子宫癌等[PMID:19078925;PMID:16106253]。</p>
            <p class="msh6_p2">微卫星不稳定性（MSI）是与HNPCC相关的大多数癌症的标志。MSH6在DNA错配修复系统的起始位点中起作用并且与微卫星不稳定性（MSI）密切相关[PMID:23391514]。研究表明，大多数携带MSH6突变的患者其MSI通常较高（MSI-H）[PMID:11709755]。最近，FDA批准pembrolizumab（PD-1阻断）用于所有错配修复缺陷和微卫星不稳定（MSI-高）肿瘤，而不考虑特定的肿瘤病因。有病例研究显示，一名患有MSH6突变的复发性尿路上皮癌患者在临床一期试验中接受抗PD-1抑制剂MEDI4736和MEDI0680联合治疗，并在治疗后2个月内完全缓解，并且没有治疗的严重不良影响[PMID:26674132]。</p> 