            <div class="pg16_div1">附录3 药物证据等级</div>
            <table style="margin-top:16px;">
                <tr>
                    <td class="pg16_td1"></td>
                    <td class="pg16_td2">在突变的注释解读中给出的药物根据其信息来源，研究类型，其证据可分成8个水平:</td>
                </tr>
            </table>

            <table class="pg16_table1">
                <tbody> 
                    <tr> 
                        <td class="pg16_td3">等级</td>
                        <td class="pg16_td4">描述</td>
                    </tr>                 
                    <tr> 
                        <td class="pg16_td5">1</td>
                        <td class="pg16_td6">
                        <p class="pg16_p1">表示该药物被FDA或CFDA明确批准用于所注释基因变异的该适应症中</p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg16_td7">2A</td>
                        <td class="pg16_td8">
                        <p class="pg16_p2">表示该药物已获FDA或CFDA批准，并且NCCN推荐或已有可信的临床实验证明该药物可用于所注释基因变异的该适应症中</p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg16_td7">2B</td>
                        <td class="pg16_td8">
                        <p class="pg16_p2">表示该药物已获FDA或CFDA批准，并且NCCN推荐或已有可信的临床实验证明该药物可用于所注释基因变异的其它适应症中</p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg16_td7">3A</td>
                        <td class="pg16_td8">
                        <p class="pg16_p2">药物未获FDA或CFDA批准，但已有可信的临床实验证明该药物可用于所注释基因变异的该适应症中</p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg16_td7">3B</td>
                        <td class="pg16_td8">
                        <p class="pg16_p2">药物未获FDA或CFDA批准，但已有可信的临床实验证明该药物可用于所注释基因变异的其它适应症中</p>
                        </td>
                    </tr>
                    <tr> 
                        <td class="pg16_td7">4</td>
                        <td class="pg16_td8">
                        <p class="pg16_p2">药物仅在临床前实验中被使用</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="pg16_td7">R1</td>
                        <td class="pg16_td8">
                            <p class="pg16_p2">FDA或NCCN指南明确指出的耐药性药物</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="pg16_td9">R2</td>
                        <td class="pg16_td10">
                            <p class="pg16_p3">临床实验中提示耐药的药物</p>
                        </td>
                    </tr>
                </tbody>
            </table>