			<p class="fbxw7_p1">FBXW7基因</p>
            <p class="fbxw7_p2">FBXW7基因所编码的蛋白属于F-box蛋白家族的一员，为SCF（SKP1-cullin-F-box）型泛素连接酶的靶蛋白识别成分，其在磷酸化依赖性泛素化中起作用。FBXW7基因属于抑癌基因，抑制下游mTOR通路，参与细胞分裂、分化和生长等多种细胞进程。该基因发生突变时，可导致FBXW7对底物抑制功能丧失，mTOR通路活化进而导致肿瘤细胞增殖与侵袭。FBXW7突变在多种癌症中如乳腺癌，结肠直肠癌，白血病，肺癌和皮肤癌等均有观察到。</p>
            <p class="fbxw7_p2">在一项临床病例报告中[PMID:24360397]，携带FBXW7 R465H突变的肺腺癌患者在使用mTOR抑制剂坦西莫司（Temsirolimus） 治疗后表现出肿瘤缩小；在一项临床I期研究中[PMID:24586741]，携带FBXW7突变的肝细胞纤维蛋白癌患者使用mTOR抑制剂西罗莫司（Sirolimus）后病情长期稳定；在另外一项临床前细胞实验中[PMID:23274910]，belinostat、AR-42、entinostat等HDAC抑制剂可抑制携带FBXW7突变的人血液癌细胞系生长。</p>        
