			<p class="ptch1_p1">PTCH1基因</p>
            <p class="ptch1_p2">该基因为抑癌基因。PTCH1基因编码一种跨膜蛋白，该蛋白负责接收SHH（sonic hedgehog）信号。PTCH1基因隶属隶属刺猬信号通路，刺猬信号通路在胚胎发育中起着重要作用，同时在皮肤组织中，该通路涉及干细胞的维护、毛襄发育、腺体发育等过程。该通路在胚胎发育完成后即处于失活状态，如因某些原因被重新激活则可能导致机体癌变。</p>
            <p class="ptch1_p2">PTCH1属于抑癌基因，其蛋白在膜上可以抑制SMO蛋白的活性，当无SHH信号结合时，PTCH1通过持续抑制SMO活性来抑制下游通路，而当SHH结合到膜蛋白上后，PTCH1对SMO的抑制作用解除，从而导致下游的信号通路激活。PTCH1突变与多种肿瘤相关，如基底细胞癌、食管癌等等。其中在BCC（基底细胞癌）中，该肿瘤突变概率高达30%~90%，其中蛋白的固醇感知结构域（sterol sensing domain，SSD）是突变的相对高发位置[PMID:16088933]。2012年FDA批准靶向药物维莫德吉用于转移及原发晚期BCC患者治疗，而该药物正是以PTCH1蛋白为靶点。</p> 