			<p class="xrcc1_p1">XRCC1基因</p>
			<p class="xrcc1_p2">XRCC1基因编码的蛋白参与DNA单链断裂的有效修复，该蛋白与DNA连接酶III，聚合酶β和ADP-核糖聚合酶相互作用，参与碱基切除修复途径，可能在生殖细胞DNA加工中发挥作用。该基因中罕见的微卫星多态性与不同放射敏感性患者的癌症相关。</p>
			<p class='xrcc1_p2'>目前针对XRCC1基因尚未有靶向药物获批；在一项临床试验中[PMID:22551904]，对6名患有IIIB期或IV期NSCLC的患者研究发现，XRCC1 R399Q变异与用吉西他滨和铂治疗的非小细胞肺癌（NSCLC）患者的较高总生存率显着相关；在另一项针对宫颈癌的临床试验中[PMID:16875718]，使用来自36名IB或IIA大体积（大于4cm）宫颈癌患者的肿瘤样品，发现XRCC1 R399Q突变与宫颈癌患者对铂类新辅助化疗的反应增加相关。</p>
