			<p class="pole_p1">POLE基因</p>
            <p class="pole_p2">POLE基因编码DNA聚合酶的ε亚基，该亚基具有催化聚合酶和核酸外切酶的活性，其在DNA修复以及碱基校正中起着关键作用；该基因的遗传性失活突变可导致结直肠癌患者癌风险升高[PMID:2613394]，其体细胞突变也在多种肿瘤被报道，包括在结直肠癌中其突变约占3%，而在子宫内膜癌中也有将近7%的发生概率[PMID:23636398;PMID:25228659]。</p>
            <p class="pole_p2">POLE蛋白主要的活性区域为核酸外切酶校正结构域，这一区域也是目前被报道的主要的突变发生区域。目前多项研究均认为POLE的失活或功能损伤可能与高水平的肿瘤突变负荷相关[PMID:29056344]，因此携带该基因突变的肿瘤患者采用免疫检查点抑制剂的治疗可能能起到一定效果；在一项针对子宫内膜癌的病例研究报道中，一名携带POLE突变的患者被检出同时具有高TMB水平，其在接受Pembrolizumab（派姆单抗）的治疗后获得了长达14个月的病情缓解[PMID:27159395]；在另一项病例研究报道中，一位携带POLE遗传性突变的脑胶质瘤患者同样被检出存在较高的肿瘤抗原负荷，其在经过Pembrolizumab的治疗后也显示出了一定的治疗效果[PMID:27683556]。</p> 