			<p class="kras_p1">KRAS基因</p>
			<p class="kras_p2">KRAS基因是人体内最为常见的原癌基因，它同NRAS、HRAS基因一样隶属于RAS基因家族，其负责编码的RAS蛋白在细胞内的信号通路中起着信号转导作用，在细胞的生存与增值等活动中处于重要位置。</p>
			<p class="kras_p2">KRAS突变在多种肿瘤中都有发生，包括肺癌、结直肠癌、胰腺癌等。统计显示，在肺腺癌中KRAS突变的发生频率约为15–25%[PMID:12460918;PMID:18794081]，主要的发生位置为Exon2或3的第12、13及61号密码子，这一区域属于GTP的结合域。</p>
			<img class="krs_img" src="genepic/krs.png">
			<p class="kras_p4">KRAS信号转导通路[PMID:2199829]</p>
			<p class="kras_p2">KRAS基因是肺癌的重要分子标志。一方面，KRAS阳性肺癌患者相比KRAS野生型的患者预后较差[PMID:18349398];另一方面，如果肺癌中KRAS基因存在突变，则意味着患者可能对EGFR-TKI药物如厄洛替尼或吉非替尼等的治疗耐药，多项临床研究均支持这一结论[PMID:16043828;PMID:26837474]，当然肺癌中同时发生EGFR突变和KRAS突变的概率也比较低。在NCCN肺癌指南中建议肺癌患者在用药前对KRAS的突变情况进行检测[PMID:26957612]，目前还未有针对KRAS阳性肺癌的靶向药物上市，仅有部分新药处于临床实验中[PMID:19679400]。</p>
			<p class="kras_p2">在结直肠癌中，KRAS的突变频率约为40%[PMID:18316791;PMID:24024839]，主要发生在基因的第2，3，4号外显子上。KRAS突变阳性可能导致结直肠癌患者对EGFR抗体类药物如西妥昔单抗、帕尼单抗不敏感[PMID:25088940;PMID:12068308]。因此NCCN结直肠癌指南中明确规定，患者在使用西妥昔单抗或帕尼单抗治疗前需对KRAS基因突变进行检测。</p>	