			<p class="kmt2d_p1">KMT2D基因</p>
			<p class="kmt2d_p2">KMT2D编码组蛋白甲基转移酶MLL2，是一种表观遗传调节剂。KMT2D基因突变主要发生在先天性的Kabuki综合征中，其突变发生概率高达56%[PMID:23131014;PMID:21607748]，另外，该基因突变在包括急性髓性白血病，肺癌，结直肠癌，子宫内膜癌等其它多种肿瘤均有广泛的报道[PMID:24132290]。在目前已被报道的KMT2D突变中，大部分属于可造成基因功能损伤或缺失的移码或无义突变[PMID:25998713]。</p>
