            <p class="esr1_p1">ESR1基因</p>
            <p class="esr1_p2">该基因编码一种雌激素受体蛋白ERα，属于类固醇激素信号通路的成员，在细胞分化、增殖和生长等多种生物进程中起着重要作用。ESR1突变在多种肿瘤中均有报道，包括乳腺癌、子宫内膜癌和胃癌等。</p>
            <p class="esr1_p2">ER过表达和点突变在乳腺癌中均有发生，其中ER过表达在浸润性乳腺癌中的检出率约为73%~75%，激素类药物它莫昔芬已被证明针对ER表达阳性的乳腺癌效果良好[PMID:23219286]，在NCCN指南中也将它莫昔芬以及其它药物如抗雌激素类药物、芬香化酶抑制剂药物作为乳腺癌的推荐用药。ER突变在原发性乳腺癌中的发生概率较低，但是在经抗雌激素类药物治疗而产生抗药性的ER阳性乳腺癌中发生概率高达55%，因此ER突变被认为可能是其重要的抗药机制之一。</p>
            <img class="esr1_img" src="genepic/esr1.png">
            <p class="esr1_p3">常见的ER耐药突变[PMID:24185512;PMID:24398047]</p>
            <p class="esr1_p2">多种ESR1的耐药性突变被报道，绝大部分均发生在ER的配体结合区域，其中最常见有D538G和Y537C突变，分别占所有突变的36%和28%[PMID:24185512]。临床前实验显示，高剂量的它莫昔芬或氟维司群对于这些突变类型可能存在效果PMID:24398047;PMID:24217577]。</p>