			<p class="ar_p1">AR基因</p>
            <p class="ar_p2">AR基因定位于X染色体上，负责编码雄性激素受体（androgen receptor AR），该受体同时隶属于核受体超家族以及类固醇受体家族，包含近N端结构域、DNA结合域以及雄性激素结合域等核心结构域。</p>
            <p class="ar_p2">AR蛋白在前列腺癌和乳腺癌的发生和发展中均起到重要作用，在对化学阉割疗法不敏感的前列腺癌中，AR扩增和AR突变的检出比例分别为30%和1-30%[PMID:22245783]，而在浸润性乳腺癌中，AR表达的检出率也高达75%[PMID:21552212]，且在ER表达情况不同的乳腺癌中，AR表达在预后中起的作用也不同，在ER阳性的乳腺癌中，AR表达的检出率约为67%~88%，且可能预示着较低的死亡率[PMID:21325075]，而在ER阳性的乳腺癌中，AR表达的检出率约为12-50%，且往往预示着较低的生存率[PMID:15897907]。</p>            
            <p class="ar_p2">AR拮抗剂比卡鲁安（bicalutamide）在对于AR阳性的乳腺癌具有明显的效果，在一项临床II期实验中，ER-/PR-/AR+的转移性乳腺癌患者从比卡鲁安治疗中的获益率达19%[PMID:23965901]，另外，有临床前实验证明，AR表达阳性的乳腺癌细胞系对于PI3K/mTOR抑制剂NVP-BEZ235的用药相比于AR阴性的细胞系更加敏感。</p> 