            <p class="notch1_p1">NOTCH1基因</p>
            <p class="notch1_p2">Notch基因最早在果蝇中被发现，因其部分功能缺失会在果蝇翅膀的边缘造成缺刻（Notch）而得名。该基因在进化上高度保守，广泛存在于果蝇、线虫到哺乳动物中。NOTCH蛋白主要负责调控邻近细胞间的相互作用，同时也参与胞内信号传递，在细胞的分化和增殖中起着重要作用。在哺乳动物体内有4种Notch受体（Notch1- 4）和5种Notch配体，均属单次跨膜蛋白，相邻细胞上的Notch配体与Notch受体结合以后，Notch受体被蛋白酶水解，从而激活下游信号通路。</p>
            <img class="notch1_img" src="genepic/notch1.png">
            <p class="notch1_p3">Notch蛋白结构及突变[PMID:21642962]</p>
            <p class="notch1_p2">Notch突变在多种肿瘤中均有报道，如食管癌、血液病、淋巴瘤和胃癌等等。在CLL中较为常见，发生概率约为10.3%，以发生在34号外显子的移码突变和无义突变最为常见，其中又以热点突变c.7544_7545delCT最为常见，约占所有突变的80%以上[PMID:24943832]。该类突变可导致Notch蛋白因负责磷酸化的PEST区域缺失而持续处于活化状态。临床前研究显示，γ-分泌酶抑制剂PF-03084014对于NOTCH1突变的CLL可能有一定效果[PMID:24781018]。</p>