            <p class="fgfr3_p1">FGFR3基因</p>
            <p class="fgfr3_p2">FGFR3（III型成纤维细胞生长因子受体）隶属FGFR酪氨酸激酶家族，同时该家族又属于免疫球蛋白超家族。成熟的FGFR3蛋白包括几个主要的结构域，胞外的免疫球蛋白结构域，跨膜区域、胞内的蛋白激酶区域，FGFR蛋白的胞外段可与成纤维细胞生长因子结合，并启动下游的MAP、JAK/STAT和PI3K/AKT信号通路，最终影响细胞的增殖、生长、迁移与分化。</p>
            <p class="fgfr3_p2">FGFR3突变多种肿瘤中均有报道，包括乳腺癌、结直肠癌、肺癌、胰腺癌、肾细胞癌、膀胱癌等等，其中在膀胱癌中发生较多[PMID:22899908]。FGFR3的激活性突变其原理主要是导致蛋白二聚化而组成性激活蛋白激酶区域，或是导致蛋白激酶区域发生结构性转变。</p>
            <p class="fgfr3_p2">FGFR3在肺癌中有几种常见的突变类型，其中活性点突变在SCC中的比例约为3%，包括R248C、S249C、G370C和K650E等[PMID:23786770]，融合突变约占0.5%~2%，主要为FGFR-TACC3融合，扩增突变约占2.2%，删除突变约占1.7%（TCGA2014）。</p>
            <img class="fgfr3_img" src="genepic/fgfr3.png">
            <p class="fgfr3_p3">FGFR-TACC3融合突变[PMID:24323028]</p>
            <p class="fgfr3_p2">FGFR-TACC3融合蛋白在体外实验中显示出了致癌活性。目前针对该类型突变并无相应的靶药上市。不过在一份病例报道中，一位FGFR3-TACC3 融合阳性的膀胱癌患者对FGFR抑制剂JNJ-42756493表现敏感，该药物目前正处于临床实验中（NCT01703481）。</p>