			<table class="druged_table2">
				<tbody>			
					<tr>
						<td class="druged_td6">Ixazomib</td>
						<td class="druged_td7">埃沙佐米</td>
						<td class="druged_td8">20S proteasome</td>
						<td class="druged_td9">多发性骨髓瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Larotrectinib </td>
						<td class="druged_td7">拉罗替尼</td>
						<td class="druged_td8">NTRK</td>	<!--pass_gene-->
						<td class="druged_td9">实体瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Lorlatinib </td>
						<td class="druged_td7">劳拉替尼</td>
						<td class="druged_td8">ALK</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Lumoxiti</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">CD22</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Midostaurin</td>
						<td class="druged_td7">米哚妥林</td>
						<td class="druged_td8">FLT3</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Neratinib</td>
						<td class="druged_td7">来那替尼</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Niraparib </td>
						<td class="druged_td7">尼拉帕尼</td>
						<td class="druged_td8">PARP</td>	<!--pass_gene-->
						<td class="druged_td9">卵巢癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Nivolumab / <br>Ipilimumab</td>
						<td class="druged_td7">伊匹单抗n</td>
						<td class="druged_td8">PD-1/CTAL-4</td>	<!--pass_gene-->
						<td class="druged_td9">肾癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Regorafenib</td>
						<td class="druged_td7">瑞戈非尼</td>
						<td class="druged_td8">VEGFR</td>	<!--pass_gene-->
						<td class="druged_td9">肝癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ribociclib</td>
						<td class="druged_td7">瑞博西尼</td>
						<td class="druged_td8">CDK4/6</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Rucaparib</td>
						<td class="druged_td7">鲁卡帕尼</td>
						<td class="druged_td8">PARP</td>	<!--pass_gene-->
						<td class="druged_td9">卵巢癌 输卵管癌 原发性腹膜癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Talzenna</td>
						<td class="druged_td7">他拉唑帕尼</td>
						<td class="druged_td8">PARP</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">T-DM1</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">HER2</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Tisagenlecleucel</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">CD19</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Trastuzumab-dkst</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">HER2</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌、胃癌、食管胃交界腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Truxima </td>
						<td class="druged_td7">-</td>
						<td class="druged_td8"> CD20</td>	<!--pass_gene-->
						<td class="druged_td9">B细胞非霍奇金淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Venetoclax</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">vEGFR、BCL-2</td>	<!--pass_gene-->
						<td class="druged_td9">白血病、白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Aflibercept</td>
						<td class="druged_td7">阿柏西普</td>
						<td class="druged_td8">VEGFR</td>	<!--pass_gene-->
						<td class="druged_td9">结直肠癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Alemtuzumab</td>
						<td class="druged_td7">阿伦单抗、<br>阿莱珠单抗</td>
						<td class="druged_td8">CD52</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Elotuzumab</td>
						<td class="druged_td7">埃罗妥珠单抗</td>
						<td class="druged_td8">SLAMF7</td>	<!--pass_gene-->
						<td class="druged_td9">多发性骨髓瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Obinutuzumab</td>
						<td class="druged_td7">奥滨尤妥珠单抗</td>
						<td class="druged_td8">CD20(MS4A1)</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤、白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ofatumumab</td>
						<td class="druged_td7">奥法木单抗</td>
						<td class="druged_td8">CD20(MS4A1)</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Belinostat</td>
						<td class="druged_td7">贝利司他</td>
						<td class="druged_td8">HDAC</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Brentuximab <br>vedotin</td>
						<td class="druged_td7">本妥昔单抗</td>
						<td class="druged_td8">CD30(TNFRSF8)、CD30</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤、经典型霍奇金淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Blinatumomab</td>
						<td class="druged_td7">博纳吐单抗</td>
						<td class="druged_td8">CD19，CD3</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Bosutinib</td>
						<td class="druged_td7">博舒替尼</td>
						<td class="druged_td8">Bcr-Abl kinase and <br>Src-family kinases</td>
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Dacomitinib</td>
						<td class="druged_td7">达可替尼</td>
						<td class="druged_td8">EGFR外显子19缺失或<br>外显子21 L858R</td>	<!--pass_gene-->
						<td class="druged_td9">转移性非小细胞肺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Dabrafenib</td>
						<td class="druged_td7">达拉菲尼</td>
						<td class="druged_td8">BRAF V600E，V600K and V600D kinases，wild-type BRAF and CRAF kinases，MEK</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤、非小细胞肺癌、甲状腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Denosumab</td>
						<td class="druged_td7">狄诺塞麦</td>
						<td class="druged_td8">RANKL(TNFSF11)</td>	<!--pass_gene-->
						<td class="druged_td9">破骨细胞瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Dinutuximab</td>
						<td class="druged_td7">地努图希单抗</td>
						<td class="druged_td8">GD2</td>	<!--pass_gene-->
						<td class="druged_td9">神经母细胞瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Vandetanib</td>
						<td class="druged_td7">凡德他尼</td>
						<td class="druged_td8">多激酶抑制剂/EGFR，VEGFA</td>	<!--pass_gene-->
						<td class="druged_td9">甲状腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Vorinostat</td>
						<td class="druged_td7">伏立诺他</td>
						<td class="druged_td8">HDAC</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Cabozantinib</td>
						<td class="druged_td7">卡博替尼</td>
						<td class="druged_td8">c-MET，VEGFR-2，FLT3，<br>c-KIT，and RET</td>	<!--pass_gene-->
						<td class="druged_td9">甲状腺癌、肾癌</td>
						<td class="druged_td10">FDA</td>
					</tr>

				</tbody>
			</table>