			<p class="jak2_p1">JAK2基因</p>
            <p class="jak2_p2">JAK2编码一种蛋白酪氨酸激酶，参与细胞因子受体信号途径，在细胞生长、存活以及免疫调节中起着重要作用。</p>
            <p class="jak2_p2">JAK2突变主要被发现存在于各种血液病当中。在前体B细胞ALL中，JAK2突变的发生频率约为4-9%，而在这一疾病的BCR-ABL1阴性的儿童患者中，该基因突变高达85%。大部分突变发生在R683号残基上，该残基位于蛋白激酶区域。</p>
            <img class="jak2_img" src="genepic/jak2.png">
            <p class="jak2_p3">常见的JAK突变[PMID:19470474]
            <p class="jak2_p2">Mtor通路抑制剂西罗莫司以及JAK/STAT抑制剂ruxolitinib可能对JAK2激活突变的肿瘤有效果[PMID:19470474]。</p>