            <p class="ntrk1_p1">NTRK1基因</p>
            <p class="ntrk1_p2">NTRK1（神经酪氨酸激酶受体）编码的受体酪氨酸激酶蛋白隶属原肌球蛋白激酶超家族。NTRK1由神经生长因子配体激活，通过下游的MAPK、PI3K信号途径参与细胞生长与分化等进程。</p>
            <p class="ntrk1_p2"> NTRK1融合突变在多种肿瘤中均有发生，如结直肠癌、肺癌、乳头状甲状腺癌等。主要的融合搭档基因有TPM3、TFG、TPR、MPRIP和CD74等。整合后的蛋白中包含整个蛋白激酶区域，该区域的组成性激活是其发挥致癌作用的关键步骤。</p>
            <img class="ntrk1_img" src="genepic/ntrk1.png">
            <p class="ntrk1_p3">两种NTRK1融合模式[PMID:24162815]</p>
            <p class="ntrk1_p2"> NTRK1融合在肺腺癌中的发生频率约为3.3%。目前被发现的有两种融合模式，MPRIP-NTRK1 和CD74-NTRK1融合突变。临床前研究显示，表达这两种融合突变的细胞系对药物lestaurtinib和ARRY-47表现敏感。</p>