			<p class="cd274_p1">CD274基因</p>
            <p class="cd274_p2">CD274基因负责编码PDL1，该蛋白为免疫抑制剂受体的亚基，主要包含V-like和C-like结构域，主要在T细胞和B细胞以及各种癌细胞中表达。该蛋白可与受体PD1相互作用并可抑制T细胞活性以及细胞激素和生成，在肿瘤发生的过程中，这种结合机制被认为可能帮助肿瘤细胞逃脱免疫应答，因此多种基于阻抑PD1/PDL1结合机制的靶向药物正被研发出来，包括派姆单抗（pembrolizumab）和纳武单抗（nivolumab）。</p>
            <p class="cd274_p2">PDL1表达在多种肿瘤中均有被检出，在肺癌中检出比例约为50%（cut-offs>1%）[PMID:27568346]，在结直肠癌中约为53%[PMID:12091876]，在乳腺癌中检出率约18~50%[PMID:16611412;PMID:28471952]，另外，在黑色素瘤、头颈癌[PMID:14559843]、肾细胞癌[PMID:16208700]及胃癌[PMID:16530813]等多种肿瘤中均有较高的检出率。在肿瘤中高表达往往预示着较差的预后，在一项回顾性分析研究中显示，在乳腺癌、肾细胞癌及胃癌中PDL1高表达的患者其总生存期（OS）显著降低，在肝癌和黑色素瘤中，PDL1高表达也意味着更短的无病生存期（DFS）或无进展生存期（PFS）。</p>            
            <p class="cd274_p2">派姆单抗（pembrolizumab）和纳武单抗（nivolumab）被认为对PDL1高表达的肿瘤存在良好的效果，最新版的NCCN指南中已推荐派姆单抗用于PDL1表达在50%以上的NSCLC患者。在一项临床III期实验中，针对PDL1表达水平高于50%的NSCLC患者，派姆单抗治疗组的无病进展生存期明显高于化疗组（10.3月 vs 6.0月）[PMID:27718847]，在一篇针对结直肠癌、肺癌及黑色素瘤等的临床实验回顾性研究中，PDL1表达阳性的肿瘤患者接受派姆单抗和纳武单抗的治疗后总缓解率明显高于PDL1阴性的患者（34.1% vs 19.9%）[PMID:26086854]，目前派姆单抗与纳武单抗均已被FDA批准分别用于肺癌和黑色素瘤的治疗。</p> 