			<p class="arid1a_p1">ARID1A基因</p>
            <p class="arid1a_p2">ARID1A，也称为BAF250A，是SWI/SNF染色质重塑复合物的成员，并且在改变各种细胞功能的染色质结构中起作用，包括转录，DNA合成和DNA修复。ARID1A已被鉴定为多种癌症类型的肿瘤抑制因子，包括妇科癌症，卵巢透明细胞癌和子宫内膜癌，它可促进含有BRG1或BRM的SWI/SNF染色质重塑复合物的形成。</p>
            <p class="arid1a_p2">ARID1A基因拥有两个对其功能很重要的保守结构域。首先，它具有DNA结合结构域，可以特异性结合被SNF/SWI复合物识别的富含AT的DNA序列，有助于招募SWI/SWF复合物的其他成员，如SMARCA和BAF复合物。这些复合物一起通过核小体置换参与ATP依赖性染色质重塑，因此允许基因表达激活。其次，其蛋白质的C末端可以刺激糖皮质激素受体依赖性转录激活。</p>            
            <p class="arid1a_p2">有研究报道，在具有ARID1A突变的卵巢癌细胞中，恢复野生型ARID1A表达足以抑制小鼠中的细胞增殖和肿瘤生长，而RNA干扰介导的非转化上皮细胞中ARID1A的沉默足以增强细胞增殖和致瘤性。同时，利用基因表达分析鉴定了ARID1A的几个下游p53靶基因，发现p53对ARID1A的调节是必需的和足够的[PMID:21900401]。</p>
            <p class="arid1a_p2">研究表明抑制EZH2甲基转移酶在ARID1A突变卵巢癌中以合成致死方式起作用于细胞，EZH2抑制引起体内ARID1A突变的卵巢肿瘤的消退，这与ARID1A突变状态及对EZH2抑制剂的反应相关。因此，EZH2的药理学抑制代表了涉及ARID1A突变的癌症的新型治疗策略，但仍需要进一步研究[PMID:27364904]。另有对治疗ARID1A突变型OCCC患者的研究表明，在ARID1A缺乏的各种人或小鼠细胞中，达沙替尼（dasatinib）对其表现出敏感性[PMID:25686104]。</p>