			<p class="mapk1_p1">MAPK1基因</p>
            <p class="mapk1_p2">MAPK1（也称为ERK2）是丝氨酸/苏氨酸激酶，其在促分裂原活化蛋白激酶（MAPK）信号级联中起效应蛋白的作用（PMID:25435214;PMID:17496922）。 MAPK信号传导途径参与多种细胞过程的调节，包括增殖，分化，细胞粘附和转录（PMID:25435214;PMID:17496922）。ERK2在人类癌症中很少发生突变;但在颈部和头颈癌中发现了复发性ERK2突变，并且在卵巢癌中观察到扩增（PMID:25631445;PMID:21720365;PMID:23820584）。</p>
            <p class="mapk1_p2">目前针对MAPK1突变尚未有靶向药物获批，在一项针对头颈部鳞状细胞癌的病例报告中，IVA期患者在使用厄洛替尼治疗13天后产生组织学反应，全外显子测序显示该患者携带MAPK1 E322K突变，表明与野生型患者相比，MAPK1 E322K突变的HNSCC细胞表现出EGFR磷酸化和厄洛替尼敏感性增高（PMID:26181029）；另一项体外研究中，与野生型MAPK1的Cal33细胞相比，表达MAPK1 E322K突变的HSC-6细胞系对厄洛替尼的敏感性增高（PMID:27004400）。</p>        
