			<p class="tet2_p1">TET2基因</p>
            <p class="tet2_p2">TET2是一个抑癌基因，其编码的蛋白被认为参与催化DNA中的甲基胞嘧啶转化成羟甲基胞嘧啶的过程。</p>
            <p class="tet2_p2">TET2突变在MDS、ALL等多种血液疾病病中被报道过，大部分突变被认为属于功能失活突变而导致造血功能异常。在ALL病例中，TET2突变的发生比例约为7%–23%，而且常常同IDH1和IDH2协同突变[PMID:25482556]，在MDS中TET2突变频率高达18.7%。且在其中一个亚型CMML中，它常与SRFS2协同突变。临床研究显示，TET2突变可能预示着MDS患者具有更短的总生存期[PMID:21714648]，在MDS的NCCN指南中也推荐检测TET2基因作为预后因素之一。</p>