			<p class="kdr_p1">KDR基因</p>
            <p class="kdr_p2">KDR（VEGFR2），血管内皮生长因子受体2，是一种内皮细胞表面受体酪氨酸激酶，为血管内皮生长因子蛋白家族的成员，通过激活RAF-MEK-MAP和PI3K通路在血管生成和细胞增殖中发挥作用(PMID: 25568876;PMID: 29093528;PMID: 26578684)。 KDR突变在肉瘤和头颈部鳞状细胞癌中均有报道。</p>
            <p class="kdr_p2">目前针对KDR突变尚未有靶向药物获批或上市。在一项临床前细胞实验中(PMID: 26631613)，与野生型细胞相比，携带KDR Q472H突变的人黑色素瘤细胞对VEGFR2功能阻断抗体治疗的敏感性增加，表现为培养物中增殖和侵袭减少。</p>
