            <p class="ccnd1_p1">CCND1基因</p>
            <p class="ccnd1_p2">CCND1常在许多癌症中过表达或扩增，包括乳腺癌，肺癌，黑色素瘤和口腔鳞状细胞癌等（PMID:20164920;PMID:20029424）。</p>
            <p class="ccnd1_p2">CCND1扩增暂没有明确的靶向药物被批准。在一项临床试验中显示（PMID:26307133），患有CCND1扩增的黑色素瘤患者使用卡铂（Carboplatin），紫杉醇（Paclitaxel）和索拉替尼（Sorafenib）联合治疗与更好的PFS相关。</p>
