			<p class="u2af1_p1">U2AF1基因</p>
            <p class="u2af1_p2">U2AF1，剪切因子U2AF 35kDa亚基，在3'剪接位点中起识别作用以调节参与血液和实体肿瘤发展[PMID:28986033;PMID:2963698]。U2AF1突变常见于骨髓增生异常综合征（MDS）、急性髓性白血病和肺腺癌[PMID:24498085;PMID:29991672;PMID:23645565;PMID:30138727;PMID:22678168]。该基因有两个热点突变（S34和Q157），发生在U2AF1蛋白的两个锌指结构域内，这些突变与体外和体内的剪接模式改变有关。 MDS中的U2AF1突变与转变为继发性急性髓细胞白血病的风险增加相关。</p>
            <p class="u2af1_p2">目前针对U2AF1突变尚未有靶向药物获批，在一项临床前研究中，与细胞系异种移植模型中的U2AF1野生型细胞相比，H3B-8800优先抑制携带U2AF1 S34F的肺癌细胞的生长（Cancer Res 2017; 77（13 Suppl）：Abstract nr 1185）。</p> 