			<p class="abcb1_p1">ABCB1基因</p>
            <p class="tp53_p2">ABCB1基因编码的膜相关蛋白是ATP结合盒（ABC）转运蛋白家族的成员。ABC蛋白通过细胞外和细胞内膜运输各种分子物质，分为七个不同的亚家族，ABCB1编码的蛋白是MDR/TAP亚家族成员，为具有广泛底物特异性的异生素化合物的ATP依赖性药物外排泵，可减少多药耐药细胞中的药物积累。</p>
            <p class="tp53_p2">目前针对ABCB1突变尚未有靶向药物获批，一项针对卵巢癌的临床研究中[PMID:16467099]，分析了51个上皮和2个输卵管冷冻肿瘤，发现ABCB1 S893T纯合突变的卵巢癌患者对紫杉醇治疗的反应呈正相关。</p>
