            <p class="fgf19_p1">FGF19基因</p>
            <p class="fgf19_p2">FGF19，一种成纤维细胞生长因子，其在神经元功能，发育和代谢中起关键作用。FGF19通过β-Klotho激活FGFR4并表现出代谢和增殖活性(PMID:26483756;PMID:20018895 )。目前，FGF19可作为肾衰竭，冠状动脉疾病，肠衰竭相关肝病，糖尿病，克罗恩病和前列腺癌的生物标志物(PMID:23940810;PMID:24179013;PMID:25595885;PMID:20013647;PMID:25664662)。</p>
            <p class="fgf19_p2">目前针对FGF19扩增尚未有靶向药物获批，在一项临床前研究中显示（PMID:28943626），对于由扩增导致FGF19过表达的HCC肿瘤移植小鼠模型，BLU9931表现出显著的抗肿瘤活性，FGFR4特异性抑制剂H3B6527对FGF19基因扩增的细胞具有强抗肿瘤活性，且在小鼠和猴的动物模型中没有胆汁酸相关的不良反应。另外，该研究还表明，在高表达水平FGF19和FGFR4（mRNA和蛋白质）的细胞系中，AZ709具有抗肿瘤活性。</p>
