            <p class="akt1_p1">AKT2基因</p>
            <p class="akt1_p2">AKT2属丝氨酸/苏氨酸蛋白激酶家族，是PI3K信号传导途径中的关键下游效应子。AKT2与AKT1和AKT3都是AGC激酶家族的成员，AKT活化的作用包括细胞周期进展和增加的迁移，分化。活化的AKT在抑制细胞的凋亡,促进细胞的运动,促进细胞的增殖及肿瘤的侵袭方面起着重要的作用。</p>
            <p class="akt1_p2">AKT2是一种原癌基因，常在许多癌症中被激活，主要通过扩增19q13.1-q13.2染色体区域或过表达，促进侵袭和转移。AKT2中的种系常染色体显性突变与人类的家族性糖尿病相关（PMID：15166380）。目前，已有许多靶向PI3K / AKT途径的药物，包括AKT本身的抑制剂、PI3K抑制剂和mTOR的抑制剂（PMID：19629070）。</p>
     
