			<p class="ezh2_p1">EZH2基因</p>
            <p class="ezh2_p2">EZH2基因属于抑癌基因，它负责编码一种组氨酸甲基化转移酶，隶属多梳基因家族，在细胞内参与蛋白复合物PRC2的形成，该蛋白涉及细胞分化、胚胎发育等多种生物进程。EZH2突变在多种肿瘤中均有报道，包括结直肠癌、淋巴瘤、子宫内膜癌、MDS、前列腺癌等。</p>
            <img class="ezh2_img" src="genepic/ezh2.png">
            <p class="ezh2_p3">EZH2参与基因转录抑制作用</p>
            <p class="ezh2_p2">由于EZH2参与组成的蛋白复合物PRC2具有基因抑制作用，其活性被抑制可能使得某些肿瘤抑制基因表达而导致肿瘤生长受到抑制，而EZH2过表达或者突变性可能引起某些肿瘤或疾病，因此一些针对EZH2突变为靶点的抑制剂药物正在研发当中[PMID:23023262;PMID:17437993]。不过有趣的是，EZH2突变在MDS中的发生频率约为5.8%，而且大部分均表现为功能失活突变，而在淋巴瘤和上皮细胞肿瘤中，EZH2突变常常表现为功能获得性突变。临床研究显示，EZH2突变可能预示着MDS患者具有更短的总生存期[PMID:21714648]，在MDS的NCCN指南中也推荐检测EZH2基因作为预后因素之一。</p>  