            <p class="myc_p1">MYC基因</p>
            <p class="myc_p2">MYC ，原癌基因，其调节参与多种细胞过程的基因的表达，包括增殖，分化和凋亡。MYC 基因家族由三个相关基因组成：(1)c-MYC（由MYC基因编码），(2)N-MYC（由MYCN基因编码）和(3)L-MYC（由MYCL1基因编码）（PMID:16934487）。MYC 主要通过扩增在多种癌症中被激活，包括⻝道癌、乳腺癌、结肠癌和黑色素瘤等（PMID:28587062;PMID:15083194）。</p>
            <p class="myc_p2">目前针对MYC扩增暂没有明确的靶向药物被批准。体外试验表明（PMID:28830912），对于MYC扩增的食管肿瘤细胞系，依鲁替尼（Ibrutinib）可以下调ERK介导的信号传导，引起G1细胞周期停滞和细胞凋亡。</p>
