			<p class="tet2_p1">TERT基因</p>
            <p class="tet2_p2">TERT基因编码端粒酶的催化亚基，端粒酶是维持端粒长度和基因组完整性的酶。TERT在体细胞中通常表达较低或不存在; 然而，在绝大多数肿瘤中，端粒酶活性会被激活，从而导致癌症的发生（PMID: 24657534; PMID: 9282118）。TERT启动子的测序鉴定了许多癌症类型中的活化突变，包括黑素瘤，肝细胞癌，尿路上皮癌，成神经管细胞瘤和神经胶质瘤（PMID: 23348506）。</p>
            <p class="tet2_p2">目前针对TERT突变在临床上暂没有明确的靶向药物被批准或报道。多项研究报告显示，携带TERT C228T(c.-124C>T)突变的患者复发风险较低，但和BRAF V600E突变共存时，疾病的复发率较高。目前针对该突变在临床上暂没有明确的靶向药物被批准或报道。有文献表明，TERT突变与放射性碘摄取模式之间存在显著关联，8名携带TERT突变的甲状腺癌患者接受放射性碘治疗后，病情得到良好的缓解。</p>
