          	<p class="kit_p1">KIT基因</p>
          	<p class="kit_p2">KIT是Ⅲ型酪氨酸激酶家族成员，主要在造血干细胞中表达，通过与其配体干细胞因子（SCF）结合后，可激发酪氨酸残基磷酸化，从而调节细胞的生长。对正常造血细胞、肥大细胞、黑色素细胞的增殖和分化以及肿瘤细胞的增殖、恶性演进及凋亡等方面都有重要作用。</p>
          	<img class="kit_img" src="genepic/kit.png">
          	<p class="kit_p3">GIST中的KIT突变分布</p>
          	<p class="kit_p2">KIT突变在多种肿瘤中均有发生，包括GIST，黑色素瘤、急性白血病，其中在GIST中发生频率最高，达到85%，主要发生在属于近膜结构域的11号外显子(70%)和属于胞外区域的9号外显子(10~15%)中，酪氨酸激酶结构域的13和17号外显子也有少量突变发生。</p>
          	<p class="kit_p2">NCCN指南中认为伊马替尼和舒尼替尼可用于KIT突变阳性的GSIT患者，但需根据不同的突变情况进行用药选择，其中11号外显子突变可能对伊马替尼敏感，但是对于舒尼替尼可能存在耐药性，而9号外显子的突变则正好相反，实验显示它对于舒尼替尼表现敏感，而伊马替尼则并没有明显的效果。目前这两种药也被FDA批准用于GIST、ALL和肾细胞癌等肿瘤的治疗。</p>
          	<p class="kit_p2">另外，KIT突变在黑色素瘤中的发生频率约在2~8%，主要发生在近端结构域的11号外显子和激酶结构域的13和17号外显子。临床研究显示，KIT突变型的黑色素瘤同样对伊马替尼表现敏感[PMID:21642685]，但位于17号外显子的突变D816H在体外实验中显示对伊马替尼耐药[PMID:18955458]，而且有一例病例报道也显示，该患者在对伊马替尼用药产生耐药性后在基因内检测出了D816H突变[PMID:15790786]。</p>