			<p class="apc_p1">APC基因</p>
            <p class="apc_p2">APC基因属于抑癌基因，其编码的蛋白在WNT/ β-catenin 通路中起到信号抑制作用，APC 蛋白在细胞内与 β连环蛋白 （ β-catenin ） ( 一种转录transcription 因子 )形成复合物并导致后者降解[PMID:11978510]，APC如果因突变失活可能导致细胞的生长和分裂发生异常。</p>
            <p class="apc_p2">APC突变在多种肿瘤中均有发生，包括结直肠癌，肺癌，前列腺癌，乳腺癌，膀胱癌等等，其中在结直肠癌中最为常见，在散发性结直肠癌中，APC突变的发生频率高达50~80%[PMID:17143297]，大部分APC突变为造成蛋白合成提前终止的无义突变，并且大部分突变发生在基因的MCR结构域，该区域主要负责与β连环蛋白的结合作用[PMID:1338904;PMID:10784639]。APC 基因失活在很多情况下可导致家族性腺瘤性息肉病（familial adenomatous polyposis，FAP）[PMID:1338904;PMID:1651174]，该疾病有95%的概率最终发展成为结直肠癌。APC胚系突变同样在多种遗传病中起着重要作用，包括Turcot综合征，加德纳综合征及扁平腺瘤综合征等[PMID:8593545]。</p>            
            <p class="apc_p2">目前并没有作何靶向药物被FDA批准用于APC突变的适应症，仅有少量药物处于研发阶段，由于APC失活可导致WNT/ β-catenin 信号通路的激活，因此针对该通路的抑制剂可能对APC突变的肿瘤能起到一定作用。目前APC突变阳性肺癌的靶向药物相关性还未见报道，在一项针对结直肠癌的体外实验中[PMID:23539443]，Wnt/β-catenin通路抑制剂G007-LK对APC基因突变失活的结直肠癌细胞系呈现出较好的抑制活性（50%），在另一项体外实验中，β-catenin抑制剂JW55同样对APC失活的结直肠癌细胞系表现出良好的抑制活性[PMID:22440753]。</p>