			<p class="nf2_p1">NF2基因</p>
            <p class="nf2_p2">NF2，神经纤维瘤2，编码Merlin蛋白，是一种肿瘤抑制因子，通过调节细胞-细胞接触和基因表达来抑制细胞增殖并促进细胞凋亡(PMID: 22482125)。NF2的种系灭活突变引起神经纤维瘤病2，而NF2的体细胞突变在多种肿瘤中被鉴定(PMID: 24393766)。</p>
            <p class="nf2_p2">目前针对NF2突变暂没有明确的靶向药物被报道。在一项针对间皮瘤的临床前实验研究表明(PMID: 25878190)，NF2功能缺失突变与雷帕霉素（Rapamycin）的敏感性相关。依维莫司（Everolimus）是一种抑制mTOR信号传导途径的药物。在一项针对膀胱癌的体外实验表明(PMID: 22923433)，在TSC1缺失的膀胱癌细胞中降低NF2的表达可以增强细胞系对mTOR抑制剂的敏感性。在另一项临床研究中，接受贝伐单抗（Bevacizumab）治疗的携带NF2突变的进展性前庭神经鞘瘤患者其肿瘤明显缩小，听力得到明显的改善。</p>
