			<p class="nf1_p1">NF1基因</p>
            <p class="nf1_p2">NF1基因属于抑癌基因，其编码一种GTP酶激活蛋白，该蛋白可与HRAS，KRAS，NRAS这三种蛋白的GTP酶相结合并使其去磷酸化而失活[PMID:2121370]，当NF1蛋白因基因突变而发生失活时，其与RAS蛋白的结合失效，后者将因磷酸化而激活并激活下游的信号通路，从而促进肿瘤的发生与发展[PMID:24576830;PMID:8563751;PMID:12509763;PMID:9219684]。NF1基因突变在多种肿瘤中均有发生，包括乳腺癌，黑色素瘤，脑胶质瘤等，而遗传性的NF1基因突变可导致I型的神经纤维瘤</p>
            <p class="nf1_p2">目前针对NF1基因并没有相应的靶向药物获批上市，目前部分研究认为NF1基因失活可能导致肿瘤细胞对MAPK/ERK 和PI3K通路抑制剂类药物敏感。。在一项临床实验中，研究者对24位患有NF1相关的I型神经纤维瘤的儿童采用靶向药物司美替尼进行治疗（Selumetinib），结果显示其中17位患者的病情得到明显缓解[PMID:28029918]；在一项体外实验研究中，NF1突变失活的非小细胞肺癌细胞系对于某些MEK或PI3K抑制剂（如曲美替尼）表现敏感[PMID:29127119]；另一项临床前实验显示，NF1基因突变的黑色素瘤细胞系可被药物雷帕霉素抑制，而PD0325901可以增强该种抑制效果[PMID:23171796]。</p>