			<p class="bap1_p1">BAP1基因</p>
            <p class="bap1_p2">BAP1（BRCA相关蛋白-1）是一种蛋白水解酶，其涉及几种细胞过程，包括细胞增殖，DNA修复，基因表达的染色质调节和干细胞多能性[PMID:22374320;PMID:18757409]。HCF-1（去泛素化宿主细胞因子-1），一种有助于调节转录的染色质相关蛋白。已显示BAP1通过与HCF-1和YY1转录因子形成三元复合物来调节基因表达，并通过增加G1-S检查点的进展来增强细胞死亡[PMID:18757409]。BAP1缺失改变了I类组蛋白去乙酰化酶（HDAC）表达，这可能导致对BAP1耗尽的癌细胞中HDAC抑制剂的治疗反应改变[PMID:25970771]。BAP1的种系突变易患几种肿瘤，包括肾细胞癌，葡萄膜黑色素瘤和间皮瘤。体细胞中BAP1突变在肾细胞癌和葡萄膜黑色素瘤这些肿瘤类型中也是常见的[PMID:23867514;PMID:21642991]。</p>
            <p class="bap1_p2">有临床前研究试验中表明[PMID:22683710]，BAP1突变使得肾癌细胞系对辐射和PARP抑制剂如奥拉帕尼表现敏感。有临床试验报告表明[PMID:28389374]，相比BAP1野生型患者，携带BAP1突变的患者接受依维莫司和舒尼替尼治疗，其中位无进展生存较短。另有临床前试验表明[PMID:22038994]，BAP1突变的UM细胞对HDAC抑制剂表现敏感。</p>
