            <p class="ddr2_p1">DDR2基因</p>
            <p class="ddr2_p2">DDR2（盘状结构域死亡受体）隶属DDR家族，该蛋白激酶家族是由胶原蛋白而非肽类生长因子激活。DDR家族参与了细胞黏附、增殖以及胞外基质的重塑等多种细胞进程，因此 在人体多种病症中起着重要作用。</p>
            <p class="ddr2_p2">DDR2突变在多种肿瘤中均有报道，如多形性脑胶质瘤、肾细胞癌、子宫内膜癌、结直肠癌等，但发生频率均不高。目前在肺鳞癌中被发现的比较多，约为2.5%~3.8%[PMID:22328973]，且突变位置较为分散。</p>
            <img class="ddr2_img" src="genepic/ddr2.png">
            <p class="ddr2_p3">肺腺癌中DDR2突变分布[PMID:22328973]</p>
            <p class="ddr2_p2">在一项体外实验中，DDR2 I638F和L239R突变型的肺鳞癌细胞系表现对达沙替尼用药敏感。另有一份病例报道显示，某位同时患有CML和肺鳞癌的患者携带DDR2 S768R突变，在接受达沙替尼用药后显示出明显的缓解[PMID:23932362]。肺腺癌中DDR2突变分布[PMID:22328973]</p>