			<p class="runx1_p1">RUNX1基因</p>
            <p class="runx1_p2">RUNX1基因编码核心转录因子的α亚基，该转录因子可结合至基因的增强子或启动子上以促进多种基因的转录。RUNX1可促进多种造血细胞发育的相关基因的激活，在机体造血功能中起着重要作用。RUNX1基因异常可能与多种恶性血液病相关，如ALL、AML等。</p>
            <p class="runx1_p2">RUNX1突变在MDS中的发生频率约为8.9%，主要发生在难治性血细胞减少症以及难治性贫血症中。携带RUNX1突变可能预示着MDS患者有更差的总生存期[PMID:21714648]，在MDS的NCCN指南中也推荐检测RUNX1基因作为预后因素之一。</p>    