			<p class="met_p1">MET基因</p>
			<p class="met_p2">MET是一个原癌基因，编码肝细胞生长因子受体(HGFR)。它是一个跨膜蛋白，具有酪氨酸激酶活性，参与细胞信号传导、细胞骨架重排的调控，是细胞增值、分化和运动的重要环节。人类多种肿瘤中如NSCLC、胃癌、肝癌等均存在MET基因扩增或蛋白过表达，在NSCLC中，MET基因突变主要有基因扩增和14号外显子跳读两种形式。</p>
			<p class="met_p2">MET基因扩增在初发性的NSCLC中的发生频率约为2~4%，而在经EGFR-TKI治疗而产生获得性耐药性的NSCLC病例中达到5~20%[PMID:17463250;PMID:20107422]。MET基因扩增可能导致EGFR信号转导通路的下游信号途径活化，是引发肿瘤细胞对EGFR-TKI类药物的耐药性的重要机制之一。另一方面，携带MET扩增突变的NSCLC患者往往预后较差[PMID:25971938]。目前克唑替尼被认为对MET扩增突变有一定的疗效，在一项临床I期实验中显示，MET扩增阳性的NSCLC患者对于克唑替尼的用药存在33%的缓解率[PMID:19096300]。对于患者的MET扩增情况建议采用FISH(荧光原位杂交)的方法进行检测确认。</p>
			<img class="me_img" src="genepic/me.png">
			<p class="met_p4">可能导致METExon14 skipping的突变位置示意图[PMID:16397241]</p>
			<p class="met_p2">MET14外显子跳跃突变(Exon14 skipping)在肺腺癌中的发生频率为3~4%[PMID:16397241;PMID:17471238]，它是指MET基因由于点突变或插入缺失而导致的基因跳过14号外显子表达的情况，MET的14号外显子负责编码的近膜结构域是关键的负性调控区域，该区域的缺失已被证明可赋予MET基因致癌活性[PMID:22761469]，它是指MET基因由于点突变或插入缺失而导致的基因跳过14号外显子表达的情况，MET的14号外显子负责编码的近膜结构域是关键的负性调控区域，该区域的缺失已被证明可赋予MET基因致癌活性。目前已经发现100多种可能导致MET14外显子跳跃的突变情况[PMID:16397241]。</p>
			<p class="met_p2">在2016年NCCN肺癌指南中，已经将克唑替尼列为MET扩增或METExon14跳跃突变阳性NSCLC患者的推荐用药[PMID:26957612]。</p>