            <p class="smad4_p1">SMAD4基因</p>
            <p class="smad4_p2">SMAD4又称DPC4(deleted in pancreatic carcinomalocus 4)，是1996年由Hahn等发现的一种新的肿瘤抑制基因,属于SMADs家族成员，该家族共有八种蛋白。SMAD4同其它家族成员一道在TGF-β信号通路中处于调节中枢的位置，该通路在肿瘤发展、增殖和转移中起着重要作用。</p>
            <p class="smad4_p2">SMAD4缺失或突变在将近50%的胰腺癌和10%~35%的结直肠癌中出现。大多突变发生在SMAD4 C端的MH2结构域，该区域的结构失活可能导致RSMAD二聚化受阻而影响后面的信号传递。</p>
            <p class="smad4_p2">SMAD4的突变或缺失在I-IV期结直肠癌中的发生频率依次为0%、8%、6%和22%，SMAD4的失活可能意味着疾病预后较差[PMID:11021814]。</p>
            <p class="smad4_p2">目前还没有针对SMAD4突变的靶向用药的报道。</p>