			<p class="cdk4_p1">CDK6基因</p>
            <p class="cdk4_p2">CDK6，细胞周期蛋白依赖性激酶6，受细胞周期蛋白D调节，通过RB1的磷酸化和随后的E2F转录因子激活来调节从G1期到S期的细胞周期转变（PMID: 26315616; PMID: 26658964）。已报道在淋巴瘤、白血病、膀胱癌、胰腺癌、结肠癌和前列腺癌中发现过表达或扩增的CDK6（PMID: 26658964）。</p>
            <p class="cdk4_p2">目前针对CDK6扩增暂没有明确的靶向药物被批准。研究表明（PMID: 27748766），CDK6的扩增导致CDK6的表达显著增加和对CDK4 / 6抑制剂的响应降低。</p>            
