            <table class="druged_table1">
            	<tbody>
            		<tr>
						<td class="druged_td1">Drug</td>
						<td class="druged_td2">中文名</td>
						<td class="druged_td3">药物靶点</td>
						<td class="druged_td4">疾病</td>
						<td class="druged_td5">获批情况</td>
					</tr>
				</tbody>
			</table>
			<table class="druged_table2">
				<tbody>
					<tr>
						<td class="druged_td6">Afatinib</td>
						<td class="druged_td7">阿法替尼</td>
						<td class="druged_td8">EGFR、HER2、C-ERBB-4</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Alectinib</td>
						<td class="druged_td7">阿来替尼</td>
						<td class="druged_td8">ALK、RET</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Axitinib</td>
						<td class="druged_td7">阿昔替尼</td>
						<td class="druged_td8">VEGFR-1，VEGFR-2，<br>VEGFR-3，PDGFR，c-KIT</td>	<!--pass_gene-->
						<td class="druged_td9">肾癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Icotinib</td>
						<td class="druged_td7">埃克替尼</td>
						<td class="druged_td8">EGFR</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Olaparib</td>
						<td class="druged_td7">奥拉帕尼</td>
						<td class="druged_td8">PARP</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌、卵巢癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Osimertinib</td>
						<td class="druged_td7">奥塞替尼</td>
						<td class="druged_td8">EGFR</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Bevacizumab</td>
						<td class="druged_td7">贝伐珠单抗</td>
						<td class="druged_td8">VEGFR</td>	<!--pass_gene-->
						<td class="druged_td9">结直肠癌、非小细胞肺癌、肾癌、神经胶质瘤、输卵管癌、卵巢癌、宫颈癌、腹膜后肿瘤</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Dasatinib</td>
						<td class="druged_td7">达沙替尼</td>
						<td class="druged_td8">Bcr-Abl kinase and <br>Src-family kinases</td>
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Erlotinib</td>
						<td class="druged_td7">厄洛替尼</td>
						<td class="druged_td8">EGFR，PDGFR，c-Kit</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌、胰腺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Gefitinib</td>
						<td class="druged_td7">吉非替尼</td>
						<td class="druged_td8">EGFR</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Crizotinib</td>
						<td class="druged_td7">克唑替尼</td>
						<td class="druged_td8">ALK，c-MET，ROS-1</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Lapatinib</td>
						<td class="druged_td7">拉帕替尼</td>
						<td class="druged_td8">EGFR，HER2</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Rituximab</td>
						<td class="druged_td7">利妥昔单抗</td>
						<td class="druged_td8">CD20(MS4A1)</td>	<!--pass_gene-->
						<td class="druged_td9">白血病、淋巴瘤、类风湿性关节炎、肉芽肿血管炎、显微镜下多血管炎</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Nivolumab</td>
						<td class="druged_td7">纳武单抗</td>
						<td class="druged_td8">PD-1</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤、肾癌、霍奇金淋巴瘤、非小细胞肺癌、SCLC、肝癌、结直肠癌、尿路上皮癌、头颈部鳞癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Nilotinib</td>
						<td class="druged_td7">尼罗替尼</td>
						<td class="druged_td8">Bcr-Abl，PDGFR，c-KIT</td>	<!--pass_gene-->
						<td class="druged_td9">白血病、ph阳性慢性粒细胞白血病</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Pembrolizumab</td>
						<td class="druged_td7">帕姆单抗</td>
						<td class="druged_td8">PD-1</td>	<!--pass_gene-->
						<td class="druged_td9">实体瘤</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Palbociclib</td>
						<td class="druged_td7">哌柏西利</td>
						<td class="druged_td8">CDK4/6</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Bortezomib</td>
						<td class="druged_td7">硼替佐米</td>
						<td class="druged_td8">26S proteasome</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤、多发性骨髓瘤</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Trastuzumab</td>
						<td class="druged_td7">曲妥珠单抗</td>
						<td class="druged_td8">HER2</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌、胃癌、食管胃交界腺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ceritinib</td>
						<td class="druged_td7">色瑞替尼</td>
						<td class="druged_td8">ALK，IGF1R，ROS1，<br>insulin receptor</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Sunitinib malate</td>
						<td class="druged_td7">舒尼替尼</td>
						<td class="druged_td8">Multiple kinases including <br>VEGFR，PDGFR and KIT</td>	<!--pass_gene-->
						<td class="druged_td9">胃肠道间质瘤、肾癌、胰腺神经内分泌肿瘤</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Sorafenib</td>
						<td class="druged_td7">索拉菲尼</td>
						<td class="druged_td8">KIT，VEGFR，PDGFR，RAF</td>	<!--pass_gene-->
						<td class="druged_td9">肾癌、肝癌、甲状腺癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Cetuximab</td>
						<td class="druged_td7">西妥昔单抗</td>
						<td class="druged_td8">EGFR</td>	<!--pass_gene-->
						<td class="druged_td9">结直肠癌、头颈部鳞癌</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Imatinib</td>
						<td class="druged_td7">伊马替尼</td>
						<td class="druged_td8">Bcr-Abl，PDGFR，c-KIT</td>	<!--pass_gene-->
						<td class="druged_td9">白血病、胃肠道间质瘤、骨髓发育异常/骨髓增生性疾病、侵袭性系统性肥大细胞增多症</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
				</tbody>
			</table>