			<p class="brca1_p1">BRCA1基因</p>
            <p class="brca1_p2">BRCA1基因是一种抑癌基因，全称为乳腺癌易感基因I型，其编码的蛋白主要参与DNA的损伤修复，因此在维持DNA的结构和完整性上具有重要作用。BRCA1蛋白在细胞内常常与其它肿瘤抑制蛋白结合成蛋白复合物，它有两个重要的结构域，N端的环状结构域和C端的BRCT结构域，环状结构域具有E3泛素连接酶活性，该部位常与BRAD1蛋白相结合来发挥其活性；BRCT结构域是磷酸肽结合区域，主要负责BRCA1蛋白与BRIP1、CtIP等组成蛋白复合物以行使DNA损伤修复功能。很多与遗传性肿瘤相关的突变都发生在这两个区域，说明这两个结构域在BRCA1的肿瘤抑剂功能中至关重要[PMID:7894493]。</p>
            <p class="brca1_p2">BRCA1/2的胚系突变将使人一生中患有乳腺癌的概率增加至50%~80%，而患有卵巢癌的概率增加至30%~50%，另外其它癌症如前列腺癌、胰腺癌也会升高。</p>
            <img class="brca1_img" src="genepic/brca1.png">
            <p class="brca1_p3">BRCA1蛋白结构[PMID:22193408]</p>
            <p class="brca1_p2">靶向药物奥拉帕尼(Olaparib)已被FDA批准用于携带BRCA1/2有害突变的晚期卵巢癌患者的用药治疗，而针对BRCA阳性乳腺癌的临床实验正在开展（NCT02032823），且在之前的II期实验中展示出良好的效果。</p> 