            <p class="akt1_p1">AKT1基因</p>
            <p class="akt1_p2">AKT1属丝氨酸/苏氨酸蛋白激酶家族，参与癌细胞PI3K介导的信号传导过程,且处于此信号通路的枢纽位置，其活性受PTEN抑制。活化的AKT在抑制细胞的凋亡,促进细胞的运动,促进细胞的增殖及肿瘤的侵袭方面起着重要的作用。</p>
            <p class="akt1_p2">AKT1在肺癌中的突变频率约为1%，目前发现的最主要的突变是E17K突变，该突变是个激活性突变，处于基因的普列克底物蛋白结构域，约占所有AKT1突变的88%。</p>
            <img class="akt1_img" src="genepic/akt1.png">
            <p class="akt1_p2">体外实验显示，该突变型的AKT1基因可能相比野生型对AKT 抑制剂VIII更不敏感[PMID:17611497]。其它有一些药物正处于临床实验中（NCT01248247）。在另一项体外实验中，该突变被认为可能赋予细胞对药物GSK2141795B的敏感性[PMID:24735930]。</p>