			<p class="etv6_p1">ETV6基因</p>
            <p class="etv6_p2">ETV6基因编码的蛋白属于ETS转录因子家族之一。该蛋白包含两个重要的职能区域，N端的蛋白相互作用区域以及C端的DNA结合区域。动物实验模型证明该基因在机体的造血功能和血管维持中必不可少。ETV6的突变或融合在多种癌种中被报道，主要有MDS、血液病、恶性肉瘤等。</p>
            <p class="etv6_p2">ETV6在MDS的突变频率约为1.3~4.2%，临床研究显示，ETV6突变可能预示着患者具有更短的总生存期[PMID:21714648]，在MDS的NCCN指南中也推荐检测ETV6基因作为预后因素之一。</p>
            <img class="etv6_img" src="genepic/etv6.png">
            <p class="etv6_p3">ETV-NTRK3融合突变[PMID:24327398]</p>
            <p class="etv6_p2">ETV6有多种融合突变被报道，在ALL成人患者中ETV6-RUNX1融合约占2%，而在儿童患者中占了22%。另外ETV6-ABL1在也在一例费城染色体阴性和CML患者中被报道，且该融合突变被认为可能造成肿瘤对伊马替尼的耐药性[PMID:24053143]；ETV6-NTRK3融合在先天性纤维肉瘤、甲状腺癌、分泌型乳腺癌、ALL等多种疾病中有出现，有体外研究认为该融合对小分子抑制剂PKC412 可能敏感[PMID:23131561]。</p>    