            <p class="fgfr1_p1">FGFR1</p>
            <p class="fgfr1_p2">FGFR1（I型成纤维细胞生长因子受体）隶属FGFR酪氨酸激酶家族，该家族成员还包括FGFR2/FGFR3/FGFR4。FGFR蛋白的胞外段可与成纤维细胞生长因子结合，并启动下游的信号通路，最终影响细胞的分裂与分化。</p>
            <p class="fgfr1_p2">FGFR1突变在多种肿瘤中均有报道，包括乳腺癌、食管癌、卵巢癌、膀胱癌以及肺癌等，是一种常见的原癌基因。其最主要的突变类型为基因扩增突变。</p>
            <p class="fgfr1_p2">FGFR1扩增突变在乳腺癌中的发生概率为10%~13%[PMID:9331099]，在肺鳞癌中的发生频率约为20%[PMID:21666749]，而在肺腺癌中相对较少，仅有不到2%的比例。</p>
            <p class="fgfr1_p2">目前还未有针对FGFR1突变的靶向药物上市。在一项体外实验中，FGFR扩增阳性被认为可能导致乳腺癌对激素类药物治疗耐药，而在体外实验中，FGFR TKI抑制剂对FGFR信号通路激活的NSCLC和乳腺癌细胞系的增殖均起到了明显的抑制效果[PMID:18849352;PMID:22238366]，目前两种针对ER阳性而HER2阴性乳腺癌的FGFR抑制剂药物dovitinib (NCT01528345) 和nintedanib (NCT01658462)正处于临床II期中。</p>