            <p class="tsc2_p1">TSC2基因</p>
            <p class="tsc2_p2">结节性硬化综合征（TSC），一种常染色体显性遗传性疾病，通常表现在几个器官中形成良性肿瘤以及脑畸形和神经元缺陷。TSC是由肿瘤抑制基因TSC1和TSC2的突变引起的，其中TSC2突变较为常见，约占70%的病例[PMID: 20301399,10205261]。TSC2是mTOR信号传导途径中重要的肿瘤抑制因子，因此，TSC2突变或失活可导致mTOR的活性增加。mTOR是PI3K/Akt下游的一种重要的蛋白激酶，主要调节肿瘤细胞的增殖、存活和侵袭转移。</p>
            <p class="tsc2_p2">TSC2突变通常是基因截短或剪接位点突变，常见于人类癌症，包括肝癌，子宫内膜癌，嫌色细胞肾细胞癌，膀胱癌，胃癌，肾透明细胞癌等。</p>
            <p class="tsc2_p2">血管平滑肌脂肪瘤是结节性硬化综合征中较常见的肿瘤，容易引起腹膜后出血和肾功能受损等并发症。依维莫司（everolimus）是一种雷帕霉素衍生物，通过作用于mTOR复合物来抑制mTOR通路。有研究比较依维莫司和安慰剂对平滑肌脂肪瘤患者的血管平滑肌脂肪瘤反应率，结果表明，依维莫司对血管平滑肌脂肪瘤反应率敏感[PMID:23312829;PMID:24729041]。因此，依维莫司可作为与结节性硬化症相关的血管平滑肌脂肪瘤的潜在治疗药物。</p>
            <p class="tsc2_p2">在癫痫治疗方面，可采用氨基乙酸（Vigabatrin）或其他抗癫痫药物进行预防。对于面部血管纤维瘤，可采用局部mTOR抑制剂。对于有症状的心脏横纹肌瘤：建议手术干预或考虑mTOR抑制剂治疗。</p>