			<p class="map2k2_p1">MAP2K2基因</p>
            <p class="map2k2_p2">MAP2K2（也称为MEK2）是丝氨酸/苏氨酸激酶，其在促分裂原活化蛋白激酶（MAPK）信号级联中起到效应蛋白的作用（PMID:25435214;PMID:17496922）。 MAPK信号传导途径参与多种细胞过程的调节，包括增殖，分化，细胞粘附和转录（PMID:25435214;PMID:17496922），MAP2K2突变在肿瘤中较少发生。</p>
            <p class="map2k2_p2">目前针对MAP2K2突变尚未有靶向药物获批，在一项针对30名转移性黑色素瘤患者的回顾性研究中（PMID:24463458），携带MAP2K2 F57C突变的患者对Vemurafenib治疗有抗药性（已知患者最初携带BRAF V600E突变，并在获得耐药性前对Vemurafenib的单一疗法具有部分反应）。</p>        
