			<p class="hras_p1">HRAS基因</p>
            <p class="hras_p2">HRAS基因是人体内常见的原癌基因，它同NRAS、KRAS基因一样隶属于RAS基因家族，其负责编码的RAS蛋白在细胞内的信号通路中起着信号转导作用，在细胞的生存与增殖等活动中处于重要位置。HRAS突变主要在唾液腺、尿道上皮、子宫及甲状腺等部位的肿瘤中较为常见。</p>
            <p class="hras_p2">HRAS在甲状腺癌中的突变频率约主4%，且大部分发生在基因的第12、13以及61号密码子上。在所有甲状腺癌亚型中，滤泡状癌亚型的HRAS突变最为常见。临床研究显示，对于接受放射性碘治疗效果不好的患者，服用selumetinib可增加其对放射性碘治疗的敏感性，尤其是针对RAS阳性的患者[PMID:23406027]。</p>   