			<table class="druged_table2">
				<tbody>
					<tr>
						<td class="druged_td6">Everolimus</td>
						<td class="druged_td7">依维莫司</td>
						<td class="druged_td8">mTOR</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌、肾癌、室管膜下巨细胞星形细胞瘤、胰腺神经内分泌肿瘤、结节性硬化症</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Aldesleukin</td>
						<td class="druged_td7">重组人白介素-2</td>
						<td class="druged_td8">IL2RA，IL2RB，IL2RG</td>	<!--pass_gene-->
						<td class="druged_td9">肾癌、黑色素瘤</td>
						<td class="druged_td10">NMPA、FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Anlotinib </td>
						<td class="druged_td7">安罗替尼</td>
						<td class="druged_td8">VEGFR1/2/3，c-Kit，<br>PDGFRβ</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">NMPA</td>
					</tr>
					<tr>
						<td class="druged_td6">Pyrotinib</td>
						<td class="druged_td7">吡咯替尼</td>
						<td class="druged_td8">pan-HER</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">NMPA</td>
					</tr>
					<tr>
						<td class="druged_td6">Abemaciclib</td>
						<td class="druged_td7">玻玛西林</td>
						<td class="druged_td8">CDK4/6</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Acalabrutinib</td>
						<td class="druged_td7">阿卡替尼</td>
						<td class="druged_td8">BTK</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Apalutamide</td>
						<td class="druged_td7">布地奈德</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">前列腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Atezolizumab</td>
						<td class="druged_td7">阿特珠单抗</td>
						<td class="druged_td8">PD-L1</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌、尿路上皮癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Avatrombopag</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">血小板减少症</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Avelumab</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">PD-L1</td>
						<td class="druged_td9">尿路上皮癌、梅克尔细胞癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Axicabtagene <br>ciloleucel</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">CD19</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Binimetinib</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">BRAF V600E/K</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Blinatumomab</td>
						<td class="druged_td7">博纳吐单抗</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">b细胞前体急性淋巴细胞白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Bosutinib</td>
						<td class="druged_td7">伯舒替尼</td>
						<td class="druged_td8">Bcr-Abl kinase and <br>Src-family kinases</td>
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Brentuximab <br>vedotin</td>
						<td class="druged_td7">本妥昔单抗</td>
						<td class="druged_td8">CD30、CD22</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤、蕈样肉芽肿</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Brigatinib</td>
						<td class="druged_td7">布加替尼</td>
						<td class="druged_td8">ALK</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Cemiplimab</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">PD-1</td>	<!--pass_gene-->
						<td class="druged_td9">CSCC</td>	<!--pass_gene-->
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Copanlisib</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">滤泡型淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Daratumumab</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">CD38</td>	<!--pass_gene-->
						<td class="druged_td9">多发性骨髓瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Durvalumab</td>
						<td class="druged_td7">度伐鲁单抗</td>
						<td class="druged_td8">PD-L1</td>
						<td class="druged_td9">非小细胞肺癌、尿路上皮癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Duvelisib</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">PI3K</td>	<!--pass_gene-->
						<td class="druged_td9">慢性淋巴细胞白血病/小淋巴细胞淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Emapalumab </td>
						<td class="druged_td7">依帕伐单抗</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">噬血细胞性淋巴组织细胞增多症</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Emicizumab-kxwh</td>
						<td class="druged_td7">艾米希组单抗</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">血友病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Enasidenib</td>
						<td class="druged_td7">恩西地平</td>
						<td class="druged_td8">IDH2</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Encorafenib</td>
						<td class="druged_td7">康奈非尼</td>
						<td class="druged_td8">BRAF V600E/K</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Epoetin alfa-epbx</td>
						<td class="druged_td7">阿法依泊汀</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">贫血症</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Fostamatinib</td>
						<td class="druged_td7">福他替尼</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">血小板减少性紫癜</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Gemtuzumab <br>ozogamicin</td>
						<td class="druged_td7">吉妥单抗</td>
						<td class="druged_td8">CD33</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Gilteritinib </td>
						<td class="druged_td7">吉特替尼</td>
						<td class="druged_td8"> FLT3 </td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Glasdegib </td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">-</td>
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Idelalisib</td>
						<td class="druged_td7">艾代拉里斯</td>
						<td class="druged_td8">PIK3CA</td>	<!--pass_gene-->
						<td class="druged_td9">白血病、淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ipilimumab</td>
						<td class="druged_td7">伊匹单抗</td>
						<td class="druged_td8">CTAL-4</td>	<!--pass_gene-->
						<td class="druged_td9">结直肠癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ivosidenib</td>
						<td class="druged_td7">-</td>
						<td class="druged_td8">IDH1</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
				</tbody>
			</table>