            <p class="pten_p1">PTEN基因</p>
            <p class="pten_p2">PTEN全称人第十号染色体缺失的磷酸酶及张力蛋白同源的基因，属于蛋白磷酸化激酶。其在PI3K/AKT起负调节作用，参与细胞生长、存活、增殖以及基因组维护等多种细胞进程。</p>
            <p class="pten_p2">PTEN是一种抑癌基因，其在PI3K/AKT/mTOR信号通路中起着负调控作用，它的突变性失活将导致PI3K-AKT通路活化，从而发挥其致癌活性，因此有研究认为PTEN缺失可能导致某些mTOR抑制剂的效果减弱[PMID:23989949;PMID:24166148]。PTEN突变在多种肿瘤中均有报道，如在乳腺癌中的发生频率约为7%，结直肠癌中约为​5–14%，NSCLC中约为4–8%，其它肿瘤如脑胶质瘤、黑色素瘤、肾细胞癌等中也有发生。</p>
            <img class="pten_img" src="genepic/pten.png">
            <p class="pten_p3">PTEN参与信号通路[PMID:20085938]</p>
            <p class="pten_p2">体外实验研究认为，PTEN突变失活可能会导致患者对PI3K-AKT通路抑制剂和FRAP/mTOR通路抑制剂敏感[PMID:20085938]，但是目前还未有临床实验进行证明。另外，在一项回顾性研究里，PTEN缺失被认为可能导致结直肠癌患者无法从西妥昔单抗等靶药的治疗中获益[PMID:21163703]。而在针对HER2阳性乳腺癌的研究中，PTEN功能缺失被认为可能导致患者对曲妥珠单抗的治疗产生抗性。</p>