            <table class="pg15_table1">
                <tbody>
                    <tr> 
                        <td class="pg15_table1_tr1"><i>LRP1B</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>LYN</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>LZTR1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAGI2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAP2K1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAP2K2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAP2K4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAP3K1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAP3K13</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAP3K14</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr1"><i>MAPK1</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAPK3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAPK4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MAX</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MCL1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MDC1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MDM2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MDM4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MED12</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MEF2B</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr1"><i>MEN1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MET</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MGA</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MITF</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MLH1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MLH3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MPL</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MRE11A</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MSH2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MSH3</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr1"><i>MSH6</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MST1R</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MTOR</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MUTYH</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MYB</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MYC</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MYCL</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MYCN</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>MYD88</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr1"><i>NBN</i></td> <!--pass_gene-->
                    </tr> 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>NCOA3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NCOR1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NF1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NF2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NFE2L2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NFKBIA</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NKX2-1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NOTCH1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NOTCH2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NOTCH3</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>NOTCH4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NPM1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NRAS</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NSD1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>NUP93</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>OXSR1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PAK1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PAK3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PAK7</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PALB2</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>PAPPA2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PARK2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PARP1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PAX5</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PBRM1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PDCD1</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PDCD1LG2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PDK1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PDPK1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PGR</i> <sup>#</sup></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>PHF6</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3C2B</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3C2G</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3C3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3CA</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3CB</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3CD</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3CG</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3R1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PIK3R2</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>PIM1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PLCG2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PLK2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PMS1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PMS2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PNRC1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>POLD1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>POLE</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>POLE4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PPARG</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>PPP2R1A</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PRDM1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PREX2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PRKAA1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PRKAR1A</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PRKCI</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PRKDC</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PRSS8</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PTCH1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PTEN</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>PTPN11</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PTPRD</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>PXDNL</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>QKI</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAC1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAD21</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAD50</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAD51</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAD51B</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAD51C</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>RAD51D</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAD52</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RAD54L</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RANBP2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RASA1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RB1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RBM10</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RECQL4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>REL</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RHEB</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>RHOA</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RICTOR</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RIPK4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RIT1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RNF43</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RPS6KB1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RPS6KB2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RPTOR</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RUNX1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>RUNX1T1</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>SCN8A</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SDHA</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SDHAF2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SDHB</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SDHC</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SDHD</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SETBP1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SETD2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SF3B1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SIK1</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>SKP2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SLIT2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SMAD2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SMAD3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SMAD4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SMARCA4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SMARCB1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SMARCD1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SMO</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SNCAIP</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>SOCS1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SOX10</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SOX17</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SOX2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SOX9</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SPEN</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SPOP</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SPTA1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SRC</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SRSF2</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>STAG2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>STAT3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>STAT4</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>STK11</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SUFU</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>SYK</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TAF1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TAOK1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TBX3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TCF7L1</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>TERC</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TERT</i>*</td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TET1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TET2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TGFBR2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TIGIT</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TMEM127</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TNFAIP3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TNFRSF14</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TNFRSF18</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table1_tr2"><i>TNFRSF9</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TOP1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TOP2A</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TP53</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TRAF7</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TRRAP</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TSC1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TSC2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>TSHR</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>U2AF1</i></td> <!--pass_gene-->
                    </tr>
                    <tr> 
                        <td class="pg15_table1_tr2"><i>VEGFA</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>VHL</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>WISP3</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>WT1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>XPC</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>XPO1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>XRCC1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>YES1</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>ZBTB2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>ZNF217</i></td> <!--pass_gene-->
                    </tr>
                    <tr> 
                        <td class="pg15_table1_tr2"><i>ZNF703</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i>ZRSR2</i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table1_tr2"><i></i></td> <!--pass_gene-->
                    </tr>

                </tbody>
            </table>
            <p style="text-indent:4em;font-size:23.5px;margin-top:60px;">同时检测点突变、插入缺失及融合突变的基因列表</p>
            <table class="pg15_table2">
                <tbody> 
                    <tr> 
                        <td class="pg15_table2_tr1"><i>ALK</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>BCR</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>BRAF</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>BRD4</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>ERG</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg15_table2_tr1"><i>ETV5</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>ETV6</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>FGFR1</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>FGFR2</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>FGFR3</i> <sup>#</sup></td> <!--pass_gene-->
                    </tr>
                    <tr> 
                        <td class="pg15_table2_tr1"><i>FOXO1</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>JAK2</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>NTRK1</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>NTRK2</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>NTRK3</i> <sup>#</sup></td> <!--pass_gene-->
                    </tr>
                    <tr> 
                        <td class="pg15_table2_tr1"><i>PAX8</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>PDGFRA</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>PDGFRB</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>PRKACA</i>**</td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>RAF1</i></td> <!--pass_gene-->
                    </tr>
                    <tr> 
                        <td class="pg15_table2_tr1"><i>RARA</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>RET</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>ROS1</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>SUZ12</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i>TCF7L2</i>**</td> <!--pass_gene-->
                    </tr>
                    <tr> 
                        <td class="pg15_table2_tr1"><i>TMPRSS2</i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i></i></td> <!--pass_gene-->
                        <td class="pg15_table2_tr1"><i></i></td> <!--pass_gene-->
                    </tr>
                </tbody>
            </table>

            <p style="margin-top:80px;font-size:18px;line-height:48px;">
                注:*，同时检测启动子区域的基因;**，同时检测UTR区域的基因;<sup>#</sup>，同时检测拷贝数变异的基因。
            </p>
