			<p class="pbrm1_p1">PBRM1基因</p>
			<p class="pbrm1_p2">PBRM1基因编码蛋白质BAF180，为肿瘤抑癌基因，该蛋白为核小体-重构复合物转换缺陷/蔗糖非发酵（SWI/SNF）的组分（PMID:21248752）。核小体是组蛋白八聚体，DNA被包裹在其周围以调节其对转录因子和RNA聚合酶的暴露（PMID:23113498）。重构复合物用于放松、重新定位和破坏DNA与组蛋白接触，从而使DNA易于调节（PMID:21654818）。与PBRM1相关的疾病包括透明细胞肾细胞癌和透明细胞乳头状肾细胞癌。</p>
			<p class='pbrm1_p2'>目前针对该基因尚未有靶向药物获批，在一项针对肾细胞癌（RCC）的临床试验中（PMID:29301960），35例透明细胞RCC患者中，PBRM1功能缺失突变与抗PD-1单药疗法的疗效相关（p=0.012），在63例接受PD-1或PD-L1阻断疗法单独治疗或联合抗CTLA-4疗法治疗的CCRCC患者的独立验证队列中证实了这一点（p=0.0071）。</p>
