			<p class="crlf2_p1">CRLF2基因</p>
            <p class="crlf2_p2">CRLF2编码的蛋白是I型细胞因子受体家族成员之一，可以与胸腺基质淋巴细胞生成素（TSLP）结合，激活下游的STAT3、STAT5以及 JAK2信号途径，从而参与细胞增殖与发育等多种生物进程。</p>
            <p class="crlf2_p2">CRLF2融合突变在前体B细胞ALL中高达30%，主要的融合搭档基因为P2RY8和IGH基因。另外CRLF2过表达现象在前体B细胞ALL也有约17.5%的比例，且这种高表达往往意味着极差的预后。</p>            
            <p class="crlf2_p2">Mtor通路抑制剂西罗莫司以及JAK/STAT抑制剂ruxolitinib可能对CRLF2突变的肿瘤有效果。</p> 