			<p class="flt3_p1">FLT3基因</p>
			<p class="flt3_p2">FLT3是跨膜受体酪氨酸激酶，主要在调节造血功能中起作用（PMID:12032772）。 FLT3与配体FLT3L结合后通过二聚化和自磷酸化被激活。 FLT3通过激活几种途径使得下游信号传导，包括MAPK，PI3K/AKT和STAT3/5途径，其在造血细胞的增殖，分化和存活中起关键作用（PMID:23631653;PMID:12951584）。野生型FLT3对于造血干细胞的生长和分化非常重要，并且通常在未成熟骨髓和淋巴样细胞上表达（PMID:12951584）。 FLT3突变常发生在急性髓性白血病（AML）中。目前相关FLT3小分子激酶抑制剂正在开发中。</p>
			<p class='flt3_p2'>目前针对FLT3基因尚未有靶向药物获批。</p>
