			<p class="ret_p1">RET基因</p>
			<p class="ret_p2">RET是一种原癌基因，编码的蛋白是一种酪氨酸激酶受体，它在人体神经嵴的发育中起着重要作用。现已发现多种疾病的发生与RET基因突变有密切联系，包括甲状腺髓样癌、先天性巨结肠症、肺癌等[PMID:22395697;PMID:16946010]。</p>
			<p class="ret_p2">目前已经被报道的RET融合搭档基因有约13种，在肺癌中，RET融合突变的发生频率约为1.3%，其中绝大部分发生在腺癌病例中[PMID:22194472]。所有融合模式中，以CCDC6-RET和KIF5B-RET最为常见。和ALK或ROS1一样，RET的大部分融合突变保留了完整的蛋白激酶区域，这是其发挥其致癌活性的关键部位。</p>
			<img class="rt_img" src="genepic/rt.png">
			<p class="ret_p4">肺癌中几种常见的RET融合突变模式[PMID:23533264]</p>
			<p class="ret_p2">目前FDA并未批准任何靶向药物用于RET融合阳性的肺癌患者的治疗，不过临床研究显示，多靶点抑制剂卡博替尼可能对RET阳性肺癌患者有一定效果[PMID:23533264]。在NCCN肺癌指南中也建议将RET融合作为用于用药选择指导的重要分子标志之一。另外，有一例病例报告显示，一名携带KIF5B-RET融合突变的肺腺癌患者在使用多靶点抑制剂凡德它尼治疗后病情出现明显的缓解[PMID:23584301]。目前卡博替尼和凡德它尼均被FDA批准用于甲状腺髓样癌的用药治疗。</p>	