            <p class="vhl_p1">VHL基因</p>
            <p class="vhl_p2">VHL，E3连接酶，该基因为抑癌基因（PMID:10102622;PMID:9671762），VHL蛋白与转录延伸因子B和C形成三元复合物，在常氧条件下，对调节缺氧诱导型转录因子（HIFs）起着至关重要的作用。VHL突变可导致VHL蛋白异常降解（PMID:7660130;PMID:7660122），VHL功能损伤突变可引起遗传性和散发性的Von Hippel-Lindau病，其与透明细胞肾细胞癌，视网膜血管母细胞瘤，嗜铬细胞瘤和胰腺神经内分泌肿瘤相关（PMID:18676741;PMID:25533676）。目前针对该基因尚未有靶向药物获批，但有临床试验显示，靶向VEGF受体和HIF蛋白抑制剂在携带VHL功能损伤突变的肿瘤中可能具有治疗作用（PMID：25533676）。</p>
