            <p class="mek1_p1">MEK1基因</p>
            <p class="mek1_p2">MEK1(又为MAP2K1)属于属丝氨酸/苏氨酸蛋白激酶家族，它在MAP激酶信号途径中处于调节枢纽位置，该通路参与多种细胞进程，包括细胞分化、增殖等等。</p>
            <img class="mek1_img" src="genepic/mek1.png">
            <p class="mek1_p3">肺癌中的MEK1突变[PMID:18632602]</p>
            <p class="mek1_p2">MEK1突变在NSCLC中的发生频率约为1%，并且主要是腺癌中。其中K57N突变最为常见，约占所有突变的64%。该突变可导致MAPK途径结构性激活。体外实验显示，该突变可能对MEK1的小分子抑制剂AZD6244敏感。另外，MEK1突变可能和EGFR-TKI的耐药有关[PMID:18632602]。</p>
            <p class="mek1_p2">MEK1突变在转移性黑色素瘤中的发生概率约为6-7%，且常常和BRAF和NRAS突变一起出现。有临床前研究显示，MEK1的部分突变，如P124L，P124S等可能导致肿瘤对BRAF 或MEK抑制剂产生耐药性[PMID:19915144]。</p>