            <p class="rictor_p1">RICTOR基因</p>
            <p class="rictor_p2">RICTOR蛋白与mTOR均属于 Mtorc2蛋白复合物的成员，该复合物参与调节肌动蛋白生成、细胞增殖、细胞生存等生物学进程。RICTOR的点突变、插入删除突变以及扩增突变在多种肿瘤如乳腺癌、子宫内膜癌、肺癌等中均有被报道。</p>
            <img class="rictor_img" src="genepic/rictor.png">
            <p class="rictor_p3">RICTOR参与mTOR信号途径[PMID:21210909]</p>
            <p class="rictor_p2">RICTOR基因变异在肺腺癌中的发生频率为10.9–14.3%而在肺鳞癌中为10.6–16.9%，其中大部分为扩增突变。在一份病例报道中，RICTOR扩增阳性的肺腺癌患者也同时显示其mTORC2-RICTOR复合物超活化。体外实验显示，RICTOR扩增阳性的肿瘤可能对 mTOR1/2抑制剂敏感[PMID:15118125]。</p>