			<p class="gnas_p1">GNAS基因</p>
            <p class="gnas_p2">GNAS基因负责编码G-蛋白（鸟苷酸结合蛋白）膜复合体的一种Gα亚基，G蛋白在与其配体结合后激活，对细胞的生长与发展起着重要的调节作用。GNAS基因突变多种肿瘤中均有报道，包括结直肠癌，甲状腺癌，卵巢癌及肝细胞癌等等，属于比较常见的原癌基因[PMID:23640210]。从目前的报道中看，绝大部分的GNAS突变发生在基因的第201及227号氨基酸残基上，这些位置的突变可导致蛋白活性的组成性激活，从而促进肿瘤细胞的增殖与发展[PMID:24498386;PMID:26257060]。</p>
            <p class="gnas_p2">目前GNAS突变与靶向药物敏感性的报道较少，在一项针对腹膜假粘液瘤的临床研究中，研究者发现相对于野生型，携带GNAS突变的患者其中位PFS（无病进展生存期）显著更短[PMID:27154293]；在一篇病例研究报告中，一位同时携带NRAS Q61K和GNAS R201H突变的甲状腺滤泡癌患者，在完成甲腺癌切除手术后接受放射性碘治疗，结果病情得到明显的缓解[PMID:26788326]；而在另一篇针对结直肠癌的病例研究报道中，一位同时携带BRAF V600E和GNAS R201C突变的患者在接受维罗非尼，西妥昔单抗和伊立替康的联合用药后表现出抗药性[PMID:27729313]。</p> 