			<p class="rasa1_p1">RASA1基因</p>
            <p class="rasa1_p2">RASA1基因编码的p120-RasGAP蛋白在RAS/MAPK信号通路中起着信号转导作用，主要参与细胞的生长和增殖等活动，但p120-RasGAP的确切作用尚未完全清楚。RASA1基因突变可能导致p120-RasGAP蛋白功能丧失，其突变在基底细胞癌和肺癌中均有发生。</p>
            <p class="rasa1_p2">目前针对RASA1突变并没有明确的靶向药物被批准或被报道。在一项临床前实验中[PMID:29127119]，具有RASA1和NF1其中一种失活的细胞系的生长对MEK或PI3K的抑制剂显示出中等和不同的敏感性，同时具有RASA1和NF1突变的细胞系对MEK（trametinib）或PI3K的抑制剂更加敏感。</p>