            <p class="smo_p1">SMO基因</p>
            <p class="smo_p2">SMO基因编码一种膜蛋白受体，包含七个跨膜区域，隶属刺猬信号通路。刺猬信号通路在胚胎发育中起着重要作用，同时在皮肤组织中，该通路涉及干细胞的维护、毛襄发育、腺体发育等过程。该通路在胚胎发育完成后即处于失活状态，如因某些原因被重新激活则可能导致机体癌变。</p>
            <img class="smo_img" src="genepic/smo.png">
            <p class="smo_p3">刺猬信号通路</p>
            <p class="smo_p2">SMO的激活性突变可能与多种肿瘤的发生与发展相关，如基底细胞癌、脑胶质瘤、成神经细胞瘤等等。在BCC中SMO的突变概率约为12%，其中W535L突变占所有突变的将近50%。尽管FDA批准的多种用于BCC的药物如维莫德吉、Sonidegib等均以SMO为靶点，但目前SMO突变与这些靶向的相关性目前暂不明确。在成神经管细胞瘤中有一例SMO D473H突变的报道，但该患者显示对维莫德吉耐药。</p>