            <p class="gnaq_p1">GNAQ基因</p>
            <p class="gnaq_p2">GNAQ基因同GNA11一样，编码另一种Gα蛋白Gαq，两种蛋白具有相似的结构。</p>
            <p class="gnaq_p2"> GNAQ突变在葡萄膜黑色素瘤中的发生概率约为50%，在所有黑色素瘤种类中约为1.3%。大多突变同样也发生在第183和209氨基酸残基上，这些位点正好处于蛋白的GTP酶作用区域。</p>
            <p class="gnaq_p2">一项针对GNA11或GANQ突变型黑色素瘤的进行用药治疗的研究显示，MEK抑制剂司美替尼对于GNA11或GANQ突变型肿瘤并无明显的效果，目前该实验正处于临床II期[PMID:24938562]。</p>