            <p class="idh2_p1">IDH2基因</p>
            <p class="idh2_p2">IDH2 编码另一种NADP+依赖型的异柠檬酸脱氢酶，不同于IDH1，它主要被发现于线粒体当中，突变型的IDH1/2蛋白催化异柠檬酸转成2-羟戊二酸而不是原来的α酮戊二酸，2-羟戊二酸可能对某些表现遗传调控蛋白起到抑制作用。</p>
            <p class="idh2_p2">IDH2突变在AML、脑胶质瘤、MDS等肿瘤增均有发生，是一种常见的原癌基因。其中脑胶质瘤中IDH2突变的发生频率为1.7%左右，而在AML中的突变概率也高达9.1%。在所有IDH2突变中，绝大部分发生在R140和R172残基上，均处于IDH1基因的底物结合区域或附近。</p>
            <p class="idh2_p2"> 目前市场上并没有针对IDH2突变的靶向药物。但有研究显示，新药AG-121用于IDH2突变阳性的恶性血液病患者显示出了良好的治疗效果，目前该药物正处于I期临床实验中（NCT01915498）。</p>