            <p class="jak1_p1">JAK1基因</p>
            <p class="jak1_p2">JAK1基因编码Janus激酶1（JAK1），是蛋白酪氨酸激酶JAK家族中的成员[PMID:25057888;PMID:9096349]。 JAK1与细胞因子受体形成复合物以启动细胞因子介导的信号传导，在细胞增殖、分化等方面起到作用[PMID:23406773]。目前在急性淋巴细胞白血病和其他血液系统恶性肿瘤中已经检测到JAK1中的几种活化突变，并且已经提出JAK/STAT抑制剂作为这些病例中的潜在疗法[PMID:23340138]。</p>
            <p class="jak1_p2">目前针对JAK1突变尚未有靶向药物获批，在一项临床前实验中发现，JAK S703I突变可以激活肝癌细胞在体内和体外的JAK-STAT信号传导通路，并且发现Ruxolitinib在携带JAK1 S703I突变的PDX模型中可以抑制JAK-STAT信号传导以及延迟肿瘤进展[PMID:26701727]。</p>
