			<p class="atm_p1">ATM基因</p>
            <p class="atm_p2">ATM基因是一种抑癌基因，其编码PI3/PI4-激酶家族成员中的蛋白质，该蛋白质作为细胞周期检查点激酶起作用并调节多个下游效应子，包括肿瘤抑制蛋白p53和BRCA1以及DNA修复蛋白NBS1等。ATM基因的突变与共济失调性毛细血管扩张综合征有关，可使淋巴、胃、乳腺，中枢神经系统等癌症的易感性增加20％至30％的风险。在体细胞中，ATM突​​变或缺失通常见于淋巴恶性肿瘤以及多种实体瘤，包括肺癌（10％），胰腺癌（12％）和膀胱癌（4％）等[PMID:27413114;PMID:27922010]。</p>
            <p class="atm_p2">不受调节的mTORC1活性可能通过促进细胞过度生长和细胞分裂而导致癌症。ATM通过AMPK调节mTORC1活性以响应升高的ROS水平。升高的ROS水平激活ATM，ATM通过细胞质中的LKB1/AMPK代谢途径激活TSC2肿瘤抑制因子以抑制mTORC1并诱导自噬[PMID:20160076;PMID:22079189]</p>
            <img class="atm_img" src="genepic/atm.png">
            <p class="atm_p3">AMPK途径[PMID:20160076]</p>
            <p class="atm_p2">研究表明，雷帕霉素（rapamycin）可抑制ATM缺陷细胞中ROS升高和mTORC1失调，有效避免了ATM缺陷小鼠中淋巴瘤的形成[PMID:20160076]。另有临床实验对DNA修复基因（包括BRCA1/2，ATM和CHEK2等）缺失、有害突变或两者兼而有之的16例前列腺癌患者进行鉴定，其中14名（88％）对奥拉帕尼有反应，包括所有7名BRCA2缺失患者（4名患有双等位体细胞损失，3名患者有种系突变），以及5位ATM突变型患者中的4位[PMID:26510020]。而在一组对具有突变型（n=8）和野生型（n=5）ATM的患者的原发性慢性淋巴细胞白血病（CLL）细胞的体外研究中发现，与野生型相比，拥有ATM突变的细胞对多柔比星治疗表现出更高的耐药性[PMID:23585524]。</p>   