			<p class="rb1_p1">RB1基因</p>
            <p class="rb1_p2">RB1基因是第一个被鉴定的抑癌基因，其编码的蛋白在细胞周期中起到负调控作用，在常规状态下，去磷酸化的RB1蛋白可与转录因子E2F相结合形成蛋白复合物，该复合物通过抑制S期促进因子的转录从而阻止细胞进入S期，在G1期末期，RB1蛋白因磷酸化失活，蛋白复合物分解，从而使得细胞顺利进入S期[PMID:1655277]。除了调控细胞周期，RB1基因同样在维护基因组的稳定性、细胞凋亡、分化和衰老等活动中起着重要的作用[PMID:22293180]。RB1突变失活与多种肿瘤的发生与发展相关，如肺癌，乳腺癌，前列腺癌、膀胱癌等[PMID:12204530]，同时RB1基因失活也是视网膜母细胞瘤的主要分子特征[PMID:22293180]，携带RB1基因失活突变可增加视网膜母细胞瘤的患病风险。</p>
            <p class="rb1_p2">目前并没有任何以RB1基因为分子标志的靶向药物被批准，在一项针对非小细胞肺癌的临床实验研究中[PMID:26802149]，作者调查了50位接受一线化疗治疗的患者，通过突变分析结果显示，相比野生型患者，RB1突变阳性的患者具有更高的缓解率（odds ratio 5.58 vs WT，p=0.038），同时RB1阳性突变患者具有更长的总生存期（OS，11.7 vs 9.1 month, p=0.04）和无进展生存期（PFS，11.2 vs 8.6 month，p=0.06）；在另一项针对乳腺癌的病例研究报告中，作者发现部分患者在接受CDK4/6抑制剂（Ribociclib, Palbociclib等）的用药治疗后，分别在5~13个月内被检测出获得性的RB1失活突变，这一结果提示RB1失活可能是肿瘤对CDK4/6抑制剂耐药的重要机制之一[PMID:29236940]，这一结果在某些体外实验中也得到证明，一项针对乳腺癌的体外实验研究显示[PMID:20473330]，RB1基因功能缺失的乳腺癌细胞系对药物palbociclib的治疗完全不敏感，在另一项针对胶质母细胞瘤的体外实验中，作者统计了21个肿瘤细胞系对palbociclib的用药反应，结果显示RB1功能缺失的细胞系对该药物存在明显的抗性[PMID:20354191]。</p>   
