			<p class="nras_p1">NRAS基因</p>
			<p class="nras_p2">NRAS基因同KRAS、HRAS基因一样隶属于RAS基因家族，其负责编码的RAS蛋白在多种细胞信号通路中起着信号转导作用，在细胞的生存与增值等活动中处于重要位置。多种肿瘤中均发现存在NRAS基因突变，包括黑色素瘤、结直肠癌、甲状腺癌等，是一种常见的原癌基因。</p>
			<p class="nras_p2">NRAS突变在NSCLC中发生频率较低，仅为1%左右[PMID:12460918;PMID:18948947]，且主要发生在Exon2或3的第12及61号密码子上，这一区域属于GTP结合结构域。</p>
			<img class="nrs_img" src="genepic/nrs.png">
			<p class="nras_p4">RAS信号转导通路[PMID:17318210]</p>
			<p class="nras_p2">虽然NRAS与KRAS同源，但并没有证据证明肺癌中发生NRAS突变可导致患者对EGFR-TKI耐药。目前在临床上也没有可用于NRAS阳性肺癌的靶向药物。不过有一项临床前模型研究中显示，NRAS突变阳性的肺癌细胞系对于MEK抑制剂(司美替尼和曲美替尼)表现敏感[PMID:23515407]。</p>
			<p class="nras_p2">NRAS在结直肠癌患者中的突变率相对较高，约为1~6%，主要发生位置为2~4号外显子[PMID:21305640]，同时NRAS也是结直肠癌中重要的分子标志之一。同KRAS基因一样，NRAS突变也可能导致结直肠癌患者对EGFR抗体类药物耐药[PMID:24024839]。目前NCCN以及EMEA(欧洲药品评估局)也将NRAS列为结直肠癌推荐检测的基因之一。</p>