			<table class="druged_table2">
				<tbody>
					<tr>
						<td class="druged_td6">Carfilzomib</td>
						<td class="druged_td7">卡非佐米</td>
						<td class="druged_td8">20S proteasome</td>	<!--pass_gene-->
						<td class="druged_td9">多发性骨髓瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>

						<td class="druged_td6">Cobimetinib</td>
						<td class="druged_td7">考比替尼</td>
						<td class="druged_td8">MEK/MAP2K1</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Lenvatinib</td>
						<td class="druged_td7">乐伐替尼</td>
						<td class="druged_td8">RTK/FLT1，KDR，FLT4，<br>FGFR1，FGFR2，FGFR3，<br>PDGFRB</td>	<!--pass_gene-->
						<td class="druged_td9">甲状腺癌、肾癌、肝癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ramucirumab</td>
						<td class="druged_td7">雷莫芦单抗</td>
						<td class="druged_td8">VEGFR2</td>	<!--pass_gene-->
						<td class="druged_td9">胃癌、胃肠道间质瘤、非小细胞肺癌、结直肠癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ruxolitinib</td>
						<td class="druged_td7">鲁索替尼</td>
						<td class="druged_td8">JAK1/2</td>	<!--pass_gene-->
						<td class="druged_td9">骨髓纤维化(属于骨髓增殖性肿瘤)</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Romidepsin</td>
						<td class="druged_td7">罗米地辛</td>	
						<td class="druged_td8">HDAC</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Omacetaxine <br>mepesuccinate</td>
						<td class="druged_td7">美琥他辛</td>
						<td class="druged_td8">Bcr-Abl</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Necitumumab</td>
						<td class="druged_td7">耐昔妥珠单抗</td>
						<td class="druged_td8">EGFR</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Nintedanib</td>
						<td class="druged_td7">尼达尼布</td>
						<td class="druged_td8">VEGFR，PDGFR，FGFR</td>	<!--pass_gene-->
						<td class="druged_td9">非小细胞肺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Panobinostat</td>
						<td class="druged_td7">帕比司他</td>
						<td class="druged_td8">HDAC</td>	<!--pass_gene-->
						<td class="druged_td9">多发性骨髓瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Panitumumab</td>
						<td class="druged_td7">帕尼单抗</td>
						<td class="druged_td8">EGFR</td>	<!--pass_gene-->
						<td class="druged_td9">结直肠癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Pertuzumab</td>
						<td class="druged_td7">帕妥珠单抗</td>
						<td class="druged_td8">HER2</td>	<!--pass_gene-->
						<td class="druged_td9">乳腺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Pazopanib</td>
						<td class="druged_td7">帕唑帕尼</td>
						<td class="druged_td8">VEGFR-1，VEGFR-2，VEGFR-3，PDGFR，FGFR，c-KIT <br>and other kinases</td>	<!--pass_gene-->
						<td class="druged_td9">肾癌、软组织肉瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ponatinib</td>
						<td class="druged_td7">普纳替尼</td>
						<td class="druged_td8">Bcr-Abl</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Trametinib</td>
						<td class="druged_td7">曲美替尼</td>
						<td class="druged_td8">MEK1/2、BRAF V600E</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤、甲状腺癌、非小细胞肺癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Regorafenib</td>
						<td class="druged_td7">瑞戈非尼</td>
						<td class="druged_td8">多激酶抑制剂 / KDR，FLT4，RET，KIT，PDGFRB，BRAF</td>	<!--pass_gene-->
						<td class="druged_td9">结直肠癌、胃肠道间质瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Siltuximab</td>
						<td class="druged_td7">司妥昔单抗</td>
						<td class="druged_td8">IL6</td>	<!--pass_gene-->
						<td class="druged_td9">多巨淋巴结增生症</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Sonidegib</td>
						<td class="druged_td7">索尼得吉</td>
						<td class="druged_td8">SMO</td>	<!--pass_gene-->
						<td class="druged_td9">基底细胞瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Temsirolimus</td>
						<td class="druged_td7">坦西莫司</td>
						<td class="druged_td8">mTOR</td>	<!--pass_gene-->
						<td class="druged_td9">肾癌</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ibritumomab</td>
						<td class="druged_td7">替伊莫单抗</td>
						<td class="druged_td8">CD20(MS4A1)</td>	<!--pass_gene-->
						<td class="druged_td9">非霍奇金淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Tositumomab</td>
						<td class="druged_td7">托西莫单抗</td>
						<td class="druged_td8">CD20(MS4A1)</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Vemurafenib</td>
						<td class="druged_td7">威罗非尼</td>
						<td class="druged_td8">BRAF V600E</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤、Erdheim-Chester Disease</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Vismodegib</td>
						<td class="druged_td7">维莫德吉</td>
						<td class="druged_td8">PTCH1，SMO</td>	<!--pass_gene-->
						<td class="druged_td9">基底细胞瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ipilimumab</td>
						<td class="druged_td7">伊匹单抗</td>
						<td class="druged_td8">CTLA-4</td>	<!--pass_gene-->
						<td class="druged_td9">黑色素瘤</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Inotuzumab <br>ozogamicin</td>
						<td class="druged_td7">伊珠单抗/<br>奥佐米星</td>
						<td class="druged_td8">CD22</td>	<!--pass_gene-->
						<td class="druged_td9">白血病</td>
						<td class="druged_td10">FDA</td>
					</tr>
					<tr>
						<td class="druged_td6">Ibrutinib</td>
						<td class="druged_td7">依鲁替尼</td>
						<td class="druged_td8">BTK</td>	<!--pass_gene-->
						<td class="druged_td9">淋巴瘤、白血病、原发性巨球蛋白血症</td>
						<td class="druged_td10">FDA</td>
					</tr>

            	</tbody>
            </table>