           <div class="pg14_div1">附录3 检测基因列表</div>
            <table style="margin-top:16px;">
                <tr>
                    <td class="pg14_td1">检测范围：</td> <!--pass_gene-->
                    <td class="pg14_td2">本次项目共涉及448个实体瘤靶向用药或预后相关基因的全外显子和部分内含子的突变检测，主要包括以下内容:</td> <!--pass_gene-->
                </tr>
            </table>
            <p style="text-indent:4em;font-size:23.5px;margin-top:30px;">1) 448个基因的7007个外显子区域的测序;</p>
            <p style="text-indent:4em;font-size:23.5px;">2) 26个融合基因的59个内含子测序;</p>
            <p style="text-indent:4em;font-size:23.5px;">3) 2个基因的UTR区域以及1个基因的启动子区域测序;</p>
            <p style="text-indent:4em;font-size:23.5px;">4) 检测突变类型包括点突变，插入缺失突变，融合突变，拷贝数变异;</p>
            <p style="text-indent:4em;font-size:23.5px;margin-top:50px;">用于检测点突变与插入缺失突变的基因列表</p>

            <table class="pg14_table1">
                <tbody> 
                    <tr> 
                        <td class="pg14_table1_tr1"><i>ABCB1</i></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>ABL1</i></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>ABL2</i></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>ACVR1B</i></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>AKT1</i></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>AKT2</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>AKT3</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>ALOX12B</i></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>AMER1</i></td> <!--pass_gene-->
                        <td class="pg14_table1_tr1"><i>APC</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>AR</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ARAF</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ARFRP1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ARID1A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ARID1B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ARID2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ARID5B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ASXL1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ATM</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ATR</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>ATRX</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>AURKA</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>AURKB</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>AXIN1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>AXIN2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>AXL</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>B2M</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BAP1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BARD1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BCL2</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>BCL2L1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BCL2L11</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BCL2L2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BCL6</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BCOR</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BCORL1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BIRC3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BLM</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BMPR1A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BRCA1</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>BRCA2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BRD3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BRIP1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BTG1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>BTK</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>C11orf30</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CALR</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CARD11</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CASP8</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CBFB</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>CBL</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CCND1</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CCND2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CCND3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CCNE1</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CD274</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CD79A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CD79B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CD80</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CD86</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>CDC73</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDH1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDK12</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDK4</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDK6</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDK8</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDKN1A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDKN1B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDKN2A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CDKN2B</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>CDKN2C</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CEBPA</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CHD2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CHD4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CHEK1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CHEK2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CIC</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CREBBP</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CRKL</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CRLF2</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>CSF1R</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CSF3R</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CTCF</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CTLA4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CTNNA1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CTNNB1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CUL3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CYLD</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>CYP2D6</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DAXX</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>DCUN1D1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DDR1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DDR2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DICER1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DIS3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DNMT1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DNMT3A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>DOT1L</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EGFR</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EIF4A2</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>EP300</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EPCAM</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EPHA3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EPHA5</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EPHA6</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EPHA7</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EPHB1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ERBB2</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ERBB3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ERBB4</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>ERCC1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ERCC2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ERCC3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ERRFI1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ESR1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ETV1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ETV4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>EZH2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FAM175A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FAM46C</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>FANCA</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FANCC</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FANCD2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FANCE</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FANCF</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FANCG</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FANCI</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FANCL</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FAS</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FAT1</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>FBXW7</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FCGR2B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF10</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF14</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF19</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF23</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF3</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF6</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FGF7</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>FGFR4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FH</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FLCN</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FLT1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FLT3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FLT4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FOXA1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FOXL2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FOXP1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FRS2</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>FUBP1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>FYN</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GABRA6</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GATA1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GATA2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GATA3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GATA4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GATA6</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GLI1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GNA11</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>GNA13</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GNAQ</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GNAS</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GREM1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GRIN2A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GRM3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GSK3B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>GSTP1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>H3F3A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>H3F3C</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>HAVCR2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HGF</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HIST1H1C</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HIST1H2BD</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HIST1H3B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HLA</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HNF1A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HRAS</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HSD3B1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>HSP90AA1</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>ICOS</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>ICOSLG</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IDH1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IDH2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IGF1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IGF1R</i> <sup>#</sup></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IGF2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IKBKE</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IKZF1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IL7R</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>INHBA</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>INPP4A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>INPP4B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>INSR</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IP6K1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IRF2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IRF4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>IRS2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>JAK1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>JAK3</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>JUN</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KDM5A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KDM5C</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KDM6A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KDR</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KEAP1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KEL</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KIT</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KLF4</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KLHL6</i></td> <!--pass_gene-->
                    </tr>                 
                    <tr> 
                        <td class="pg14_table_tr2"><i>KMT2A</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KMT2B</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KMT2C</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KMT2D</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>KRAS</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>LAG3</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>LATS1</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>LATS2</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>LCK</i></td> <!--pass_gene-->
                        <td class="pg14_table_tr2"><i>LMO1</i></td> <!--pass_gene-->
                    </tr>                                               
                </tbody>
            </table>
