            <p class="birc3_p1">BIRC3基因</p>
            <p class="birc3_p2">BIRC3基因编码细胞凋亡抑制蛋白，该蛋白可以通过结合肿瘤坏死因子受体联合因子TRAF1和TRAF2达到抑制细胞凋亡的作用，同时它也可以通过其C端的泛素连接酶活性在NF-κB通路中起负调节作用。</p>
            <p class="birc3_p2">BIRC3突变主要在CLL和淋巴瘤中报道的相对比较多。尽管其在CLL中的发生概率不到5%，但在氟达拉滨难治型的CLL中，BIRC3突变高达24%。所有突变中以基因缺失或者无义突变最为常见，这类突变可能导致蛋白缺失C端的环状结构域，从而失去对B淋巴细胞中NF-κB通路的负调节作用。BIRC3突变型CLL可能预示着较差的预后[PMID:22308293]；另外在在临床前研究中显示，BIRC3突变可能导致CLL对BTK抑制剂依鲁替尼耐药[PMID:24362935]。</p>