            <p class="ctnnb1_p1">CTNNB1基因</p>
            <p class="ctnnb1_p2">该基因编码ß-catenin蛋白 ，该蛋白参与组成的蛋白复合物在维持表皮细胞形态上面起着重要作用。ß-catenin隶属Wnt信号通路，无wnt信号时，ß-catenin被GSK3ß被泛素化蛋白复合酶降解，而当wnt信号和膜受体结合后，ß-catenin的泛素化受到抑制，导致ß-catenin与TCF/LEF形成复合物，最终达到抗细胞凋亡的作用。CTNNB1突变在多种肿瘤中均有报道。</p>
            <p class="ctnnb1_p2">CTNNB1突变在转移性黑色素瘤上的发生概率为2-4%，主要发生在蛋白的S37和S45残基上，这些位点可能正好是GSK3ß磷酸化作用区域。</p>
            <img class="ctnnb1_img" src="genepic/ctnnb1.png">
            <p class="ctnnb1_p2">目前针对CTNNB1基因暂无相关靶向药物。</p>