			<p class="pik3ca_p1">PIK3CA基因</p>
			<p class="pik3ca_p2">PIK3CA基因编码I类磷脂酰肌醇-3-激酶的p110催化亚单位，属于脂类激酶家族成员。它参与细胞内的多种信号通路，在细胞生长、增值、分化等生物进程中扮演重要角色。PIK3CA突变在多种肿瘤中都有发生，包括乳腺癌、胃癌、结直肠癌、肺癌等，是一种常见的原癌基因。</p>
			<p class="pik3ca_p2">PIK3CA突变在NSCLC中的发生频率约为1~3%[PMID:15016963]，其中大部分发生在编码螺旋结构域的第10号外显子以及编码蛋白激酶结构域的第20号外显子上。值得注意的是，在接受EGFR-TKI用药后产生获得性抗性的NSCLC病例中，有约5%的比例检测到PIK3CA突变，这说明PIK3CA可能是肿瘤对EGFR-TKI产生次生抗性的重要机制之一[PMID:21430269]。而且在一项临床前研究中，研究者将PIK3CA的激活性突变转导入EGFR阳性的肺癌细胞系后，该细胞系对EGFR-TKI产生了明显的耐药性[PMID:16906227]。不过目前关于PIK3CA突变与EGFR-TKI耐药的关系还未达成共识，还需要更多的临床实验数据提供支撑。</p>
			<img class="pik_img" src="genepic/pik.png">
			<p class="pik3ca_p4">肺癌中几种EGFR-TKI可能的获得性耐药机制[PMID:21430269]</p>
			<p class="pik3ca_p2">有多种针对PIK3CA突变的抑制剂药物正在研发当中，在一项临床前实验研究中，携带PIK3CA突变的肺癌细胞系对PIK3CA/mTOR双抑制剂PI-103表现敏感[PMID:19513541];而在另一项动物实验模型中，PI3K/mTOR双抑制剂NVP-BEZ235也展现了对于PIK3CA阳性肿瘤的良好的抑制作用[PMID:19029981]。可惜目前并没有哪一种药物有足够的临床实验研究数据来证明其有效性。</p>