            <div class="pg13_div1">附录2 肿瘤突变负荷(TMB)检测意义</div>
            <div class="pg13_div2">
                <table>
                    <tr>
                        <td class="pg13_td1"></td>
                        <td class="pg13_td2"></td>
                    </tr>
                </table>
                <div class="pg13_div4">
                    <p>肿瘤突变负荷(Tumor mutation burden，TMB)通常定义为每个癌症病人基因组中每百万碱基(Mb)的非同义突变或所有体细胞突变数目。TMB是对基因组不稳定性的一种衡量，它的高低受到多种外源或内源因素的影响，外源因素主要包括吸烟、暴露于紫外线照射等等<sup>[1,2]</sup>，而内源因素则主要是获得性的DNA修复机制的损伤，如BRCA1/2、MLH1,MSH2,MSH6等基因发生突变<sup>[3]</sup>。</p>
                    <p>高水平的TMB现象在多种肿瘤中均有报道，例如在非小细胞肺癌中，高TMB水平的比例约占10%，其中在腺癌和鳞癌中的比例相近<sup>[4]</sup>，且多数TMB较高的肺癌患者携带EGFR，MET，ALK或ROS1等驱动基因突变的概率较小，而高TMB水平也被认为与肿瘤患者的预后有明显的相关性，基于中国患者人群研究认为，相比于低TMB水平患者，高TMB的肺腺癌患者预示着具有更短的总生存期(48.4 vs 61.0 months)<sup>[5]</sup>。</p>
                    <p>TMB水平的升高意味着新的突变的增多，并产生更多新的肿瘤特异性抗源，这是激活肿瘤特异性T细胞反应的重要因素，而已有的多数临床研究也显示，TMB水平较高的实体瘤患者可能对于免疫治疗药物，包括PD-L1或PD-1抑制剂的治疗表现敏感<sup>[6,7]</sup>。目前这类药物获得FDA批准的有伊匹单抗(ipilimumab)，派姆单抗(pembrolizumab)，atezolizumab和nivolumab等。在一项针对非小细胞肺癌的研究中<sup>[8]</sup>，研究者对两组接受过派姆单抗治疗的非小细胞肺癌患者进行全外显子测序并进行肿瘤突变负荷分析，结果显示相比于低TMB水平的患者，高TMB水平的患者具有更高的客观缓解率(ORR 63% vs 0%，p=0.03)以及更长的无病进展生存期(14.5 vs 3.7 months，p=0.01)。</p>
                    <img style="width:650px;margin-left:80px;margin-top:50px;" src="genepic/TMB1.png">
                    <p style="font-size:18px;text-align:center;margin-bottom:50px;">Pembrolizumab对不同TMB水平患者的治疗效果存在差异<sup>[8]</sup></p>
                    <p>在另外一项针对膀胱癌的的临床II实验中[9]，研究者认为突变负荷可以作为患者对Atezolizumab治疗是否敏感的独立预测因素，在Atezolizumab响应组的患者中，其平均的TMB水平高达12.4Muts/Mb，这一数值显著高于非响应组的6.4/Mb (p&lt;0.0001)。</p>
                </div>
            </div>