			<p class="men1_p1">MEN1基因</p>
            <p class="men1_p2">MEN1基因预计为抑癌基因，编码Menin（多发性内泌癌蛋白）蛋白，I型多发性内分泌瘤相关。体外实验显示该蛋白定位于细胞核中，含有两个核定位信号区域。该蛋白目前的功能暂不清楚。</p>
            <p class="men1_p2">MEN1突变在神经内分泌瘤、散发性甲状旁腺癌、胰岛瘤等肿瘤中有被报道，MEN1突变在I型多发性内分泌瘤中的发生概率约10%，因此在NCCN指南中也建议对多发性内分泌瘤进行基因突变以辅助疾病分型及诊断。</p> 