			<p class="brca2_p1">BRCA2基因</p>
            <p class="brca2_p2">BRCA2基因同BRCA1基因一样属抑癌基因，且在体内主要负责DNA损伤修复。不同的是，BRCA1在DNA损伤修复活动中参与多个反应过程，包括DDR（DNA损伤应答）、细胞周期检测点活化以及DNA同源重组等，而BRCA2主要参与DNA的同源重组修复进程。BRCA2蛋白有两个重要的区域，DNA结合区域以及8个BRC重复区域，DNA结合区域负责蛋白与DNA损伤部位的结合，而BCR重复区域则负责重组酶RAD51的招募，这两个区域发生突变均可能导致BRCA2的 DNA修复功能丧失。</p>
            <img class="brca2_img" src="genepic/brca2.png">
            <p class="brca2_p3">BRCA1蛋白结构[PMID:22193408]</p>
            <p class="brca2_p2">BRCA1/2的胚系突变将使人一生中患有乳腺癌的概率增加至50%~60%，而患有卵巢癌的概率增加至30%，另外其它癌症如前列腺癌、胰腺癌也会升高[PMID:22193408]。</p>
            <p class="brca2_p2">靶向药物奥拉帕尼(Olaparib)已被FDA批准用于携带BRCA1/2有害突变的晚期卵巢癌患者的用药治疗，而其针对BRCA1/2胚系突变阳性乳腺癌的临床实验（NCT02032823）也展示出了良好的效果[PMID:28792849]。另外一些PARP抑制剂如Rucaparib，Niraparib或Talazoparib等也在一些临床实验中被证明对于携带有害的BRCA1/2突变的卵巢癌或乳腺癌患者具有良好的治疗效果[PMID:27908594;PMID:28242752;PMID:28299955]。 