            <p class="idh1_p1">IDH1基因</p>
            <p class="idh1_p2">IDH1全称为正可溶性异柠檬酸脱氢酶1(isocitrate dehydrogenase1,IDH1)，主要参与三羧酸循环，编码蛋白催化异柠檬酸氧化脱羧为α酮戊二酸,同时使烟酰胺腺嘌呤二核苷酸磷酸(NADP+)形成为还原型烟酰胺腺嘌呤二核苷酸磷酸(NADPH),因此在细胞氧化损伤反应中发挥着重要的调控作用。</p>
            <p class="idh1_p2">IDH1突变频繁地发生在AML、脑胶质瘤、MDS等肿瘤中，是一种常见的原癌基因。其中脑胶质瘤中IDH1突变的发生频率为32%左右，主要跟低等级的弥散性脑胶质瘤和次生性的脑胶质瘤有关。而在AML中，IDH1的突变频率也有将近6.4%的比例。在所有IDH1突变中，绝大部分发生在R132残基上，在脑胶质瘤中R132H突变甚至占了IDH1突变的将近90%。该残基正好处于IDH1基因的底物结合区域。</p>
            <img class="idh1_img" src="genepic/idh1.png">
            <p class="idh1_p2">目前市场上并没有针对IDH1突变的靶向药物。但有研究显示，新药AG-120用于IDH1突变阳性的AML或MDS患者显示出了良好的治疗效果，目前该药物正处于I期临（NCT02073994）。</p>