			<p class="stk11_p1">STK11基因</p>
            <p class="stk11_p2">STK11基因编码丝氨酸/苏氨酸蛋白激酶11，隶属STK11-AMPK信号通路，该通路负责调节细胞的新陈代谢、能量平衡以及针对某些不良事件的应激反应，如DNA损伤，营养丢失等[PMID:21396365]；在细胞内，STK11激活可抑制下游mTOR的活性[PMID:20160076]，属于明确的抑癌基因。</p>
            <p class="stk11_p2">STK11的失活突变在多种肿瘤中均有报道，包括肺癌，黑色素瘤，肝癌，胰腺癌等[PMID:25244018]；有研究显示STK11失活突变在非小细胞肺癌中有将近30%的发生概率，而在胰腺导管癌中也有将近20%的发生比例[PMID:20452353;PMID:19165201]；遗传性的STK11失活突变可导致黑斑息肉综合征（Peutz-Jeghers syndrome），该综合征患者有很大风险患上其它多种恶性肿瘤[PMID:21396365]。</p>            
            <p class="stk11_p2">目前针对STK11突变并没有相应的靶向药物获批或上市；在一项的病例研究报道中，一位同时患有黑斑息肉综合征（Peutz-Jeghers syndrome）和胰腺癌的患者被检出含有STK11的失活突变，在经过mTOR抑制剂依维莫司(everolimus)的治疗后病情得到部分缓解[PMID:27615706]，同样在另一项针对垂体癌的病例研究报告中，一位携带STK11基因失活突变的患者在经过放疗和依维莫司(everolimus)的联合治疗后获得良好的效果[PMID:27615706]。</p> 