            <p class="kdm6a_p1">KDM6A基因</p>
            <p class="kdm6a_p2">KDM6A，编码赖氨酸（K）特异性脱甲基酶6A，是一种Jumonji结构域组蛋白去甲基化酶，该基因通过染色质重塑调节基因转录以影响细胞生长和分化，为抑癌基因。KDM6A中的胚系突变和点突变可导致Kabuki综合征，其特征在于典型的面部特征，骨骼异常，皮纹异常，轻度至中度智力残疾和出生后身材矮小（PMID:22197486,22840376,22901312,23076834）。目前在多种人类恶性肿瘤中发现KDM6A失活突变，包括多发性骨髓瘤和食道鳞状细胞癌（PMID:19330029）、透明细胞肾细胞癌（PMID:21248752）、成神经管细胞瘤（PMID:22722829,22832583）、腺样囊性癌（PMID:23685749）和尿路上皮膀胱癌（PMID:24476821,21822268,25092538,25225064）等，最常见于膀胱癌。</p>
            <p class="kdm6a_p2">目前针对KDM6A突变尚未有靶向药物获批。在一项针对尿路上皮膀胱癌的临床前研究中（PMID:28228601），携带KDM6A失活突变的细胞系对Tazemetostat、GSK126、GSK343和GSK503表现敏感。另一项临床前研究显示（PMID:29045832），携带KDM6A失活突变的多发性骨髓瘤细胞系对GSK343和GSK126敏感性增加。</p>
