			<p class="cdkn2a_p1">CDKN2A基因</p>
            <p class="cdkn2a_p2">CDKN2A基因可编码包括p16(Ink4a) 和p14(ARF)在内的多种剪切异构体，p16蛋白可抑制CDK4/6蛋白与细胞周期蛋白的结合，并通过激活RB蛋白家族阻止细胞从G1期进入S期[PMID:15878778;PMID:22025288]；p14蛋白则可以抑制MDM2介导的p53蛋白降解过程，从而促进p53蛋白介导的细胞调亡等进程[PMID:9529249]，在动物模型实验中，CDKN2A失活可导致肿瘤的发生[PMID:8620534]，由此可见CDKN2A在细胞周期调控中起着关键作用，属于明确的抑癌基因。</p>
            <p class="cdkn2a_p2">CDKN2A基因在多种肿瘤中均有报道，包括胰腺癌，肺癌，黑色素瘤等[PMID:27428416]，一项的临床II期实验中，研究者对多达76例NSCLC患者进行调查统计后认为，p16蛋白表达可能预示着相对较差的预后[PMID:22619677]，而在其它肿瘤如头颈癌，口腔癌中则相反，p16蛋白表达可能和更好的预后相关[PMID:22619677]，而在其它肿瘤如头颈癌，口腔癌中则相反，p16蛋白表达可能和更好的预后相关[PMID:25267748;PMID:20530316]。</p>            
            <p class="cdkn2a_p2">目前针对CDKN2A突变并没有相关的靶向药物获批上市。在一项乳腺癌的病例研究报道中，研究者发现一位ER阳性HER2阴性且CDKN2A基因失活的患者在经过小分子抑制剂Palbociclib联合letrozole的治疗后其病情得到了短暂的缓解（约3个月）[PMID:26715889]，而在多项体外实验研究中，Palbociclib表现出对于携带p16失活的多种肿瘤细胞系具有良好的抑制效果[PMID:23898052;PMID:24495407;PMID:22711607]。在另外一项体外实验研究中，研究者对9例黑色素瘤细胞系采用flavopiridol进行用药后发现，相比于CDKN2A突变阴性的肿瘤，CDKN2A突变失活的肿瘤细胞系对于flavopiridol用药表现的更加敏感。</p> 