            <p class="stag2_p1">STAG2基因</p>
            <p class="stag2_p2">STAG2编码cohesin亚基SA-2，其是cohesin复合物的组分。STAG2在减数分裂和有丝分裂的姐妹染色单体结合中起重要作用（PMID: 12034751; PMID: 24854081; PMID: 29175904）。目前，已经在胶质母细胞瘤，尤因氏肉瘤，膀胱癌和黑色素瘤等多种癌种中发现STAG2的突变。目前针对STAG2突变暂没有明确的靶向药物被批准。在一项体外试验中（PMID: 24356817），与STAG2野生型细胞系相比，Olaparib、Veliparib和Rucaparib对携带STAG2缺失突变的胶质母细胞瘤细胞系表现出一定的抑制作用，表明该突变可能对PARP抑制剂敏感。</p>
