            <p class="fgfr2_p1">FGFR2基因</p>
            <p class="fgfr2_p2">FGFR2（II型成纤维细胞生长因子受体）隶属FGFR酪氨酸激酶家族，该家族成员还包括FGFR2/FGFR3/FGFR4。FGFR蛋白的胞外段可与成纤维细胞生长因子结合，并启动下游的信号通路，最终影响细胞的分裂与分化。</p>
            <p class="fgfr2_p2">  FGFR2扩增或突变在乳腺癌、胃癌、子宫内膜癌等肿瘤中有被报道。FGFR2扩增在乳腺癌中的发生频率约为2%，其中在三阴性乳腺癌中发生较多[PMID:22731805]。</p>
            <img class="fgfr2_img" src="genepic/fgfr2.png">
            <p class="fgfr2_p2">体外研究显示，FGFR2扩增阳性乳腺癌细胞系对FGFR抑制剂敏感[PMID:22731805]。</p>