            <p class="gna11_p1">GNA11基因</p>
            <p class="gna11_p2">G蛋白（鸟苷酸结合蛋白）属于异源三聚体蛋白家族，主要负责跨膜蛋白受体与胞内信号通路的结合，如神经递质、生长因子、激素信号通路等。G蛋白于三种不同的蛋白亚基组成：Gα, Gß, 和Gγ，每种亚基均存在很多种类，GNA11基因即编码其中的Gα亚基的一种（Gα11）。当膜受体接收信号后，Gα亚基因受到磷酸化作用而脱离G蛋白，从而激活下游信号途径，而当Gα本身的GTP酶作用而去磷酸化时，下游的激活信号即被终止。因此当Gα本身的GTP酶活性因突变而失活时，G蛋白将持续激活下游的信号通路。</p>
            <img class="gna11_img" src="genepic/gna11.png">
            <p class="gna11_p2">GNA11突变在葡萄膜黑色素瘤中的发生概率为34%~63%，绝大部分发生在蛋白的第183及209号氨基酸残基上，这些位置正好处于蛋白的GTP酶结构域。一项针对GNA11或GANQ突变型黑色素瘤的进行用药治疗的研究显示，MEK抑制剂司美替尼对于GNA11或GANQ突变肿瘤并无明显的效果，目前该实验正处于临床II期[PMID:24938562]。</p>