			<p class="tsc1_p1">TSC1基因</p>
            <p class="tsc1_p2">TSC1是一种肿瘤抑制基因，其编码错构瘤蛋白，并与TSC2编码的薯球蛋白相互作用。TSC1基因可以通过参与mTOR通路而对细胞增殖等生物进程产生影响。TSC1突变与结节性脑硬化相关。</p>
            <img class="tsc1_img" src="genepic/tsc1.png">
            <p class="tsc1_p3">TSC1参与mTOR信号通路</p>
            <p class="tsc1_p2">TSC1突变在膀胱癌中的发生概率达到7%~12%。在一项份病例报道中，TSC1突变型的膀胱癌对于mTOR抑制剂依维莫司用药敏感，但这一结论并未得到临床实验的证明[PMID:22923433]。</p>      