            <!--数据质控结果-->
            <div class="control_div1">数据质控结果</div>
            <table class="tissue_table1">
                <tbody>
                    <tr>
                        <td class="tissue_td1">replace</td>  <!--sample_id-->
                        <td class="tissue_td2">质控内容</td>
                        <td class="tissue_td3">质控结果</td>
                        <td class="tissue_td4">是否合格</td>
                    </tr>
                </tbody>
            </table>
            <table class="tissue_table2">
                <tbody>
                    <tr>
                        <td rowspan="3" class="tissue_td5">样品质控</td>
                        <td class="tissue_td8" style="height:47px;">肿瘤细胞含量</td>  
                        <td class="tissue_td9">replace1</td><td class="tissue_td10">replace2</td>	<!--tumor_num-->
                    </tr>

                    <tr>
                        <td class="tissue_td8" style="height:47px;">样品DNA浓度</td>  
                        <td class="tissue_td9">&ge;1ng/uL</td>
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td class="tissue_td8" style="height:47px;">样品DNA片段分布</td>  
                        <td class="tissue_td9">主峰&gt;500bp</td>
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="tissue_td6">文库质控</td>
                        <td class="tissue_td8" style="height:48px;">文库DNA浓度</td>  
                        <td class="tissue_td9">&ge;30ng/uL</td>
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td class="tissue_td8" style="height:48px;">文库DNA片段分布</td>  
                        <td class="tissue_td9">360-600bp</td>
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="tissue_td7">数据质控</td>
                        <td class="tissue_td8" style="height:45px;">Q20</td>  
                        <td class="tissue_td9">replace</td> <!--Q20_data-->
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td class="tissue_td8" style="height:45px;">比对率</td>  
                        <td class="tissue_td9">replace</td> <!--bidui_data-->
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td class="tissue_td8" style="height:45px;">覆盖度</td>  
                        <td class="tissue_td9">replace</td> <!--fugai_data-->
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td class="tissue_td8" style="height:45px;">均一性</td>  
                        <td class="tissue_td9">replace</td> <!--junyi_data-->
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                    <tr>
                        <td class="tissue_td8" style="height:45px;">平均深度</td>  
                        <td class="tissue_td9">replace</td> <!--shendu_data-->
                        <td class="tissue_td10">&#10003</td>
                    </tr>
                </tbody>
            </table>


            <div class="tissue_div1">
                <p style="padding-top:50px;">注：仅当送检的样品中含有石蜡玻片时才能进行病理质控</p>
                <p>Q20: &emsp;&emsp;&emsp;测序的准确率高于99%的碱基的比例</p>
                <p>比对率:&emsp; &emsp;可以比对至参考序列上的reads的比例</p>
                <p>覆盖度:&emsp;&emsp; 检测到的区域占目标区域的比例</p>
                <p>均一性:&emsp; &emsp;各目标区域的测序深度超过平均深度20%的比例</p>
                <p>平均深度: &emsp;目标区域每个碱基被覆盖到的次数的平均值</p>
            </div>
