			<div class="wenxian_div1">参考文献</div>
            <div class="wenxian_div2">
            	1. Pfeifer GP, You YH, Besaratinia A (2005) Mutations induced by ultraviolet light. Mutat Res 571: 19-31.<br>
				2. Pfeifer GP, Denissenko MF, Olivier M, Tretyakova N, Hecht SS, et al. (2002) Tobacco smoke carcinogens, DNA damage and p53 mutations in smoking-associated cancers. Oncogene 21: 7435-7451..<br>
				3. (2012) Comprehensive molecular characterization of human colon and rectal cancer. Nature 487: 330-337..<br>
				4. Chalmers ZR, Connelly CF, Fabrizio D, Gay L, Ali SM, et al. (2017) Analysis of 100,000 human cancer genomes reveals the landscape of tumor mutational burden. Genome Med 9: 34..<br>
				5. Xiao D, Pan H, Li F, Wu K, Zhang X, et al. (2016) Analysis of ultra-deep targeted sequencing reveals mutation burden is associated with gender and clinical outcome in lung adenocarcinoma. Oncotarget 7: 22857-22864..<br>
				6. Rizvi NA, Hellmann MD, Snyder A, Kvistborg P, Makarov V, et al. (2015) Cancer immunology. Mutational landscape determines sensitivity to PD-1 blockade in non-small cell lung cancer. Science 348: 124-128..<br>
				7. Le DT, Uram JN, Wang H, Bartlett BR, Kemberling H, et al. (2015) PD-1 Blockade in Tumors with Mismatch-Repair Deficiency. N Engl J Med 372: 2509-2520..<br>
				8. Rizvi NA, Hellmann MD, Snyder A, Kvistborg P, Makarov V, et al. (2015) Mutational landscape determines sensitivity to PD-1 blockade in non–small cell lung cancer. Science 348: 124-128..<br>
				9. Chang SS (2016) Re: Atezolizumab in Patients with Locally Advanced and Metastatic Urothelial Carcinoma Who Have Progressed following Treatment with Platinum-Based Chemotherapy: A Single-Arm, Multicentre, Phase 2 Trial. J Urol 196: 1637-1638..<br>
            </div>
