			<!--10_var_detect_drug-->
			<div class="pg5_div4">	<!--VAR_START-->
				<table style="margin:28px 15px;">
					<tr>
						<td class="pg5_td1">基因变异</td>
						<td style="width:25px;"></td>
						<td class="pg5_td2">replace</td>	<!--gene_var-->
					</tr>
					<tr>
						<td class="pg5_td3">变异介绍</td>
						<td style="width:25px;"></td>
						<td class="pg5_td4">replace</td>	<!--var_description-->
					</tr>
					<tr>
						<td class="pg5_td5">治疗策略</td>
						<td style="width:25px;"></td>
						<td class="pg5_td6">replace</td>	<!--treat_strategy-->
					</tr>
					<tr>
						<td class="pg5_td7">获益药物</td>
						<td style="width:25px;"></td>
						<td class="pg5_td8">
							<table>
								<tbody>
									<tr>
										<td class="pg5_td8td1">药物名称</td>
										<td style="width:1px;"></td>
										<td class="pg5_td8td2">CFDA/FDA批准于本癌种</td>
										<td style="width:1px;"></td>
										<td class="pg5_td8td3">CFDA/FDA批准于其他癌种</td>
									</tr>
									<tr><td class="pg5_td8td4">drug_replace</td>	<td style="width:1px;"></td><td class="pg5_td8td5">this_replace</td><td style="width:1px;"></td><td class="pg5_td8td6">other_replace</td></tr>		<!--drug_cancer-->
								</tbody>
							</table>
						</td>
					</tr>
				</table>
			</div>	<!--VAR_END-->