            <table style="font-size:20px;line-height:1.4;text-align:center;margin-top:80px;">
                <tbody>
                    <tr> 
                        <td style="width:9%;height:80px;background-color:#466C56;color:white;">基因</td> 
                        <td style="width:1px;"></td>
                        <td style="width:35%;height:60px;background-color:#466C56;color:white;">临床试验名称</td> 
                        <td style="width:1px;"></td>
                        <td style="width:30%;height:60px;background-color:#466C56;color:white;">相关药物</td>
                        <td style="width:1px;"></td>
                        <td style="width:10%;height:60px;background-color:#466C56;color:white;">阶段</td>
                        <td style="width:1px;"></td>
                        <td style="width:16%;height:60px;background-color:#466C56;color:white;">NCI编号</td>
                    </tr>                 
                    <tr>
                        <td style="heigth:2px;"></td>
                    </tr>
                </tbody>
            </table>