            <table style="width:1030px;margin-top:6px;font-size:20px;line-height:1.4;text-align:center;border:2px solid #5EB129;">
                <tbody>
                    <tr>
                        <td style="width:9%;height:50px;">replace</td>  <!--clinical_info_gene-->
                        <td style="width:1px;"></td>
                        <td style="text-align:left;width:35%;height:50px;padding-top:20px;padding-bottom: 20px;word-break:break-all;"><div style="width:95%;margin-left:20px;margin-right:20px;">replace</div></td>  <!--clinical_info_name-->
                        <td style="width:1px;"></td>
                        <td style="text-align:left;font-size:20px;width:30%;height:50px;padding-bottom:30px;word-break:break-all;"><div style="width:290px;margin-left:30px;">replace</div></td>   <!--clinical_info_drug-->
                        <td style="width:1px;"></td>
                        <td style="width:10%;height:50px;font-size:20px;height:auto!important;">replace</td>   <!--clinical_info_step-->
                        <td style="width:1px;"></td>
                        <td style="width:16%;height:50px;font-size:20px;height:auto!important;">replace</td>  <!--clinical_info_NCI-->
                    </tr>
                </tbody>
            </table>