            <table style="width:1030px;margin-top:6px;font-size:20px;line-height:1.4;text-align:center;border:2px solid #5EB129;">
                <tbody>
                    <tr>
                        <td colspan="9" style="height:100px;">暂未找到相关临床试验</td>
                    </tr>
                </tbody>
            </table>
