			<!--12_sign_name-->
			<div style="bottom:20px;position:absolute;">	<!--sign_start-->
				<p class="pg7_p1">
					注：1.NA表示并未找到相关报道;<br>
					&emsp;&emsp;2.如果检测样本的肿瘤细胞含量低于20%，可能会影响检测结果的准确性;<br>
					&emsp;&emsp;3.本实验检测结果的解释仅基于目前临床实验的进展及研究水平，具体以临床医生意见为准。<br>
				</p>
				<p class="pg7_p2">
					<span >检测人：</span>
					<span style="padding-left:60px;"></span>
					<span style="padding-left:160px;">复核人：</span>
					<span style="padding-left:60px;"></span>
					<span style="padding-left:160px;">审批人：</span>
					<span style="padding-left:60px;"></span>
				</p>
				<p style="font-size:15px;">
					注:本报告仅针对本次送检标本，该检测为肿瘤患者个体化治疗提供依据，仅供临床参考
				</p>
			</div>	<!--sign_end-->