		<!--14_sample_quality_rate-->
			<div class="pg9_div1">样本质量评级</div>
			<p class="pg9_p1">1、按照下表中所列质控方法对各样本类型进行质控，对样本质量是否合格进行分级：</p>
			<p style="text-indent:4em;font-size:22px;">A：片段分布正常，DNA完整性高，且病理质控结果显示肿瘤细胞含量≥20%</p>
			<p style="text-indent:4em;font-size:22px;">B：片段分布正常，有轻微降解，或病理质控结果显示＜20%</p>
			<p style="text-indent:4em;font-size:22px;">C：片段分布正常，有轻微降解或大片段污染，或无病理质控</p>
			<p style="text-indent:4em;font-size:22px;">D：血液样品出现溶血片段分布异常，有严重降解或大片段污染且无病理质控，无法展开后续检测</p>
			<table class="pg9_table1">
				<tbody>
					<tr>
						<td class="pg9_td1">样本类型</td>
						<td style="width:1px;"></td>
						<td class="pg9_td2">质控方式1</td>
						<td style="width:1px;"></td>
						<td class="pg9_td3">质控内容1</td>
						<td style="width:1px;"></td>
						<td class="pg9_td4">参考标准1</td>
						<td style="width:1px;"></td>
						<td class="pg9_td5">质控方式2</td>
						<td style="width:1px;"></td>
						<td class="pg9_td6">质控内容2</td>
						<td style="width:1px;"></td>
						<td class="pg9_td7">参考标准2</td>
					</tr>
				</tbody>
			</table>

			<table class="pg9_table2">
				<tbody>
					<tr>
						<td class="pg9_td8">血浆标本</td>
						<td style="width:1px;"></td>
						<td class="pg9_td9">颜色</td>
						<td style="width:1px;"></td>
						<td class="pg9_td10">是否溶血</td>
						<td style="width:1px;"></td>
						<td class="pg9_td11">淡黄色</td>
						<td style="width:1px;"></td>
						<td class="pg9_td12">2100</td>
						<td style="width:1px;"></td>
						<td class="pg9_td13">片段分布</td>
						<td style="width:1px;"></td>
						<td class="pg9_td14">无白细胞污染</td>
					</tr>
					<tr>
						<td class="pg9_td8">石蜡切片</td>
						<td style="width:1px;"></td>
						<td class="pg9_td9">病理质控</td>
						<td style="width:1px;"></td>
						<td class="pg9_td10">肿瘤细胞含量</td>
						<td style="width:1px;"></td>
						<td class="pg9_td11">≥20%</td>
						<td style="width:1px;"></td>
						<td class="pg9_td12">琼脂糖电泳/2100</td>
						<td style="width:1px;"></td>
						<td class="pg9_td13">片段分布</td>
						<td style="width:1px;"></td>
						<td class="pg9_td14">片段≥500bp</td>
					</tr>
					<tr>
						<td class="pg9_td15">组织标本</td>
						<td style="width:1px;"></td>
						<td class="pg9_td16">病理质控</td>
						<td style="width:1px;"></td>
						<td class="pg9_td17">肿瘤细胞含量</td>
						<td style="width:1px;"></td>
						<td class="pg9_td18">≥20%</td>
						<td style="width:1px;"></td>
						<td class="pg9_td19">琼脂糖电泳/2100</td>
						<td style="width:1px;"></td>
						<td class="pg9_td20">片段分布</td>
						<td style="width:1px;"></td>
						<td class="pg9_td21">片段≥500bp</td>
					</tr>
					<tr>
						<td style="width:200px;height:35px;">胸水标本</td>
						<td style="width:1px;"></td>
						<td class="pg9_td22">病理质控</td>
						<td style="width:1px;"></td>
						<td class="pg9_td23">肿瘤细胞含量</td>
						<td style="width:1px;"></td>
						<td class="pg9_td24">≥20%</td>
						<td style="width:1px;"></td>
						<td class="pg9_td25">琼脂糖电泳/2100</td>
						<td style="width:1px;"></td>
						<td class="pg9_td26">片段分布</td>
						<td style="width:1px;"></td>
						<td class="pg9_td27">片段≥500bp</td>
					</tr>
				</tbody>
			</table>
			<p style="text-indent:2em;font-size:16px;color:red;">*注：血液样品可分离血浆和白细胞用于DNA提取，如严重溶血则无法正常分离。分析过程中，白细胞作为对照，以便过滤样品中的生殖突变。</p>
			<p class="pg9_p2">2、按照下表中所列质控方法对各样本的DNA含量进行质控，确定是否可满足实验需求：</p>
			<p style="text-indent:4em;font-size:22px;">I：样本量充足，可正常开展实验检测并可重复检测一次以上</p>
			<p style="text-indent:4em;font-size:22px;">II：样本量足够，可正常开展实验检测，可满足部分验证性实验</p>
			<p style="text-indent:4em;font-size:22px;">III：样本量较少，勉强可进行实验，无法进行后续验证性实验</p>
			<p style="text-indent:4em;font-size:22px;">IV：样本量过少，无法开展实验</p>
			<table class="pg9_table3">
				<tbody>
					<tr>
						<td class="pg9_td28">样本类型</td>
						<td style="width:1px;"></td>
						<td class="pg9_td29">质控方式1</td>
						<td style="width:1px;"></td>
						<td class="pg9_td30">质控内容1</td>
						<td style="width:1px;"></td>
						<td class="pg9_td31">参考标准1</td>
						<td style="width:1px;"></td>
						<td class="pg9_td32">质控方式2</td>
						<td style="width:1px;"></td>
						<td class="pg9_td33">质控内容2</td>
						<td style="width:1px;"></td>
						<td class="pg9_td34">参考标准2</td>
					</tr>
				</tbody>
			</table>

			<table class="pg9_table4">
				<tbody>
					<tr>
						<td class="pg9_td35">血浆标本</td>
						<td style="width:1px;"></td>
						<td class="pg9_td36">Qubit</td>
						<td style="width:1px;"></td>
						<td class="pg9_td37">DNA含量</td>
						<td style="width:1px;"></td>
						<td class="pg9_td38">≥30ng</td>
						<td style="width:1px;"></td>
						<td class="pg9_td39">紫外分光光度法</td>
						<td style="width:1px;"></td>
						<td class="pg9_td40">DNA纯度</td>
						<td style="width:1px;"></td>
						<td class="pg9_td41">1.8＜OD260/280＜2.0</td>
					</tr>
					<tr>
						<td class="pg9_td35">石蜡切片</td>
						<td style="width:1px;"></td>
						<td class="pg9_td36">Qubit</td>
						<td style="width:1px;"></td>
						<td class="pg9_td37">DNA含量</td>
						<td style="width:1px;"></td>
						<td class="pg9_td38">≥150ng</td>
						<td style="width:1px;"></td>
						<td class="pg9_td39">紫外分光光度法</td>
						<td style="width:1px;"></td>
						<td class="pg9_td40">DNA纯度</td>
						<td style="width:1px;"></td>
						<td class="pg9_td41">1.8＜OD260/280＜2.0</td>
					</tr>
					<tr>
						<td class="pg9_td42">组织标本</td>
						<td style="width:1px;"></td>
						<td class="pg9_td43">Qubit</td>
						<td style="width:1px;"></td>
						<td class="pg9_td44">DNA含量</td>
						<td style="width:1px;"></td>
						<td class="pg9_td45">≥150ng</td>
						<td style="width:1px;"></td>
						<td class="pg9_td46">紫外分光光度法</td>
						<td style="width:1px;"></td>
						<td class="pg9_td47">DNA纯度</td>
						<td style="width:1px;"></td>
						<td class="pg9_td48">1.8＜OD260/280＜2.0</td>
					</tr>
					<tr>
						<td class="pg9_td49">胸水标本</td>
						<td style="width:1px;"></td>
						<td class="pg9_td50">Qubit</td>
						<td style="width:1px;"></td>
						<td class="pg9_td51">DNA含量</td>
						<td style="width:1px;"></td>
						<td class="pg9_td52">≥150ng</td>
						<td style="width:1px;"></td>
						<td class="pg9_td53">紫外分光光度法</td>
						<td style="width:1px;"></td>
						<td class="pg9_td54">DNA纯度</td>
						<td style="width:1px;"></td>
						<td class="pg9_td55">1.8＜OD260/280＜2.0</td>
					</tr>


				</tbody>
			</table>