		<!--模板的封面-->
		<!--第一页-->

		<div class="pg1_div1">
			<p class="pg1_p1">厦门艾德医学检验所<br>
				<span class="pg1_span1">AMOYDX MEDICAL INSTITUTE</span>
			</p>
			<p style="font-size: 56px;">10基因检测报告</p>
		</div>
		<img class="pg1_img1" src="pic/Amoy.png">
		<hr>
		<span>厦门艾德医学检验所 400-966-8802 www.amoydxmed.com</span>
