		<!--第二页-->


		<div class="pg2_div1">
			<p class="pg2_p1">致患者</p><br/>
			<p class="pg2_p2">尊敬的&emsp;replace&emsp;先生<br></p>	<!--male-->
			<p class="pg2_p2">尊敬的&emsp;replace&emsp;女士<br></p>	<!--female-->
			<p>您好！</p>
			<p>感谢您的选择与信任！</p>
			<p>厦门艾德医学检验所是艾德生物(股票代码：300685)全资子公司下设的独立第三方医学检验机构，具有《医疗机构执业许可证》，旨在为广大患者提供专业化的肿瘤精准医疗分子诊断服务。</p>
			<p >艾德生物是一家致力于肿瘤精准医疗分子诊断技术的研发、生产、销售和服务的上市企业；以成为全球知名、医患信赖的分子诊断企业为目标，不断提供优质、创新的产品及服务，造福患者。目前已有14种产品获得国家药监局(CFDA)《医疗器械注册证》，是肿瘤靶向药物伴随诊断领域获证最多的企业。产品行销国内200多家三甲医院、50多个国家和地区。至今，艾德生物已帮助近百万肿瘤患者从精准医疗中受益，造福了广大肿瘤患者!</p>
			<p>肿瘤是机体在各种致瘤因素作用下，局部组织的细胞在基因水平上失去了对其生长的正常调控，导致细胞的异常增生而形成的新生物。肿瘤是基因疾病，其生物学基础是基因的异常。研究表明，肿瘤的发生是多基因、多步骤突变的结果。不同基因的突变与不同强度的突变形成了不同的肿瘤。近年来，随着分子生物学和基因测序等技术的发展，肿瘤驱动基因的发现推动了肿瘤治疗由传统的放化疗向分子靶向治疗的转变。这一转变带来的是肿瘤分类学和治疗模式的转变，而基于分子分型的肿瘤分类使患者接受最优的靶向治疗，这就是精准医学的核心思路。准确的分子分型检测是精准医学的先决条件。</p>
			<p>我们以患者需求为导向，为患者提供科学、详细的检测报告。随着现代医学及新药研发的不断深入，新的治疗方式和药物不断涌现，长期抑制、控制、直至治愈肿瘤，已开始变成现实。我们期待这份报告和建议能有助于您认知病情进展，评估药物疗效。</p>
			<p>厦门艾德医学检验所恭祝您早日康复、工作顺利、家庭幸福！</p>
			<p class="pg2_p-1">厦门艾德医学检验所</p>
		</div>
		<hr>
		<span>厦门艾德医学检验所 400-966-8802 www.amoydxmed.com</span>