					<!--7_lung_FDA_content-->
					<tr>	<!--FDA_result_start-->
						<td class="pg4_td6"><p>replace</p></td>	<!--FDA_result-->
						<td></td>
						<td class="pg4_td7">replace</td>	<!--FDA_freq-->
						<td></td>
						<td class="pg4_td8">replace</td>	<!--FDA_sensitive-->
						<td></td>
						<td class="pg4_td9">replace</td>	<!--clinical_sensitive-->
						<td></td>
						<td class="pg4_td10">replace</td>	<!--resistance-->
					</tr>	<!--FDA_result_end-->
