			<!--8_other_result-->
			<p class="pg4_p2">靶向用药相关基因其他结果</p>
			<table class="pg4_table3">
				<tbody>
					<tr>
						<td class="pg4_t3td1">基因</td>
						<td style="width:1px;"></td>
						<td class="pg4_t3td2">转录本</td>
						<td style="width:1px;"></td>
						<td class="pg4_t3td3">检测突变类型</td>
						<td style="width:1px;"></td>
						<td class="pg4_t3td4">检测结果</td>
						<td style="width:1px;"></td>
						<td class="pg4_t3td5"><div class="pg4_t3td5div">是否NCCN推荐检测基因</div></td>
					</tr>
					<tr>
						<td style="height:2px;"></td>
					</tr>
				</tbody>
			</table>
			 <table class="pg4_table4">
				<tbody>
					<tr><td class="pg4_t4td1">EGFR</td><td></td><td class="pg4_t4td2">NM_005228</td><td></td><td class="pg4_t4td3">SNV;InDel</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>	
					<tr><td class="pg4_t4td1">BRAF</td><td></td><td class="pg4_t4td2">NM_004333</td><td></td><td class="pg4_t4td3">SNV;InDel</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>
					<tr><td class="pg4_t4td1">ERBB2</td><td></td><td class="pg4_t4td2">NM_004448</td><td></td><td class="pg4_t4td3">SNV;InDel</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>
					<tr><td class="pg4_t4td1">KRAS</td><td></td><td class="pg4_t4td2">NM_033360</td><td></td><td class="pg4_t4td3">SNV;InDel</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>
					<tr><td class="pg4_t4td1">MET</td><td></td><td class="pg4_t4td2">NM_001127500</td><td></td><td class="pg4_t4td3">SNV;InDel</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>
					<tr><td class="pg4_t4td1">ALK</td><td></td><td class="pg4_t4td2">NM_004304</td><td></td><td class="pg4_t4td3">SNV;InDel;Fusion</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>
					<tr><td class="pg4_t4td1">ROS1</td><td></td><td class="pg4_t4td2">NM_002944</td><td></td><td class="pg4_t4td3">SNV;InDel;Fusion</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>
					<tr><td class="pg4_t4td1">RET</td><td></td><td class="pg4_t4td2">NM_020975</td><td></td><td class="pg4_t4td3">SNV;InDel;Fusion</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5">&#10003;</td></tr>
					<tr><td class="pg4_t4td1">NRAS</td><td></td><td class="pg4_t4td2">NM_002524</td><td></td><td class="pg4_t4td3">SNV;InDel</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5"></td></tr>
					<tr><td class="pg4_t4td1">PIK3CA</td><td></td><td class="pg4_t4td2">NM_006218</td><td></td><td class="pg4_t4td3">SNV;InDel</td><td></td><td class="pg4_t4td4">未检测到突变</td><td></td><td class="pg4_t4td5"></td></tr>
				</tbody>
			</table>
