			<!--ALK_description-->
			<div class="pg5_div2">ALK</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					ALK基因（间变性淋巴瘤激酶）编码一种受体酪氨酸激酶，属于胰岛素受体家族成员，在大脑和神经系统的发育中起着重要的作用。ALK融合、突变或扩增在多种肿瘤中都有发生，包括间变性大淋巴细胞瘤、成神经细胞瘤、结直肠癌以及肺癌等（PMID: 8122112；PMID: 18593892；PMID: 19737969），是一种强力的肿瘤驱动基因。
				</p>
			</div>	<!--gene_description-->