			<!--BRAF_description-->
			<div class="pg5_div2">BRAF</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					BRAF基因突变在多种肿瘤中均有报道，包括黑色素瘤(PMID: 12068308)、肺癌、结直肠癌(PMID:19537845)等，是一种常见的原癌基因。该基因在NSCLC中突变的发生频率为1–4%(PMID: 23833300)，其中以V600E最为常见，约占突变总数的55%。
				</p>
			</div>	<!--gene_description-->