			<!--EGFR_description-->
			<div class="pg5_div2">EGFR</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					EGFR是肺癌中最为重要也是靶向药物最多的驱动基因之一，据统计，在亚洲非小细胞肺癌（NSCLC）人群中，EGFR突变阳性的比例超过30%（PMID: 24419411；PMID: 20526205），其中肺腺癌的比例要明显高于肺鳞癌。肺癌中EGFR的绝大部分突变发生在编码酪氨酸激酶区域的18-21号外显子，因此这一区域同时也是多种靶向药物的靶点。
				</p>
			</div>	<!--gene_description-->