			<!--22_fulu1_HER2-->
			<p class="pg17_p1">HER2基因</p>
			<p class="pg17_p2">HER2基因同EGFR一样同属于酪氨酸激酶(RTK)家族成员，它可以通过与表皮生长因子(EGF)结合而激活其下游的多种信号途径，包括PI3K-AKT-mTOR信号通路、RAS-RAF-MEK-ERK信号通路等，因而在细胞的存活与增值中起着重要作用。HER2基因的扩增或突变参与多种肿瘤的发生与发展，包括乳腺癌、胃癌和肺癌等<sup id="up_mark">[65]</sup>，是一种重要的肿瘤驱动基因。</p>	<!--HER2_description-->
			<p class="pg17_p3">HER2基因突变在NSCLC中的发生概率较低，约2–4%<sup id="up_mark">[66]</sup>，其中绝大部分为HER2Exon20插入突变，约占相应突变总数的83~100%<sup id="up_mark">[66,67]</sup>。HER2基因的20号外显子正好处于蛋白激酶结构域，该区域的异常可能导致下游多种信号通路的激活。</p>
			<img class="HE_img" src="pic/HE.png">
			<p class="pg17_p4">肺癌中常见的几种HER2Exon20插入突变类型<sup id="up_mark">[66]</sup></p>
			<p class="pg17_p5">多项研究认为，二代EGFR-TKI药物阿法替尼对于HER2Exon20插入突变阳性的NSCLC患者具有一定的疗效。在一项临床II期实验中，该突变阳性的3名晚期NSCLC患者在接受阿法替尼后病情呈现出部分缓解<sup id="up_mark">[68]</sup>;在另一项回顾性研究中，4名患者在接受阿法替尼单药治疗后病情均得到良好控制<sup id="up_mark">[69]</sup>。</p>
			<p class="pg17_p6">曲妥珠单抗被FDA批准用于HER2扩增阳性的乳腺癌的治疗，也有研究认为该药对于HER2Exon20插入阳性的NSCLC患者也有一定疗效，在一项回顾性研究中，15名该突变阳性的NSCLC患者在使用曲妥珠单抗联合化疗用药后呈现出96%疾病控制率<sup id="up_mark">[69]</sup>。</p>
			<p class="pg17_p7">2016年的NCCN非小细胞肺癌指南中也将阿法替尼和曲妥珠单抗收录进对HER2突变阳性可能有效的靶向用药列表中。</p>