			<!--19_fulu1_KRAS-->
			<p class="pg14_p1">KRAS基因</p>
			<p class="pg14_p2">KRAS基因是人体内最为常见的原癌基因，它同NRAS、HRAS基因一样隶属于RAS基因家族，其负责编码的RAS蛋白在细胞内的信号通路中起着信号转导作用，在细胞的生存与增值等活动中处于重要位置。</p>	<!--KRAS_description-->
			<p class="pg14_p3">KRAS突变在多种肿瘤中都有发生，包括肺癌、结直肠癌、胰腺癌等。统计显示，在肺腺癌中KRAS突变的发生频率约为15–25%<sup id="up_mark">[38,39]</sup>，主要的发生位置为Exon2或3的第12、13及61号密码子，这一区域属于GTP的结合域。</p>
			<img class="krs_img" src="pic/krs.png">
			<p class="pg14_p4">KRAS信号转导通路<sup id="up_mark">[40]</sup></p>
			<p class="pg14_p5">KRAS基因是肺癌的重要分子标志。一方面，KRAS阳性肺癌患者相比KRAS野生型的患者预后较差<sup id="up_mark">[41]</sup>;另一方面，如果肺癌中KRAS基因存在突变，则意味着患者可能对EGFR-TKI药物如厄洛替尼或吉非替尼等的治疗耐药，多项临床研究均支持这一结论<sup id="up_mark">[42,43]</sup>，当然肺癌中同时发生EGFR突变和KRAS突变的概率也比较低。在NCCN肺癌指南中建议肺癌患者在用药前对KRAS的突变情况进行检测<sup id="up_mark">[4]</sup>，目前还未有针对KRAS阳性肺癌的靶向药物上市，仅有部分新药处于临床实验中<sup id="up_mark">[44]</sup>。</p>
			<p class="pg14_p6">在结直肠癌中，KRAS的突变频率约为40%<sup id="up_mark">[45,46]</sup>，主要发生在基因的第2，3，4号外显子上。KRAS突变阳性可能导致结直肠癌患者对EGFR抗体类药物如西妥昔单抗、帕尼单抗不敏感<sup id="up_mark">[47,48]</sup>。因此NCCN结直肠癌指南中明确规定，患者在使用西妥昔单抗或帕尼单抗治疗前需对KRAS基因突变进行检测。</p>