			<!--17_fulu1_ROS1-->
			<p class="pg12_p1">ROS1基因</p>
			<p class="pg12_p2">ROS1基因编码一种受体酪氨酸激酶，同样属于胰岛素受体家族成员，ROS1融合在脑胶质瘤、肺癌、胆管癌等多种肿瘤中都有报道<sup id="up_mark">[20-22]</sup>，是一种重要的肿瘤驱动基因。</p>	<!--ROS1_description-->
			<p class="pg12_p3">目前发现的ROS1基因融合模式超过25种，包括CD74-ROS1，SLC34A2-ROS1等。目前报道最多的为肺癌，统计显示ROS1融合突变在肺腺癌病例中的发生概率约为2-4%<sup id="up_mark">[23]</sup>。其中最为常见的融合模式为CD741-ROS1，约占ROS1突变总数的41%，其次为SLC34A2-ROS1和SDC4-ROS1融合突变<sup id="up_mark">[24]</sup>。大部分ROS1融合的断点发生在基因的Exon32至Exon36之间，这使得其融合产物保留了关键的酪氨酸蛋白激酶结构域，该区域可以通过融合产物的二聚化而被持续激活，从而导致下游多种与细胞生长和增值相关的信号通路的活性化。</p>
			<img class="ro_img" src="pic/ro.png">
			<p class="pg12_p4">NSCLC中几种常见的ROS1融合突变构型</p>
			<p class="pg12_p5">目前克唑替尼是唯一被FDA批准的用于ROS1阳性非小细胞肺癌治疗的靶向药物，而NCCN肺癌指南中推荐对NSCLC患者的ROS1融合情况进行检测作为克唑替尼的用药依据<sup id="up_mark">[4]。</sup>另外，有部分临床前研究认为ROS1融合突变可能导致肿瘤对某些靶向药物不敏感，比如EGFR-TKIs，MET抑制剂等<sup id="up_mark">[25,26]</sup>，但这一结论还有待进一步的探讨。</p>
			<p class="pg12_p6">同样，已经有多个肺癌病例发展出了对克唑替尼耐药的ROS1突变位点，目前被报道的有G2032R<sup id="up_mark">[27]</sup>，D2033N<sup id="up_mark">[28]</sup>和L2155S<sup id="up_mark">[29]</sup>等，均是发生在激酶区域的获得性抗性位点，目前针对这些耐药位点的靶药还在研发中，某些二代的ROS1抑制剂如FoRETinib、卡博替尼等可能能够克服其中部分位点的抗药性<sup id="up_mark">[30，31]</sup>，另外，其它的一些新药如PF-06463922、AP26113等正处于临床研究阶段<sup id="up_mark">[32]</sup>。</p>