		<!--15_fulu1_EGFR-->
			<div class="pg10_div1">附录1 10个基因及相关检测意义</div>
			<p class="pg10_p1">EGFR基因</p>
			<p class="pg10_p2">EGFR(表皮受体生长因子)隶属酪氨酸激酶(RTK)家族，它可以通过与表皮生长因子(EGF)结合而激活其下游的多种信号途径，包括PI3K-AKT-mTOR信号通路、RAS-RAFMEK-ERK信号通路等，因而在细胞的存活与增值中起着重要作用。EGFR是肺癌中最为重要也是靶向药物最多的驱动基因之一，据统计，在亚洲非小细胞肺癌(NSCLC)人群中，EGFR突变阳性的比例超过30%<sup id="up_mark">[1,2]</sup>，其中肺腺癌的比例要明显高于肺鳞癌。肺癌中EGFR的绝大部分突变发生在编码酪氨酸激酶区域的18-21号外显子，因此这一区域同时也是多种靶向药物的靶点。</p>	<!--EGFR_description-->
			<img class="egr_img" src="pic/egr.png">
			<p class="pg10_p3">肺癌中EGFR基因常见突变及位置<sup id="up_mark">[3]</sup></p>
			<p class="pg10_p4">L858R和Exon 19del突变是最常见的两种肺癌EGFR突变类型，约占EGFR突变总数的90%，它们可增强EGFR的酪氨酸激酶活性，从而导致下游多种信号通路的超活性化。目前FDA和CFDA已经批准多种EGFR-TKI类药物用于这两种突变EGFR突变阳性肺癌的治疗，包括吉非替尼、阿法替尼和埃克替尼等。同时肺癌NCCN指南中也建议，EGFRL858R或Exon 19del突变阳性的晚期NSCLC患者可以考虑采用EGFR-TKI药物作为一线治疗方案<sup id="up_mark">[3]</sup>。除此之外，其它突变如L861Q、G719X、S768I以及c.2290_2291ins等也被认为对EGFR-TKI的治疗敏感<sup id="up_mark">[5-7]</sup>。</p>
			<p class="pg10_p5">EGFRT790M突变发生在20号外显子，是肺癌中重要的EGFR-TKI抗药性位点，在接受吉非替尼或厄洛替尼治疗后产生抗药性的EGFR突变阳性肺癌患者中，该突变的发生频率超过50%<sup id="up_mark">[8]</sup>，目前已经上市的靶向药物中，仅有奥希替尼(Osimertinib)被FDA批准用于T790M阳性肺癌的治疗。除此之外，发生在EGFR20号外显子的插入突变(c.2290_2291ins除外)也被认为对EGFR-TKI药物的治疗存在抗性。</p>
