		<!--页眉--><!--包括了规范框-->
		<div class="frame_div">
			<img class="yemei_png" src="pic/logo-1.jpg" />	<!--yemei_start-->
			<div class="title">
				<span class="yemei_sampleName">&emsp;&emsp;姓名：replace</span>	<!--title_name-->
				<span class="yemei_sampleNumber">&emsp;&emsp;样本编号：replace</span>	<!--title_sample_number-->
				<!-- <span style="font-size:18px;">&emsp;&emsp;肿瘤类型：replace</span>-->	<!--tumor_type-->
			</div>
			<hr class="yemei_hr"/>	<!--yemei_end-->
