			<!--27_help_drug_info_second-->
			<table class="pg22_table1">
				<tbody>
					<tr>
						<td class="pg22_td1">药物名称</td>
						<td class="pg22_td2">阿法替尼(吉泰瑞)</td>
					</tr>
					<tr>
						<td class="pg22_td3">FDA批准适应症</td>
						<td class="pg22_td4">
						<p class="pg22_td5">FDA已批准阿法替尼(Afatinib)用于携带EGFR19号外显子缺失或者21号外显子Leu858Arg突变的转移性NSCLC患者的一线治疗;用于铂类为基础的一线化疗后疾病进展的晚期肺鳞状细胞癌患者的治疗。</p>
						</td>
					</tr>
					<tr>
						<td class="pg22_td6">赞助公司</td>
						<td class="pg22_td7">中国初级卫生保健基金会、勃林格殷翰公司</td>
					</tr>
					<tr>
						<td class="pg22_td8">医学标准</td>
						<td class="pg22_td9">
							<p class="pg22_td10">既往未接受过表皮生长因子体(EGFR)酪氨酸激酶抑制剂(TKI)治疗、具有EGFR基因敏感突变(EGFR19号外显子缺失或者21号外显子Leu858Arg突变)的局部晚期或转移性非小细胞肺癌(NSCLC)患者;含铂化疗期间或后疾病进展的局部晚期或转移性鳞状组织学NSCLC患者。
							</p>
						</td>
					</tr>
					<tr>
						<td class="pg22_td11">官网链接</td>
						<td class="pg22_td12">http://www.4008188781.cn/</td>
					</tr>
				</tbody>
			</table>

			<table class="pg22_table2">
				<tbody>
					<tr>
						<td class="pg22_td13">药物名称</td>
						<td class="pg22_td14">奥希替尼(泰瑞沙)</td>
					</tr>
					<tr>
						<td class="pg22_td15">FDA批准适应症</td>
						<td class="pg22_td16">
						<p class="pg22_td17">FDA已批准奥希替尼(Osimertinib)用于EGFR酪氨酸激酶抑制剂治疗后疾病进展的、携带EGFR-Thr790MET突变的晚期非小细胞肺癌患者的治疗。</p>
						</td>
					</tr>
					<tr>
						<td class="pg22_td18">赞助公司</td>
						<td class="pg22_td19">英国阿斯利康公司</td>
					</tr>
					<tr>
						<td class="pg22_td20">医学标准</td>
						<td class="pg22_td21">
							<p class="pg22_td22">既往经表皮生长因子受体(EGFR)酪氨酸激酶抑制剂(TKI)治疗时或后出现疾病进展，并且经检测确认存在EGFR-T790M突变阳性的局部晚期或转移性非小细胞肺癌(NSCLC)成人患者的治疗。
							</p>
						</td>
					</tr>
					<tr>
						<td class="pg22_td23">官网链接</td>
						<td class="pg22_td24">http://www.tagrissoccf.org.cn</td>
					</tr>
				</tbody>
			</table>

			<table class="pg22_table3">
				<tbody>
					<tr>
						<td class="pg22_td25">药物名称</td>
						<td class="pg22_td26">克唑替尼(赛可瑞)</td>
					</tr>
					<tr>
						<td class="pg22_td27">FDA批准适应症</td>
						<td class="pg22_td28">
						<p class="pg22_td29">FDA已批准多靶点激酶抑制剂克唑替尼(Crizotinib)用于ALK阳性或ROS1阳性的转移性非小细胞肺癌患者的治疗。</p>
						</td>
					</tr>
					<tr>
						<td class="pg22_td30">赞助公司</td>
						<td class="pg22_td31">辉瑞公司</td>
					</tr>
					<tr>
						<td class="pg22_td32">医学标准</td>
						<td class="pg22_td33">
							<p class="pg22_td34">
								1.患者必须是经CFDA批准的检测方法确定的间变性淋巴瘤激酶(ALK)阳性的局部晚期或转移的非小细胞肺癌(NSCLC)。 <br/>2.经指定医疗机构评估确认为符合赛可瑞适应症(请参考药物使用说明书)的患者。
							</p>
						</td>
					</tr>
					<tr>
						<td class="pg22_td35">官网链接</td>
						<td class="pg22_td36">http://www.cfchina.org.cn/list.php?catid=352</td>
					</tr>
				</tbody>
			</table>