			<!--28_help_drug_info_third-->
			<table class="pg23_table1">
				<tbody>
					<tr>
						<td class="pg23_td1">药物名称</td>
						<td class="pg23_td2">厄洛替尼(特罗凯)</td>
					</tr>
					<tr>
						<td class="pg23_td3">FDA批准适应症</td>
						<td class="pg23_td4">
						<p class="pg23_td5">FDA已批准厄洛替尼(Erlotinib)用于携带EGFR19号外显子缺失或者21号外显子Leu858Arg突变的转移性非小细胞肺癌患者的一线治疗和吉西他滨联合用于局部晚期、不可切除的转移性胰腺癌一线治疗。</p>
						</td>
					</tr>
					<tr>
						<td class="pg23_td6">赞助公司</td>
						<td class="pg23_td7">上海罗氏制药有限公司</td>
					</tr>
					<tr>
						<td class="pg23_td8">医学标准</td>
						<td class="pg23_td9">
							<p class="pg23_td10">1.患者必须是经组织学或细胞学证实的原发性IIIB或IV期非小细胞肺癌。<br />
							2.本人知晓自己患晚期肺癌、经指定医疗机构评估确认为符合特罗凯适应症且无禁忌症(EGFR基因具有敏感突变的局部晚期或转移性非小细胞肺癌)的患者。<br />
							3.患者在接受特罗凯治疗之前必须有可评价病灶。<br />
							4.在申请前，患者必须连续服用罗氏特罗凯(150mg/片/天)治疗直至申请时至少四个月，且无疾病进展，经临床评估能够继续从特罗凯治疗中获益。(低保患者可忽略此项)<br/>
							5.患者根据项目流程规定的时间进行医学随访，并提供相应的检查报告，由项目执行医院提供评估报告，确认无疾病进展，需继续服用特罗凯(150mg/片/天)治疗，且无不可耐受的毒副反应。
							</p>
						</td>
					</tr>
					<tr>
						<td class="pg23_td11">官网链接</td>
						<td class="pg23_td12">www.4008808780.com</td>
					</tr>
				</tbody>
			</table>