			<!--HER2_description-->
			<div class="pg5_div2">HER2</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					HER2基因突变在多种肿瘤中均有发生，例如在乳腺癌中，HER2扩增或突变的发生概率高达30%(PMID: 3798106;PMID: 23204226)，而在胃癌中也有将近20%的发生概率(PMID: 24943493)，在其它肿瘤如结直肠癌，肺癌，膀胱癌等中也有相对较低的发生概率(PMID: 24656976)。
				</p>
			</div>	<!--gene_description-->