			<!--KRAS_description-->
			<div class="pg5_div2">KRAS</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					KRAS基因是人体内最为常见的原癌基因，其负责编码的RAS蛋白在细胞内的信号通路中起着信号转导作用，KRAS突变在多种肿瘤中均有发生，比如在肺癌中约占15–25%（PMID: 18794081），在结直肠癌中高达40%（PMID: 19679400），而在胰腺癌中甚至高达70%（PMID: 20952405）。KRAS突变主要发生在Exon2或3的的第12，13和61号密码子，这些位点位于蛋白的GTP酶结构域。
				</p>
			</div>	<!--gene_description-->