			<!--MET_description-->
			<div class="pg5_div2">MET</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					MET是一个原癌基因，编码肝细胞生长因子受体（HGFR）。它是一个跨膜蛋白，具有酪氨酸激酶活性，参与细胞信号传导、细胞骨架重排的调控，是细胞增殖、分化和运动的重要环节。人类多种肿瘤中如NSCLC、胃癌、肝癌等均存在c-MET基因扩增或蛋白过表达，在NSCLC中，c-MET基因突变主要有基因扩增和14号外显子跳读两种形式。MET基因的14跳跃突变在非小细胞肺癌中的发生概率约为3~5%且在腺癌及鳞癌中均有发生（PMID: 25971938；PMID: 19096300）。
				</p>
			</div>	<!--gene_description-->