			<!--NRAS_description-->
			<div class="pg5_div2">NRAS</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					NRAS基因同KRAS、HRAS基因一样隶属于RAS基因家族，其负责编码的RAS蛋白在多种细胞信号通路中起着信号转导作用，在细胞的生存与增殖等活动中处于重要位置。多种肿瘤中均发现存在NRAS基因突变，包括黑色素瘤、结直肠癌、甲状腺癌等，是一种常见的原癌基因。NRAS在非小细胞肺癌中的发生概率较小，大约为1%（PMID: 18948947），且主要发生在Exon2或3的第12及61号密码子上。
				</p>
			</div>	<!--gene_description-->