			<!--PIK3CA_description-->
			<div class="pg5_div2">PIK3CA</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					PIK3CA基因是一种常见的原癌基因，在肺癌中的发生比例约为 1~3%（PMID: 15016963），在其它肿瘤如结直肠癌，乳腺癌，胃癌中也有较高的发生概率；PIK3CA的大部分突变发生在基因的10号外显子及21号外显子上，这两个外显子分别编码蛋白的螺旋构域及蛋白激酶结构域；PIK3CA基因突变发生激活可导致下游多种信号通路如AKT-mTOR的激活，从而促进肿瘤的发生与发展。
				</p>
			</div>	<!--gene_description-->