			<!--RET_description-->
			<div class="pg5_div2">RET</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					RET，原癌基因，是一种受体酪氨酸激酶，其激活MAPK和PI3K / AKT途径并调节细胞生长和分化（PMID：24561444，PMID：29134959）。体细胞RET活化突变和RET过表达与多种癌症相关，并且种系RET突变导致MEN2综合征和家族性甲状腺髓样癌（PMID：20930041，PMID：24561444）。
				</p>
			</div>	<!--gene_description-->