			<!--ROS1_description-->
			<div class="pg5_div2">ROS1</div>		<!--gene_name-->
			<div class="pg5_div3">
				<p>
					ROS1，ROS原癌基因1，受体酪氨酸激酶，是一种孤儿受体酪氨酸激酶，可激活参与细胞存活和转化的多种途径（PMID：23719267）。ROS1融合蛋白经常导致Ros1信号传导的组成性激活，并已在胶质母细胞瘤，非小细胞肺癌，胆管癌，卵巢癌，胃腺癌，结肠直肠癌，炎性肌纤维母细胞瘤，血管肉瘤和上皮样血管内皮瘤中发现（PMID：23719267） 。
				</p>
			</div>	<!--gene_description-->