			<!--33_wenxian_fifth-->
			<div class="pg25_div2">
				68. De Greve J, Teugels E, Geers C, et al. (2012) Clinical activity of afatinib (BIBW 2992) in patients with lung adenocarcinoma with mutations in the kinase domain of HER2/neu. Lung Cancer 76: 123-127.<br>
				69. Mazières J, Peters S, Lepage B, et al. (2013) Lung Cancer That Harbors a HER2 Mutation: Epidemiologic Characteristics and Therapeutic Perspectives. Journal of Clinical Oncology.<br>
				70. Ding L, Getz G, Wheeler DA, et al. (2008) Somatic mutations affect key pathways in lung adenocarcinoma. Nature 455: 1069-1075.<br>
				71. Ohashi K, Sequist LV, Arcila ME, et al. (2013) Characteristics of lung cancers harboring NRAS mutations. Clin Cancer Res 19: 2584-2591.<br>
				72. Vaughn CP, Zobell SD, Furtado LV, et al. (2011) Frequency of KRAS, BRAF, and NRAS mutations in colorectal cancer. Genes Chromosomes Cancer 50: 307-312.<br>
				73. Samuels Y, Wang Z, Bardelli A, et al. (2004) High frequency of mutations of the PIK3CA gene in human cancers. Science 304: 554.<br>
				74. Sequist LV, Waltman BA, Dias-Santagata D, et al. (2011) Genotypic and histological evolution of lung cancers acquiring resistance to EGFR inhibitors. Sci Transl Med 3: 75ra26.<br>
				75. Engelman JA, Mukohara T, Zejnullahu K, et al. (2006) Allelic dilution obscures detection of a biologically significant resistance mutation in EGFR -amplified lung cancer. J Clin Invest 116: 2695-2706.<br>
				76. Zou ZQ, Zhang XH, Wang F, et al. (2009) A novel dual PI3Kalpha/mTOR inhibitor PI-103 with high antitumor activity in non-small cell lung cancer cells. Int J Mol Med 24: 97-101.<br>
				77. Engelman JA, Chen L, Tan X, et al. (2008) Effective use of PI3K and MEK inhibitors to treat mutant KRAS G12D and PIK3CA H1047R murine lung cancers. Nat Med 14: 1351-1356.
			</div>