			<!--32_wenxian_fourth-->
			<div class="pg25_div2">
				51. Cardarella S, Ogino A, Nishino M, et al. (2013) Clinical, pathologic, and biologic features associated with BRAF mutations in non-small cell lung cancer. Clin Cancer Res 19: 4532-4540.<br>
				52. COSMIC. 2016. http://cancer.sanger.ac.uk/cosmic<br>
				53. Ascierto PA, Kirkwood JM, Grob J, et al. (2012) The role of BRAF V600 mutation in melanoma. Journal of Translational Medicine 10: 85.<br>
				54. Gautschi O, Pauli C, Strobel K, et al. (2012) A patient with BRAF V600E lung adenocarcinoma responding to vemurafenib. J Thorac Oncol 7: e23-24.<br>
				55. Rudin CM, Hong K, Streit M (2013) Molecular characterization of acquired resistance to the BRAF inhibitor daBRAF enib in a patient with BRAF-mutant non-small-cell lung cancer. J Thorac Oncol 8: e41-42.<br>
				56. Prahallad A, Sun C, Huang S, et al. (2012) Unresponsiveness of colon cancer to BRAF (V600E) inhibition through feedback activation of EGFR . Nature 483: 100-103.<br>
				57. Bean J, Brennan C, Shih JY, et al. (2007) MET amplification occurs with or without T790M mutations in EGFR mutant lung tumors with acquired resistance to gefitinib or erlotinib. Proc Natl Acad Sci U S A 104: 20932-20937.<br>
				58. Arcila ME, Oxnard GR, Nafa K, et al. (2011) Rebiopsy of lung cancer patients with acquired resistance to EGFR inhibitors and enhanced detection of the T790M mutation using a locked nucleic acid-based assay. Clin Cancer Res 17: 1169-1180.<br>
				59. Engelman JA, Zejnullahu K, Mitsudomi T, et al. (2007) MET amplification leads to gefitinib resistance in lung cancer by activating ERBB3 signaling. Science 316: 1039-1043.<br>
				60. Go H, Jeon YK, Park HJ, et al. (2010) High MET gene copy number leads to shorter survival in patients with non-small cell lung cancer. J Thorac Oncol 5: 305-313.<br>
				61. D. Ross Camidge S-HIO, Geoffrey Shapiro, et al. Efficacy and safety of crizotinib in patients with advanced c-MET-amplified non-small cell lung cancer (NSCLC) 2014 ASCO Annual Meeting.<br>http://meetinglibrary.asco.org/content/132030-144<br>
				62. Frampton GM, Ali SM, Rosenzweig M, et al. (2015) Activation of MET via diverse exon 14 splicing alterations occurs in multiple tumor types and confers clinical sensitivity to MET inhibitors. Cancer Discov 5: 850-859.<br>
				63. Onozato R, Kosaka T, Kuwano H, et al. (2009) Activation of MET by gene amplification or by splice mutations deleting the juxtamembrane domain in primary resected lung cancers. J Thorac Oncol 4: 5-11.<br>
				64. Kong-Beltran M, Seshagiri S, Zha J, et al. (2006) Somatic mutations lead to an oncogenic deletion of MET in lung cancer. Cancer Res 66: 283-289.<br>
				65. Moasser MM (2007) The oncogene HER2 : its signaling and transforming functions and its role in human cancer pathogenesis. Oncogene 26: 6469-6487.<br>
				66. Arcila ME, Chaft JE, Nafa K, et al. (2012) Prevalence, clinicopathologic associations, and molecular spectrum of ERBB2 (HER2 ) tyrosine kinase mutations in lung adenocarcinomas. Clin Cancer Res 18: 4910-4918.<br>
				67. Buttitta F, Barassi F, Fresu G, et al. (2006) Mutational analysis of the HER2 gene in lung tumors from Caucasian patients: mutations are mainly present in adenocarcinomas with bronchioloalveolar features. Int J Cancer 119: 2586-2591.
			</div>