			<!--31_wenxian_third-->
			<div class="pg25_div2">
				34. Ciampi R, Nikiforov YE (2007) RET/PTC rearrangements and BRAF mutations in thyroid tumorigenesis. Endocrinology 148: 936-941.<br>
				35. Ju YS, Lee WC, Shin JY, et al. (2012) A transforming KIF5B and RET gene fusion in lung adenocarcinoma revealed from whole-genome and transcriptome sequencing. Genome Res 22: 436-445.<br>
				36. Drilon A, Wang L, Hasanovic A, et al. (2013) Response to Cabozantinib in patients with RET fusion-positive lung adenocarcinomas. Cancer Discov 3: 630-635.<br>
				37. Gautschi O, Zander T, Keller FA, et al. (2013) A patient with lung adenocarcinoma and RET fusion treated with vandetanib. J Thorac Oncol 8: e43-44.<br>
				38. Brose MS, Volpe P, Feldman M, et al. (2002) BRAF and RAS mutations in human lung cancer and melanoma. Cancer Res 62: 6997-7000.<br>
				39. Riely GJ, Kris MG, Rosenbaum D, et al. (2008) Frequency and distinctive spectrum of KRAS mutations in never smokers with lung adenocarcinoma. Clin Cancer Res 14: 5731-5734.<br>
				40. KEGG. 2016. http://www.genome.jp/kegg/pathway.html<br>
				41. Slebos RJ, Kibbelaar RE, Dalesio O, et al. (1990) Kras oncogene activation as a prognostic marker in adenocarcinoma of the lung. N Engl J Med 323: 561-565.<br>
				42. Miller VA, Riely GJ, Zakowski MF, et al. (2008) Molecular characteristics of bronchioloalveolar carcinoma and adenocarcinoma, bronchioloalveolar carcinoma subtype, predict response to erlotinib. J Clin Oncol 26: 1472- 1478.<br>
				43. Eberhard DA, Johnson BE, Amler LC, et al. (2005) Mutations in the epidermal growth factor receptor and in KRAS are predictive and prognostic indicators in patients with non-small-cell lung cancer treated with chemotherapy alone and in combination with erlotinib. J Clin Oncol 23: 5900-5909.<br>
				44. Janne PA, Mann H, Ghiorghiu D (2016) Study Design and Rationale for a Randomized, Placebo-Controlled, Double-Blind Study to Assess the Efficacy and Safety of SeluMET inib in Combination With Docetaxel as Second-Line Treatment in Patients With KRAS -Mutant Advanced Non-Small Cell Lung Cancer (SELECT-1). Clin Lung Cancer 17: e1-4.<br>
				45. Neumann J, Zeindl-Eberhart E, Kirchner T, et al. (2009) Frequency and type of KRAS mutations in routine diagnostic analysis of MET astatic colorectal cancer. Pathol Res Pract 205: 858-862.<br>
				46. Amado RG, Wolf M, Peeters M, et al. (2008) Wild-type KRAS is required for panitumumab efficacy in patients with MET astatic colorectal cancer. J Clin Oncol 26: 1626-1634.<br>
				47. Douillard JY, Oliner KS, Siena S, et al. (2013) Panitumumab-FOLFOX4 treatment and RAS mutations in colorectal cancer. N Engl J Med 369: 1023-1034.<br>
				48. Heinemann V, von Weikersthal LF, Decker T, et al. (2014) FOLFIRI plus cetuximab versus FOLFIRI plus bevacizumab as first-line treatment for patients with MET astatic colorectal cancer (FIRE-3): a randomised, open-label, phase 3 trial. Lancet Oncol 15: 1065-1075.<br>
				49. Davies H, Bignell GR, Cox C, et al. (2002) Mutations of the BRAF gene in human cancer. Nature 417: 949-954.<br>
				50. De Roock W, Biesmans B, De Schutter J, et al. (2009) Clinical biomarkers in oncology: focus on colorectal cancer. Mol Diagn Ther 13: 103-114.
			</div>