			<!--29_wenxian_first-->
			<div class="pg24_div1">参考文献</div>
			<div class="pg24_div2">
				1. Shi Y, Au JS-K, Thongprasert S, et al. A Prospective, Molecular Epidemiology Study of EGFR Mutations in Asian Patients with Advanced Non–Small-Cell Lung Cancer of Adenocarcinoma Histology (PIONEER). Journal of Thoracic Oncology 9: 154-162.<br>
				2. Kawaguchi T, Matsumura A, Fukai S, et al. (2010) Japanese ethnicity compared with Caucasian ethnicity and never-smoking status are independent favorable prognostic factors for overall survival in non-small cell lung cancer: a collaborative epidemiologic study of the National Hospital Organization Study Group for Lung Cancer (NHSGLC) in Japan and a Southern California Regional Cancer Registry databases. J Thorac Oncol 5: 1001- 1010.<br>
				3. Sharma SV, Bell DW, Settleman J, et al. (2007) Epidermal growth factor receptor mutations in lung cancer. Nat Rev Cancer 7: 169-181.<br>
				4. NCCN. NCCN Clinical PracticeGuidelines in Oncology:Non-Small Cell Lung cancer (Version 4). 2016. https://www.nccn.org/professionals/physician_gls/f_guidelines.asp<br>
				5. Lynch TJ, Bell DW, Sordella R, et al. (2004) Activating mutations in the epidermal growth factor receptor underlying responsiveness of non-small-cell lung cancer to gefitinib. N Engl J Med 350: 2129-2139.<br>
				6. Han SW, Kim TY, Hwang PG, et al. (2005) Predictive and prognostic impact of epidermal growth factor receptor mutation in non-small-cell lung cancer patients treated with gefitinib. J Clin Oncol 23: 2493-2501.<br>
				7. Raghav D, Sharma V, Agarwal SM (2013) Structural investigation of deleterious non-synonymous SNPs of EGFR gene. Interdiscip Sci 5: 60-68.<br>
				8. Pao W, Miller VA, Politi KA, et al. (2005) Acquired resistance of lung adenocarcinomas to gefitinib or erlotinib is associated with a second mutation in the EGFR kinase domain. PLoS Med 2: e73.<br>
				9. Morris SW, Kirstein MN, Valentine MB, et al. (1994) Fusion of a kinase gene, ALK, to a nucleolar protein gene, NPM, in non-Hodgkin's lymphoma. Science 263: 1281-1284.<br>
				10. Choi YL, Takeuchi K, Soda M, et al. (2008) Identification of novel isoforms of the EML4-ALK transforming gene in non-small cell lung cancer. Cancer Res 68: 4971-4976.<br>
				11. Lin E, Li L, Guan Y, et al. (2009) Exon array profiling detects EML4 -ALK fusion in breast, colorectal, and non-small cell lung cancers. Mol Cancer Res 7: 1466-1476.<br>
				12. Pillai RN, Ramalingam SS (2012) The biology and clinical features of non-small cell lung cancers with EML4-ALK translocation. Curr Oncol Rep 14: 105-110.<br>
				13. Ou SH, Bartlett CH, Mino-Kenudson M, et al. (2012) Crizotinib for the treatment of ALK-rearranged non-small cell lung cancer: a success story to usher in the second decade of molecular targeted therapy in oncology. Oncologist 17: 1351-1375.<br>
				14. Camidge DR, Bang YJ, Kwak EL, et al. (2012) Activity and safety of crizotinib in patients with ALK-positive non-small-cell lung cancer: updated results from a phase 1 study. Lancet Oncol 13: 1011-1019.
			</div>