			<!--30_wenxian_second-->
			<div class="pg25_div2">
				15. Shaw AT, Kim DW, Mehra R, et al. (2014) Ceritinib in ALK-rearranged non-small-cell lung cancer. N Engl J Med 370: 1189-1197.<br>
				16. Ou SH, Ahn JS, De Petris L, et al. (2016) Alectinib in Crizotinib-Refractory ALK-Rearranged Non-Small-Cell Lung Cancer: A Phase II Global Study. J Clin Oncol 34: 661-668.<br>
				17. Sasaki T, Okuda K, Zheng W, et al. (2010) The neuroblastoma-associated F1174L ALK mutation causes resistance to an ALK kinase inhibitor in ALK-translocated cancers. Cancer Res 70: 10038-10043.<br>
				18. Choi YL, Soda M, Yamashita Y, et al. (2010) EML4-ALK mutations in lung cancer that confer resistance to ALK inhibitors. N Engl J Med 363: 1734-1739.<br>
				19. Alice Tsang Shaw RM, Dong-Wan Kim, et al (2013) Clinical activity of the ALK inhibitor LDK378 in advanced, ALK-positive NSCLC. ASCO Annual Meeting.<br>
				20. Charest A, Lane K, McMahon K, et al. (2003) Fusion of FIG to the receptor tyrosine kinase ROS in a glioblastoma with an interstitial del(6)(q21q21). Genes Chromosomes Cancer 37: 58-71.<br>
				21. Gu TL, Deng X, Huang F, et al. (2011) Survey of tyrosine kinase signaling reveals ROS kinase fusions in human cholangiocarcinoma. PLoS One 6: e15640.<br>
				22. Rikova K, Guo A, Zeng Q, et al. (2007) Global survey of phosphotyrosine signaling identifies oncogenic kinases in lung cancer. Cell 131: 1190-1203.<br>
				23. Bergethon K, Shaw AT, Ou SH, et al. (2012) ROS1 rearrangements define a unique molecular class of lung cancers. J Clin Oncol 30: 863-870.<br>
				24. Uguen A, De Braekeleer M (2016) ROS1 fusions in cancer: a review. Future Oncol 12: 1911-1928.<br>
				25. Davies KD, Le AT, Theodoro MF, et al. (2012) Identifying and targeting ROS1 gene fusions in non-small cell lung cancer. Clin Cancer Res 18: 4570-4579.<br>
				26. Yasuda H, de Figueiredo-Pontes LL, Kobayashi S, et al. (2012) Preclinical rationale for use of the clinically available multitargeted tyrosine kinase inhibitor crizotinib in ROS1-translocated lung cancer. J Thorac Oncol 7: 1086-1090.<br>
				27. Awad MM, Katayama R, McTigue M, et al. (2013) Acquired resistance to crizotinib from a mutation in CD74- ROS1 . N Engl J Med 368: 2395-2401.<br>
				28. Drilon A, Somwar R, Wagner JP, et al. (2016) A Novel Crizotinib-Resistant Solvent-Front Mutation Responsive to Cabozantinib Therapy in a Patient with ROS1-Rearranged Lung Cancer. Clin Cancer Res 22: 2351-2358.<br>
				29. Song A, Kim TM, Kim DW, et al. (2015) Molecular Changes Associated with Acquired Resistance to Crizotinib in ROS1-Rearranged Non-Small Cell Lung Cancer. Clin Cancer Res 21: 2379-2387.<br>
				30. Katayama R, Kobayashi Y, Friboulet L, et al. (2015) Cabozantinib overcomes crizotinib resistance in ROS1 fusion-positive cancer. Clin Cancer Res 21: 166-174.<br>
				31. Davare MA, Saborowski A, Eide CA, et al. (2013) FoRET inib is a potent inhibitor of oncogenic ROS1 fusion proteins. Proc Natl Acad Sci U S A 110: 19519-19524.<br>
				32. Awad MM, Shaw AT (2014) ALK inhibitors in non-small cell lung cancer: crizotinib and beyond. Clin Adv Hematol Oncol 12: 429-439.<br>
				33. Pao W, Hutchinson KE (2012) Chipping away at the lung cancer genome. Nat Med 18: 349-351.
			</div>