/*页眉css*/
.yemei_png{
	width:300px;
}

.yemei_sampleName{
	font-size:18px;
}

.yemei_sampleNumber{
	font-size:18px;
	padding-left:45px;
}

.yemei_hr {
	border:1px solid #9BB9AE;
}


/*数据质控*/

.control_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.control_table1{
	font-size:20px;
	line-height:1.4;
	text-align:center;
	margin-top:60px;
	margin-left:200px;
	width:786px;
}

.control_td1{
	width:35%;
	height:65px;
	background-color:#005938;
	color:white;
}

.control_td2{
	width:60%;
	height:65px;
	background-color:#1F6342;
	color:white;
}

.control_td3{
	width:31%;
	height:65px;
	background-color:#3B6E52;
	color:white;
}

.control_td4{
	width:31%;
	height:65px;
	background-color:#4F7861;
	color:white;
}

.control_table2{
	width:784px;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
	margin-left:201px;
}

.control_td5{
	border-bottom: 2px dashed grey;
	width:260px;
	height:35px;
	padding-top:10px;
	padding-bottom: 10px;
}

.control_td6{
	border-bottom: 2px dashed grey;
	width:230px;
}


.control_td7{
	border-bottom: 2px dashed grey;
	width:225px;
}

.control_td8{
	border-bottom: 2px dashed grey;
	height:35px;
	padding-top:10px;
	padding-bottom: 10px;
}

.control_td9{
	border-bottom: 2px dashed grey;
}

.control_td10{
	height:35px;
	padding-top:10px;
}

.control_div2{
	font-size:20px;
	background-color: #EDF0F5;
	height:330px;
	line-height: 30px;
	text-indent: 3em;
	width:786px;
	margin-left:201px;
	margin-top:80px;
	letter-spacing:1.5px;
}

/* 第一页css */
.pg1_div1 {
	margin-left: 60px;
	letter-spacing: 1px;
}

.pg1_p1 {
	font-weight: bolder;
	font-size: 42px;
	margin-top:260px;
}

.pg1_span1{
	font-size:25px;
	letter-spacing: 0.5px;
	font-weight:normal;
}

.pg1_img1 {
	margin-left: 900px;
	margin-top:850px;
	width:140px;
}


/*第二页css*/

.pg2_div1 {
	width:950px;
	margin-left: 50px;
	height: 1480px;
	text-align:justify;
	font-size:24px;
	text-indent: 2em;
}

.pg2_p1 {
	font-size:24px;
	padding-top:150px;
	text-indent:0em;
}

.pg2_p2 {
	text-indent:0em;
}

.pg2_p-1 {
	float:right;
	margin-top:120px;
}

/*第三页*/
.frame_div {
	position: relative;
	width:100%;
	height: 1470px;
	text-align:justify;
}



.pg3_p1 {
	background-color:#EBEDF3;
	font-size:25px;
	border-radius:7px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
}

.pg3_table1 {
	border-style: none;
	border-top: 1px solid #7D7D7B;
	border-bottom: 1px solid #7D7D7B;
	font-size:18px;
	background-color: #EBEDF3;
	line-height:35px;
	width: 1034px;
	max-width: 100%;
	position: absolute;
	bottom: 1200px;
}

.pg3_td1 {
	padding-top:5px; 
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	text-indent: 1em;
}

.pg3_p2 {
	position: absolute;
	bottom: 1100px;
	background-color:#EBEDF3;
	font-size:25px;
	border-radius:7px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:40px;
	width:100%;
}

.pg3_table2{
	position: absolute;
	bottom: 988px;
	line-height: 5px;
	border-style: none;
	border-top: 1px solid #7D7D7B;
	border-bottom: 1px solid #7D7D7B;
	font-size:18px;
	background-color: #EBEDF3;
	line-height:35px;
	width: 1034px;
}

.pg3_td2 {
	padding-top:5px;
	width: 33%; 
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	text-indent: 1em;
}

.pg3_table3{
	font-size:23.5px;
	margin-top:50px;
	font-family: Source Han Sans CN;
}

.pg3_td3{
	width:620px;
	height:50px;
	background-color:#EBEDF3;
	letter-spacing: 1.8px;
	text-indent: 1em;
}

.pg3_td4{
	width:610px;
	height:50px;
	background-color:#EBEDF3;
	letter-spacing: 1.8px;
	text-indent: 1em;
}

.pg3_td5{
	background-color:#09492A;
	height:50px;
	text-indent: 1em;
	color:white;
}

.pg3_div1{

	width:auto!important;
	height:600px;
	margin-left:60px;
	margin-top:50px;
	margin-right:60px;
	font-size:17px;
}

.pg3_td6 {
	height:50px;
	text-indent: 1em;
	font-size:18px;
}

.pg3_td7 {
	background-color: #5EB129; 
	height:50px;
	text-indent:1em;
	color:white;
}

.pg3_td8{
	height:120px;
	text-indent: 1em;
	font-size:18px;
}

.pg3_td9{
	background-color:#1E713A;
	height:50px;
	text-indent: 1em;
	color:white;
}

.pg3_td10{
	background-color:#0E73B7;
	height:50px;
	text-indent: 1em;
	color:white;
}

.pg3_table4{
	font-size:23.5px;
	margin-top:30px;
}

.pg3_td11{
	width:150px;
	height:40px;
	background-color:#EBEDF3;
	letter-spacing: 1.4px;
	border-top-left-radius: 7px;
	border-bottom-left-radius:7px;
}

.pg3_td12{
	width:1010px;
	height:40px;
	background-color:#EBEDF3;
	border-top-right-radius: 7px;
	border-bottom-right-radius:7px;
}

.pg3_td13{
	text-indent: 1em;
	font-size:17px;
}

.footer1 {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 60px;

}
.footer2 {
	position: fixed;
	left: 0px;
	right:40px;
	bottom: 0px;
	width: 80%;
	height: 50px;

}

.title{
	display:inline;
	padding-left:250px;
	width:auto!important;
}


/* 第四页 */

.pg4_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:20px;
	text-indent: 1em;
	margin-top:30px;
	font-family: Source Han Sans CN;
}

.pg4_p1 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
}

.pg4_p1p1{
	margin-top:40px;
	font-size:20px;
	text-indent:1em;
	text-align:justify;
}

.pg4_p1s{
	font-size:20px;
	text-indent:1em;
	text-align:justify;
}


.pg4_p2 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
}

.pg4_table1 {
	font-size:20px;
	line-height:1.4;
	text-align:center;
	font-family: Source Han Sans CN;
}

.pg4_td1{
	width:180px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg4_td2{
	width:120px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg4_td3{
	width:235px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
	letter-spacing: 1px;
}

.pg4_td4{
	width:340px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
	letter-spacing: 1px;
}

.pg4_td5{
	width:145px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg4_table2{
	margin-top:6px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
	font-family: Source Han Sans CN;
}

.pg4_td6{
	width:180px;
	height:50px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.pg4_td7{
	width:120px;
	height:50px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}

.pg4_td8{
	font-size:20px;
	width:235px;
	height:50px;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}

.pg4_td9{
	width:340px;
	height:50px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}


.pg4_td10{
	width:145px;
	height:50px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}

.pg4_td11{
	width:1055px;
	height:60px;
}

.pg4_table3 {
	font-size:20px;
	line-height:1.4;
	text-align:center;
	font-family: Source Han Sans CN;
}

.pg4_t3td1{
	width:150px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg4_t3td2{
	width:180px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg4_t3td3{
	width:255px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
	letter-spacing: 1px;
}

.pg4_t3td4{
	width:240px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
	letter-spacing: 1px;
}

.pg4_t3td5{
	width:200px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg4_t3td5div{
	width:160px;
	padding-left:20px;
}


.pg4_table4{
	margin-top:6px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
	font-family: Source Han Sans CN;
}

.pg4_t4td1{
	width:150px;
	height:50px;
	border-bottom: 2px dashed grey;
}

.pg4_t4td2{
	width:180px;
	height:50px;
	border-bottom: 2px dashed grey;
}

.pg4_t4td3{
	width:255px;
	height:50px;
	border-bottom: 2px grey dashed;
}

.pg4_t4td4{
	width:240px;
	height:50px;
	height:auto!important;
	border-bottom: 2px grey dashed;
}

.pg4_t4td5{
	width:200px;
	height:50px;
	height:auto!important;
	border-bottom: 2px grey dashed;
}




/*第五页*/
.pg5_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:20px;
	text-indent: 1em;
	margin-top:30px;
	letter-spacing: 1px;
}

.pg5_p1 {
	background-color:#EBEDF3;
	font-size:20px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	letter-spacing: 1px;
}

.pg5_div2{
	height:50px;
	line-height: 50px;
	background-color: #EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:20px;
	text-align:justify;
}


.pg5_div3{
	text-indent:2em;
	margin-top:30px;
	letter-spacing: 1px;
	margin-left:20px;
	font-size:18px;
}

.pg5_div4{
	border:3px solid #5EB129;
	width:1030px;
	height:530px;
	height:auto!important;
/*	letter-spacing: 1px;*/
	margin-top:30px;
}

.pg5_td1{
	width:150px;
	font-size:20px;
	height:50px;
	color:white;
	text-align:center;
	background-color:#5EB129;
}

.pg5_td2{
	width:850px;
	font-size:18px;
	line-height: 2px;
	border-top:2px dashed grey;
	padding-top:10px;
}

.pg5_td3{
	width:150px;
	height:60px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #336248;
}

.pg5_td4{
	width:850px;
	font-size:18px;
	border-top:2px dashed grey;
	text-align:justify;
	height:auto!important;
	line-height: 25px;
	padding-top:15px;
	padding-bottom: 15px;
}

.pg5_td5{
	width:150px;
	height:150px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #567765;
}

.pg5_td6{
	width:850px;
	font-size:18px;
	border-top:2px dashed grey;
	text-align:justify;
	border-bottom:2px dashed grey;
	height:auto!important;
	line-height: 25px;
	padding-top:15px;
	padding-bottom: 15px;
}

.pg5_td7{
	width:150px;
	height:80px;
	font-size:20px;
	color:white;
	text-align:center;
	background-color: #658672
}

.pg5_td8{
	width:150px;
	font-size:18px;
	text-align:center;
	height:auto!important;
	line-height: 25px;
	padding-top:15px;
	padding-bottom: 15px;
}


.pg5_td8td1{
	width:250px;
	height:60px;
	background-color:#726F6F;
	color:white;
	letter-spacing: 1px;
	text-align:center;
	word-break:break-all;
}

.pg5_td8td2{
	width:350px;
	height:60px;
	background-color:#81817F;
	color:white;
	text-align:center;
	letter-spacing: 1px;
	word-break:break-all;
}

.pg5_td8td3{
	width:350px;
	height:60px;
	background-color:#949491;
	color:white;
	letter-spacing: 1px;
	text-align:center;
	word-break:break-all;
}

.pg5_td8td4{
	width:250px;
	height:auto!important;
	text-align:center;
	border-bottom:2px dashed grey;
	padding:8px 2px;
}

.pg5_td8td5{
	width:350px;
	text-align:center;
	border-bottom:2px dashed grey;
}

.pg5_td8td6{
	width:350px;
	text-align:center;
	border-bottom:2px dashed grey;
}



/*第六页*/
.pg6_p1{
	font-size:20px;
	text-indent:2em;
	margin-top:30px;
}

.pg6_table1{
	font-size:20px;
	line-height:1.4;
	text-align:center;
	margin-top:65px;
}


.pg6_div{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:20px;
	text-indent: 1em;
	margin-top:30px;
	letter-spacing: 1px;
}

.pg6_td1{
	width:180px;
	height:80px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg6_td2{
	width:520px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg6_td3{
	width:135px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
	letter-spacing: 1px;
}

.pg6_td4{
	width:135px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
	letter-spacing: 1px;
}

.pg6_td5{
	width:60px;
	height:60px;
	background-color:#2E6942;
	color:white;
	text-align:center;
	letter-spacing: 1px;
}

.pg6_td6{
	width:155px;
	height:60px;
	background-color:#2E6942;
	color:white;
	letter-spacing: 1px;
}

.pg6_table2{
	width:1030px;
	margin-top:6px;
	font-size:20px;
	line-height:1.4;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.pg6_td7{
	width:180px;
	height:50px;
	border-bottom: 2px dashed grey;
	word-break:break-all;
}


.pg6_td8{
	width:420px;
	height:50px;
	border-bottom: 2px dashed grey;
	padding-top:20px;
	padding-bottom: 20px;
	word-break:break-all;
}

.pg6_td9{
	font-size:20px;
	width:135px;
	height:50px;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}

.pg6_td10{
	width:135px;
	height:50px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}

.pg6_td11{
	width:60px;
	height:50px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}

.pg6_td12{
	width:150px;
	height:50px;
	font-size:20px;
	height:auto!important;
	border-bottom: 2px grey dashed;
	word-break:break-all;
}


/*第七页*/
.pg7_p1{
	margin-top:60px;
	font-size:20px;
	line-height:48px;
}



.pg7_p2{
	border-radius: 7px;
	margin-top: 60px;
	text-indent: 2em;
	height:35px;
	line-height:35px;
	width:1030px;
	background-color: #EBE7E8;
}

/*第十一页*/



.pg8_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;

}

.pg8_div2{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #497750;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg8_img{
	width:700px;
	margin-left:300px;
	margin-top:80px;
}



/*第九页*/
.pg9_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg9_p1{
	font-size:22px;
	background-color: #EBE7E8;
	height:50px;
	line-height: 50px;
	text-indent: 2em;
}

.pg9_table1{
	font-size:22px;
	line-height:1.4;
	text-align:center;
	margin-top:30px;
	width:1030px;
}

.pg9_td1{
	width:180px;
	height:65px;
	background-color:#0C4324;
	color:white;
}


.pg9_td2{
	width:180px;
	background-color:#184C2C;
	color:white;
}

.pg9_td3{
	width:230px;
	background-color:#2E5C40;
	color:white;
}

.pg9_td4{
	width:160px;
	background-color:#3F664E;
	color:white;
}

.pg9_td5{
	width:280px;
	background-color:#4F705D;
	color:white;
}

.pg9_td6{
	width:180px;
	background-color:#5E806A;
	color:white;
}

.pg9_td7{
	width:200px;
	background-color:#75907C;
	color:white;
}


.pg9_table2{
	width:1030px;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
}

.pg9_td8{
	border-bottom: 2px dashed grey;
	width:190px;
	height:35px;
}


.pg9_td9{
	border-bottom: 2px dashed grey;
	width:230px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg9_td10{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}


.pg9_td11{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:120px;
}


.pg9_td12{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}


.pg9_td13{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}


.pg9_td14{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:200px;
}

.pg9_td15{
	border-bottom: 2px dashed grey;
	width:180px;
	height:35px;
}

.pg9_td16{
	border-bottom: 2px dashed grey;
	width:200px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg9_td17{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:260px;
}

.pg9_td18{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg9_td19{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg9_td20{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg9_td21{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:200px;
}

.pg9_td22{
	width:210px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg9_td23{
	font-size:20px;
	height:auto!important;
	width:260px;
}

.pg9_td24{
	font-size:20px;
	height:auto!important;
	width:180px;
}

.pg9_td25{
	font-size:20px;
	height:auto!important;
	width:280px;
}

.pg9_td26{
	font-size:20px;
	height:auto!important;
	width:200px;
}

.pg9_td27{
	font-size:20px;
	height:auto!important;
	width:200px;
}

.pg9_p2{
	font-size:22px;
	background-color: #EBE7E8;
	height:50px;
	line-height: 50px;
	text-indent: 2em;
	margin-top:60px;
}

.pg9_table3{
	font-size:20px;
	line-height:1.4;
	text-align:center;
	margin-top:20px;
	width:1030px;
}

.pg9_td28{
	width:160px;
	height:65px;
	background-color:#0C4324;
	color:white;
}

.pg9_td29{
	width:160px;
	background-color:#184C2C;
	color:white;
}

.pg9_td30{
	width:160px;
	background-color:#2E5C40;
	color:white;
}

.pg9_td31{
	width:160px;
	background-color:#3F664E;
	color:white;
}

.pg9_td32{
	width:240px;
	background-color:#4F705D;
	color:white;
}

.pg9_td33{
	width:180px;
	background-color:#5E806A;
	color:white;
}

.pg9_td34{
	width:340px;
	background-color:#75907C;
	color:white;
}

.pg9_table4{
	width:1030px;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	border:2px solid #5EB129;
	border-collapse:collapse;
	border-spacing:0;
}

.pg9_td35{
	border-bottom: 2px dashed grey;
	width:160px;
	height:35px;
}

.pg9_td36{
	border-bottom: 2px dashed grey;
	width:190px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg9_td37{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg9_td38{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}
.pg9_td39{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg9_td40{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg9_td41{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:340px;
}

.pg9_td42{
	border-bottom: 2px dashed grey;
	width:160px;
	height:35px;
}

.pg9_td43{
	border-bottom: 2px dashed grey;
	width:190px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg9_td44{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg9_td45{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg9_td46{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg9_td47{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg9_td48{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:340px;
}

.pg9_td49{
	border-bottom: 2px dashed grey;
	width:160px;
	height:35px;
}

.pg9_td50{
	border-bottom: 2px dashed grey;
	width:190px;
	padding-top:10px;
	padding-bottom: 10px;
}

.pg9_td51{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg9_td52{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:160px;
}

.pg9_td53{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:280px;
}

.pg9_td54{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:180px;
}

.pg9_td55{
	font-size:20px;
	height:auto!important;
	border-bottom: 2px dashed grey;
	width:340px;
}


#up_mark{
	font-size:2px;
}

/*第十页*/
.pg10_div1{
	color:white;
	width:35%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:20px;
	text-indent: 1em;
	margin-top:30px;
	letter-spacing: 1px;
}

.pg10_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg10_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.egr_img{
	width:700px;
	margin-left:150px;
}

.pg10_p3{
	font-size:20px;
	margin-left:350px;
}

.pg10_p4{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg10_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第十一页*/
.pg11_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg11_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg11_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.ak_img{
	width:600px;
	margin-left:200px;
}

.pg11_p4{
	font-size:20px;
	margin-left:350px;
}

.pg11_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg11_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第十二页*/
.pg12_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg12_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg12_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.ro_img{
	width:600px;
	margin-left:200px;
}

.pg12_p4{
	font-size:20px;
	margin-left:350px;
}

.pg12_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg12_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第十三页*/

.pg13_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg13_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg13_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.rt_img{
	width:700px;
	margin-left:200px;
}

.pg13_p4{
	font-size:20px;
	margin-left:350px;
}

.pg13_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第十四页*/

.pg14_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg14_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg14_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.krs_img{
	width:1000px;
}

.pg14_p4{
	font-size:20px;
	margin-left:400px;
}

.pg14_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg14_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;	
}


/*第十五页*/
.pg15_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg15_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg15_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.brf_img{
	width:800px;
	margin-left:100px;
}

.pg15_p4{
	font-size:20px;
	margin-left:350px;
}

.pg15_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg15_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}



/*第十六页*/
.pg16_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg16_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg16_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.me_img{
	width:700px;
	margin-left:150px;
}

.pg16_p4{
	font-size:20px;
	margin-left:300px;
}

.pg16_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg16_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第十七页*/
.pg17_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg17_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg17_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.HE_img{
	width:1000px;
	margin-left:20px;
}

.pg17_p4{
	font-size:20px;
	margin-left:350px;
}

.pg17_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg17_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg17_p7{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第十八页*/
.pg18_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg18_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg18_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.nrs_img{
	width:1000px;
}

.pg18_p4{
	font-size:20px;
	margin-left:350px;
}

.pg18_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg18_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第十九页*/
.pg19_p1{
	background-color:#EBEDF3;
	font-size:23.5px;
	text-indent: 1em;
	height:47px;
	line-height: 47px;
	margin-top:30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.pg19_p2{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg19_p3{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pik_img{
	width:600px;
	margin-left:200px;
}

.pg19_p4{
	font-size:20px;
	margin-left:350px;
}

.pg19_p5{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}

.pg19_p6{
	font-size:23.5px;
	text-indent: 2em;
	line-height: 35px;
}


/*第二十页*/
.pg20_div1{
	color:white;
	width:30%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}

.pg20_td1{
	text-indent:1em;
	height:50px;
	background-color: #EBEDF3;
	font-size:23.5px;
	width:210px;
	padding-bottom: 38px;
}

.pg20_td2{
	height:50px;
	line-height: 35px;
	background-color: #EBEDF3;
	font-size:23.5px;
}

.pg20_table1{
	border:2px solid #5EB129;
	margin-top:80px;
	margin-left:210px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}


.pg20_td3{
	text-align:center;
	height:90px;
	width:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA
}


.pg20_td4{
	text-align:center;
	width:730px;
	border-top:2px dashed grey;
}


.pg20_td5{
	text-align:center;
	height:130px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg20_td6{
	width:230px;
	border-top:2px dashed grey;
}

.pg20_p1{
	margin-left:30px;
	margin-right:50px;
	line-height: 2em;
}

.pg20_td7{
	text-align:center;
	height:130px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg20_td8{
	width:230px;
	border-top:2px dashed grey;
}

.pg20_p2{
	margin-left:30px;
	margin-right:50px;
	line-height: 2em;
}

.pg20_td9{
	text-align:center;
	height:130px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg20_td10{
	width:230px;
	border-top:2px dashed grey;
}


.pg20_td11{
	margin-left:30px;
	margin-right:50px;
	line-height: 2em;
}


.pg20_td12{
	text-align:center;
	height:130px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg20_td13{
	width:230px;
	border-top:2px dashed grey;
}

.pg20_td14{
	margin-left:30px;
	margin-right:50px;
	line-height: 2em;
}

.pg20_td15{
	text-align:center;
	height:130px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg20_td16{
	width:230px;
	border-top:2px dashed grey;
}

.pg20_td17{
	margin-left:30px;
	margin-right:50px;
	line-height: 2em;
}

.pg20_td18{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg20_td19{
	width:230px;
	border-top:2px dashed grey;
}
.pg20_td20{
	margin-left:30px;
	margin-right:50px;
	line-height: 2em;
}

/*第二十一页*/

.pg21_div1{
	color:white;
	width:33%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
}


.pg21_table1{
	border:2px solid #5EB129;
	margin-top:30px;
	border-collapse:collapse;
	border-spacing:0;font-size:20px;
}

.pg21_td1{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td2{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg21_td3{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}


.pg21_td4{
	width:230px;
	border-top:2px dashed grey;
}

.pg21_td5{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg21_td6{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td7{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg21_td8{
	text-align:center;
	height:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td9{
	width:230px;
	border-top:2px dashed grey;
}

.pg21_td10{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg21_td11{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td12{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg21_table2{
	border:2px solid #5EB129;
	margin-top:80px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}

.pg21_td13{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td14{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg21_td15{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td16{
	width:230px;
	border-top:2px dashed grey;
}

.pg21_td17{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg21_td18{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td19{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg21_td20{
	text-align:center;
	height:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td21{
	width:230px;
	border-top:2px dashed grey;
}

.pg21_td22{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg21_td23{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg21_td24{
	border-top:2px dashed grey;
	text-align:center;
}

/*第二十二页*/

.pg22_table1{
	border:2px solid #5EB129;
	margin-top:30px;
	border-collapse:collapse;
	border-spacing:0;font-size:20px;
}

.pg22_td1{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td2{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg22_td3{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td4{
	width:230px;
	border-top:2px dashed grey;
}

.pg22_td5{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg22_td6{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td7{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg22_td8{
	text-align:center;
	height:140px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td9{
	width:230px;
	border-top:2px dashed grey;
}

.pg22_td10{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg22_td11{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td12{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}


.pg22_table2{
	border:2px solid #5EB129;
	margin-top:60px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}



.pg22_td13{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td14{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg22_td15{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td16{
	width:230px;
	border-top:2px dashed grey;
}


.pg22_td17{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg22_td18{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td19{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg22_td20{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td21{
	width:230px;
	border-top:2px dashed grey;
}

.pg22_td22{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}


.pg22_td23{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}



.pg22_td24{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}


.pg22_table3{
	border:2px solid #5EB129;
	margin-top:60px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}


.pg22_td25{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}



.pg22_td26{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}



.pg22_td27{
	text-align:center;
	height:90px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td28{
	width:230px;
	border-top:2px dashed grey;
}

.pg22_td29{
	margin-left:30px;
	margin-right:50px;
	text-align:justify

}

.pg22_td30{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td31{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg22_td32{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td33{
	width:230px;
	border-top:2px dashed grey;
}

.pg22_td34{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg22_td35{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg22_td36{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

/*第二十三页*/

.pg23_table1{
	border:2px solid #5EB129;
	margin-top:30px;
	border-collapse:collapse;
	border-spacing:0;
	font-size:20px;
}

.pg23_td1{
	text-align:center;
	height:50px;
	width:230px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg23_td2{
	text-align:center;
	width:830px;
	border-top:2px dashed grey;
}

.pg23_td3{
	text-align:center;
	height:110px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg23_td4{
	width:230px;
	border-top:2px dashed grey;
}

.pg23_td5{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg23_td6{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg23_td7{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}

.pg23_td8{
	text-align:center;
	height:200px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}


.pg23_td9{
	width:230px;
	border-top:2px dashed grey;
}

.pg23_td10{
	margin-left:30px;
	margin-right:50px;
	text-align:justify;
}

.pg23_td11{
	text-align:center;
	height:50px;
	border-top:2px dashed grey;
	border-right:2px solid #BABABA;
}

.pg23_td12{
	width:230px;
	border-top:2px dashed grey;
	text-align:center;
}


/*第二十四页*/

.pg24_div1{
	color:white;width:33%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
	margin-bottom:10px;
}

.pg24_div2{
	font-size:22px;
	font-family: Times New Roman;
	line-height:35px;
	text-align:justify;
}


/*第二十五页*/

.pg25_div1{
	color:white;width:33%;
	height:50px;
	line-height: 50px;
	background-color: #125F37;
	font-size:23.5px;
	text-indent: 1em;
	margin-top:30px;
	margin-bottom:10px;
}


.pg25_div2{
	font-size:22px;
	font-family:Times New Roman;
	line-height:35px;
	text-align:justify;
}
